{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emploies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Heurdebut</th>
                <th>Heurfin</th>
                <th>Datejour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emploie in emploies %}
            <tr>
                <td><a href="{{ path('emploie_show', { 'id': emploie.id }) }}">{{ emploie.id }}</a></td>
                <td>{% if emploie.heurDebut %}{{ emploie.heurDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if emploie.heurFin %}{{ emploie.heurFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if emploie.datejour %}{{ emploie.datejour|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('emploie_show', { 'id': emploie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('emploie_edit', { 'id': emploie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emploie_new') }}">Create a new emploie</a>
        </li>
    </ul>
{% endblock %}
