{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            EMPLOIE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> CREATION EMPLOIE DU TEMPS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                         <div class="col-lg-12 col-md-12">

                             <div class="col-lg-12 col-md-12">
                                 <div class="form-group">
                                     <div class="input-group-addon">
                                         {{ form_label(form.salles,'Salles') }}
                                         {{ form_widget(form.salles,{'attr':{'class':'form-control input-sm'}}) }}
                                         {{ form_errors(form.salles) }}
                                     </div>
                                     <div class="input-group-addon">
                                         {{ form_label(form.matiers,'Matieres') }}
                                         {{ form_widget(form.matiers,{'attr':{'class':'form-control input-sm'}}) }}
                                         {{ form_errors(form.matiers) }}
                                     </div>

                                     <div class="input-group-addon ">
                                         {{ form_label(form.datejour,'Date') }}
                                         {{ form_widget(form.datejour,{'attr':{'class':'form-control input-sm','required':'required'}}) }}
                                         {{ form_errors(form.datejour) }}
                                     </div>


                                     <div class="input-group-addon">
                                         <div class="form-group">
                                             <label>Debut</label>
                                             <div class="input-group-addon">
                                                 {{ form_label(form.heurDebut.hour,'Heure') }}
                                                 {{ form_widget(form.heurDebut.hour,{'attr':{'class':'form-control input-sm'}}) }}
                                                 {{ form_errors(form.heurDebut.hour) }}
                                             </div>
                                             <div class="input-group-addon">
                                                 {{ form_label(form.heurDebut.minute,'Minute') }}
                                                 {{ form_widget(form.heurDebut.minute,{'attr':{'class':'form-control input-sm'}}) }}
                                                 {{ form_errors(form.heurDebut.minute) }}
                                             </div>
                                         </div>
                                     </div>

                                     <div class="input-group-addon">
                                         <div class="form-group">
                                             <label>Fin</label>
                                             <div class="input-group-addon">
                                                 {{ form_label(form.heurFin.hour,'Heure') }}
                                                 {{ form_widget(form.heurFin.hour,{'attr':{'class':'form-control input-sm'}}) }}
                                                 {{ form_errors(form.heurFin.hour) }}
                                             </div>
                                             <div class="input-group-addon">
                                                 {{ form_label(form.heurFin.minute,'Minute') }}
                                                 {{ form_widget(form.heurFin.minute,{'attr':{'class':'form-control input-sm'}}) }}
                                                 {{ form_errors(form.heurFin.minute) }}
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>


                            <br>
                            <div class="row pull-right">
                                <div class="col-lg-6  col-lg-pull-2">
                                    <a href="{{ path('etudiants_index') }}">
                                        Retour
                                    </a>
                                </div>
                                {{ form_rest(form) }}
                                <div class="col-lg-6 col-lg-pull-2">
                                    <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped table-bordered table-hover" >
                                <thead>
                                <caption class="caption" style="padding: 10px; caption-side: top; color: #0a0a0a;font-family: Elephant;font-size: medium">Disponibilité des salles </caption>
                                <tr>
                                    <th>Horaires</th>
                                    <th>Lundi</th>
                                    <th>Mardi</th>
                                    <th>Mercredi</th>
                                    <th>Jeudi</th>
                                    <th>Vendredi</th>
                                    <th>Samedi</th>
                                    <th>Dimance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {#{% for emploie in emploies %}#}
                                    {#<tr>#}

                                        {#<td>{{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}</td>#}

                                        {#<td>#}
                                            {#{% if emploie.interval =="Lu" and  emploie.matiers.name !=null  %}#}
                                            {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                        {#<td>#}
                                            {#{% if emploie.interval =="Ma"  and  emploie.matiers.name !=null  %}#}
                                                {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                        {#<td>#}
                                            {#{% if (emploie.datejour| date('D'))=="Wed"  %}#}
                                                {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                        {#<td>#}
                                            {#{% if (emploie.datejour| date('D'))=="Thu"  %}#}
                                                {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                        {#<td>#}
                                            {#{% if (emploie.datejour| date('D'))=="Fri"  %}#}
                                                {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                        {#<td> {% if (emploie.datejour| date('D'))=="Sat"  %}#}
                                                {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}</td>#}
                                        {#<td>#}
                                            {#{% if (emploie.datejour| date('D'))=="Sun"  %}#}
                                                {#{{ emploie.matiers.name }}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                    {#</tr>#}
                                {#{% endfor %}#}


                                    <tr>
                                        {% for emploie in emploies %}
                                        <td>{{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}</td>

                                        <td>
                                            {% if emploie.interval =="Lu" and  emploie.matiers.name !=null  %}
                                                {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                                {% elseif emploie.interval =="Ma"  and  emploie.matiers.name !=null  %}
                                                    {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                            {% elseif emploie.interval =="Mr"  and  emploie.matiers.name !=null  %}
                                                {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                            {% elseif emploie.interval =="Je"  and  emploie.matiers.name !=null  %}
                                                {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                            {% elseif emploie.interval =="Ven"  and  emploie.matiers.name !=null  %}
                                                {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                            {% elseif emploie.interval =="Sa"  and  emploie.matiers.name !=null  %}
                                                {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                            {% elseif emploie.interval =="Ma"  and  emploie.matiers.name !=null  %}
                                                {{ emploie.matiers.name }} {{ emploie.heurDebut|date('H:i') }}  -  {{ emploie.heurFin |date('H:i') }}
                                            {% endif %}
                                        </td>  {% endfor %}
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
{% endblock %}

