{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emploie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emploie.id }}</td>
            </tr>
            <tr>
                <th>Heurdebut</th>
                <td>{% if emploie.heurDebut %}{{ emploie.heurDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurfin</th>
                <td>{% if emploie.heurFin %}{{ emploie.heurFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datejour</th>
                <td>{% if emploie.datejour %}{{ emploie.datejour|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emploie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('emploie_edit', { 'id': emploie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
