{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.name,'Nom faculte') }}
                            {{ form_widget(edit_form.name,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.name) }}
                        </div>

                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.code,'Code faculte') }}
                            {{ form_widget(edit_form.code,{'attr':{'class':'form-control ckeditor'}}) }}
                            {{ form_errors(edit_form.code) }}
                        </div>

                    </div>

                    <br>

                    <div class="form-group">
                        <div class="input-group-addon">
                            <a href="{{ path('facultes_index') }}">
                                <button type="button" class="btn "><span
                                            class="glyphicon glyphicon-backward">   Retour</span>
                                </button>
                            </a>

                        </div>
                        <div class="input-group-addon">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}



