{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification Personnel
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.name,'Nom *') }}
                                    {{ form_widget(edit_form.name,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.name) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.prenom,'Prenom *') }}
                                    {{ form_widget(edit_form.prenom,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.prenom) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.tel1,'Telephone 1 *') }}
                                    {{ form_widget(edit_form.tel1,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.tel1) }}

                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.tel2,'Telephone 2') }}
                                    {{ form_widget(edit_form.tel2,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.tel2) }}

                                </div>


                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.email,'Email *') }}
                                    {{ form_widget(edit_form.email,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.email) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.adresse,'Adresse') }}
                                    {{ form_widget(edit_form.adresse,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.adresse) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.fonction,'Fonction *') }}
                                    {{ form_widget(edit_form.fonction,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.fonction) }}
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6">


                                <div class="col-lg-12 col-md-12">

                                    {{ form_label(edit_form.GradeAcademique,'Grade Academique') }}
                                    {{ form_widget(edit_form.GradeAcademique,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.GradeAcademique) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.typePersonnel,'Type Personnel *') }}
                                    {{ form_widget(edit_form.typePersonnel,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.typePersonnel) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.faculte,'Faculte *') }}
                                    {{ form_widget(edit_form.faculte,{'attr':{'class':'form-control input-sm','onchange':'chargeConcentration()'}}) }}
                                    {{ form_errors(edit_form.faculte) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.departement,'departement *') }}
                                    {{ form_widget(edit_form.departement,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.departement) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.roles,'Roles *') }}
                                    {{ form_widget(edit_form.roles,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.roles) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.image.file,'Image') }}
                                    {{ form_widget(edit_form.image.file,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.image.file) }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="input-group-addon">
                            <a href="{{ path('personnel_index') }}">
                                <button type="button" class="btn "><span
                                            class="glyphicon glyphicon-backward">   Retour</span>
                                </button>
                            </a>

                        </div>
                        <div class="input-group-addon">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            var faculte = $("#univbundle_personnel_faculte");
            var departement = $("#univbundle_personnel_departement");
            var role = $("#univbundle_personnel_roles");
            {% if personnel.departement!=null %}
            faculte.val("{{ personnel.departement.faculte.id }}");
            {% else %}

            {% endif %}
            role.val("{{ personnel.roles }}");

            var url = "{{ path('ims_departementjax') }}";
            {% if personnel.departement!=null %}
            var id_faculte = ("{{ personnel.departement.faculte.id }}");
            $.ajax({
                type: "POST",
                url: url,
                data: {'id_faculte': id_faculte},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    (departement).html('<option selected value=""> --- Selectioner un departement --- </option>');
//                    (departement).attr('required', 'required');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomdep = data[index].name;
                        (departement).append('<option value="' + id + '">' + nomdep + '</option>');
                    });
                    departement.val("{{ personnel.departement.id }}")
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });{% else %}

            {% endif %}

        });
        function chargeConcentration() {
            var faculte = $("#univbundle_personnel_faculte");
            var departement = $("#univbundle_personnel_departement");
            var url = "{{ path('ims_departementjax') }}";
            var id_faculte = (faculte).val();
            $.ajax({
                type: "POST",
                url: url,
                data: {'id_faculte': id_faculte},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(departement).html('<option selected value=""> --- Selectioner un departement --- </option>');
//                    $(departement).attr('required', 'required');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomdep = data[index].name;
                        $(departement).append('<option value="' + id + '">' + nomdep + '</option>');
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
        }
        $(document).on("change,keyup", "#univbundle_personnel_faculte", chargeConcentration);
    </script>
{% endblock %}




