{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                           PERSONNELS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'un personnel
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.name,'Nom *') }}
                                    {{ form_widget(form.name,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.prenom,'Prenom *') }}
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.prenom) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.tel1,'Telephone 1 *') }}
                                    {{ form_widget(form.tel1,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.tel1) }}

                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.tel2,'Telephone 2') }}
                                    {{ form_widget(form.tel2,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.tel2) }}

                                </div>


                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.email,'Email *') }}
                                    {{ form_widget(form.email,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.adresse,'Adresse') }}
                                    {{ form_widget(form.adresse,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.adresse) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.fonction,'Fonction *') }}
                                    {{ form_widget(form.fonction,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.fonction) }}
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6">


                                <div class="col-lg-12 col-md-12">

                                    {{ form_label(form.GradeAcademique,'Grade Academique ') }}
                                    {{ form_widget(form.GradeAcademique,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.GradeAcademique) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.typePersonnel,'Type Personnel *') }}
                                    {{ form_widget(form.typePersonnel,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.typePersonnel) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.faculte,'Faculte *') }}
                                    {{ form_widget(form.faculte,{'attr':{'class':'form-control input-sm','onchange':'chargeConcentration()'}}) }}
                                    {{ form_errors(form.faculte) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.departement,'Departement *') }}
                                    {{ form_widget(form.departement,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.departement) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.roles,'Roles *') }}
                                    {{ form_widget(form.roles,{'attr':{'class':'form-control input-sm','onchange':'optionnaliteChamp()'}}) }}
                                    {{ form_errors(form.roles) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.image.file,'Image') }}
                                    {{ form_widget(form.image.file,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.image.file) }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <br><br>
                    <div class="row ">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="input-group-addon">
                                    <a href="{{ path('personnel_index') }}">
                                        <button type="button" class="btn "><span class="glyphicon glyphicon-backward">   Retour</span>
                                        </button>
                                    </a>

                                </div>
                                {{ form_rest(form) }}
                                <div class="input-group-addon">
                                    <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            var departement = $("#univbundle_personnel_departement");
            var rolesName = ("#univbundle_personnel_roles");

//            $(rolesName).on('change', function () {
//                var gradeAcademique = $("#univbundle_personnel_GradeAcademique");
//                var typePersonnel = $("#univbundle_personnel_typePersonnel");
//                var faculte = $("#univbundle_personnel_faculte");
//                var departement = $("#univbundle_personnel_departement");
//                var rolevalue= $(this).val();
//                console.log(rolevalue);
//                if (rolevalue.isEqual('ROLE_CHEF_DEPARTEMENT')){
//                    (departement).attr('required', 'required');
//                    (faculte).attr('required', 'required');
//                    (gradeAcademique).attr('required', 'required');
//                    (typePersonnel).attr('required', 'required');
//                    console.log(rolevalue);
//                }else {
//                    (departement).attr('required', false);
//                    (faculte).attr('required', false);
//                    (gradeAcademique).attr('required', false);
//                    (typePersonnel).attr('required', false);
//                    console.log(rolevalue);
//                }
//
//            });

            $(departement).html('<option selected value=""> --- Selectioner un departement --- </option>');
        });
        function chargeConcentration() {
            var faculte = $("#univbundle_personnel_faculte");
            var departement = $("#univbundle_personnel_departement");
            var url = "{{ path('ims_departementjax') }}";
            var id_faculte = (faculte).val();
            $.ajax({
                type: "POST",
                url: url,
                data: {'facute_id': id_faculte},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(departement).html('<option selected value=""> --- Selectioner un departement --- </option>');
                    $(departement).attr('required', 'required');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomdep = data[index].name;
                        $(departement).append('<option value="' + id + '">' + nomdep + '</option>');
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
        }
        $(document).on("change,keyup", "#univbundle_personnel_faculte", chargeConcentration);



        function optionnaliteChamp() {
            var gradeAcademique = $("#univbundle_personnel_GradeAcademique");
            var typePersonnel = $("#univbundle_personnel_typePersonnel");
            var faculte = $("#univbundle_personnel_faculte");
            var departement = $("#univbundle_personnel_departement");
            var role= $("#univbundle_personnel_roles");
            if (role.val()== ('ROLE_CHEF_DEPARTEMENT') || role.val()==('ROLE_DIRECTEUR_PROGRAMME')){
                (departement).attr('required', 'required');
                (faculte).attr('required', 'required');
                (gradeAcademique).attr('required', 'required');
                (typePersonnel).attr('required', 'required');
                console.log(role.val());
            }else {
                (departement).attr('required', false);
                (faculte).attr('required', false);
                (gradeAcademique).attr('required', false);
                (typePersonnel).attr('required', false);
                console.log('not equale');
            }

        }
        $(document).on("change,keyup", "#univbundle_personnel_roles", optionnaliteChamp);
    </script>
{% endblock %}

