{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programmers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programmer in programmers %}
            <tr>
                <td><a href="{{ path('programmer_show', { 'id': programmer.id }) }}">{{ programmer.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('programmer_show', { 'id': programmer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('programmer_edit', { 'id': programmer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('programmer_new') }}">Create a new programmer</a>
        </li>
    </ul>
{% endblock %}
