{% extends '::layout.html.twig' %}

{% block contenu %}
    {% block header_content %}<br>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                        <div style="color: white;background:green"
                             class="alert alert-message-warning text-center text-capitalize" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <strong>{{ flashMessage|raw }} </strong>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endblock %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Programmation Module
                    </h3>
                    <span class="pull-right">
                        <i class="fa fa-fw ti-angle-up clickable "></i>
                        <i class="fa fa-fw ti-close"></i>
                    </span>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <fieldset>
                        <legend>Programmer un module</legend>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.dateDebut,'Date Debut') }}
                                    {{ form_widget(form.dateDebut,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.dateDebut) }}
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.dateFin,'Date Fin') }}
                                    {{ form_widget(form.dateFin,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.dateFin) }}
                                </div>
                                <div class="col-lg-4 col-md-4">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="row">
                                        <br>
                                        <div class="col-xs-12 col-md-12">
                                            {{ form_widget(form) }}
                                            <button type="submit" class="btn btn-success btn-sm btn-block"
                                                    role="button">
                                                <span class="glyphicon glyphicon-save"></span> Valider
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(form) }}
                    <br>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-heading">Liste des programmer</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered table-hover bootstrap-table " id="sample_1">
                                            <thead>
                                            <tr>
                                                <th>MODULES</th>
                                                <th>DATE DEBUT</th>
                                                <th>DATE FIN</th>
                                                <th>SESSION</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for programmer in programmationModule %}
                                                <tr>
                                                    <td>{{ programmer.module.name }}</td>
                                                    <td>{{ programmer.dateDebut|date('Y-m-d') }}</td>
                                                    <td>{{ programmer.dateFin |date('Y-m-d')}}</td>
                                                    <td>{{ programmer.sessions.sessions}}</td>
                                                    <td>
                                                        <a href="#">
                                                            <button type="button"
                                                                    class="btn btn-warning btn-sm "><span
                                                                        class="glyphicon glyphicon-edit"> Modifier</span>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-push-2">
                        <a href="{{ path('module_index') }}">
                            Retour
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
