{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paiements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datepaiement</th>
                <th>Montantpayer</th>
                <th>Flaginscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td><a href="{{ path('paiement_show', { 'id': paiement.id }) }}">{{ paiement.id }}</a></td>
                <td>{% if paiement.datepaiement %}{{ paiement.datepaiement|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ paiement.montantPayer }}</td>
                <td>{% if paiement.flagInscription %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paiement_show', { 'id': paiement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paiement_edit', { 'id': paiement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paiement_new') }}">Create a new paiement</a>
        </li>
    </ul>
{% endblock %}
