{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paiement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiement.id }}</td>
            </tr>
            <tr>
                <th>Datepaiement</th>
                <td>{% if paiement.datepaiement %}{{ paiement.datepaiement|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montantpayer</th>
                <td>{{ paiement.montantPayer }}</td>
            </tr>
            <tr>
                <th>Flaginscription</th>
                <td>{% if paiement.flagInscription %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paiement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paiement_edit', { 'id': paiement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
