{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
