{% extends '::layout.html.twig' %}

{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'une session
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            {{ form_label(form.sessions,'session') }}
                            {{ form_widget(form.sessions,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.sessions) }}
                        </div>
                        <div class="col-lg-2">
                            <label for=""></label>
                            {{ form_label(form.encour,'') }}
                            {{ form_widget(form.encour,{'attr':{'class':'checkbox'}}) }}
                            {{ form_errors(form.encour) }}
                        </div>

                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-lg-6  col-lg-pull-2">
                            <a href="{{ path('sessions_index') }}">
                                Retour
                            </a>
                        </div>
                        {{ form_rest(form) }}
                        <div class="col-lg-6 col-lg-pull-2">
                            <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

