<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                      Parametres
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('fraisinscription_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Frais Inscription/Reinscription
                </a>
            </li>
            <li>
                <a href="{{ path('pecule_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Pecule
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                      Paiement
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('frais_inscription') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i>Frais Inscription
                </a>
            </li>
            <li>
                <a href="{{ path('frais_reinscription') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i>Frais Reinscription
                </a>
            </li>

            <li>
                <a href="{{ path('recupecule_paiement') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i>Pecule
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                                 Etudiants
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li>
                <a href="{{ path('etudiants_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste des Etudiants
                </a>
            </li>
        </ul>
    </li>


</ul>