<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                      Parametre
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('matiers_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Matieres
                </a>
            </li>
            <li>
                <a href="{{ path('gradeacademique_index') }}">
                    <i class="fa fa-fw ti-control-skip-forward"></i> Grade Academique
                </a>
            </li>
            <li>
                <a href="{{ path('typeenseignant_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Types Enseignant
                </a>
            </li>
        </ul>
    </li>
    {#<li class="menu-dropdown">#}
        {#<a href="#">#}
            {#<i class="menu-icon ti-desktop"></i>#}
            {#<span>#}
                       {#Candidats Admins#}
                    {#</span>#}
            {#<span class="fa arrow"></span>#}
        {#</a>#}
        {#<ul class="sub-menu">#}

            {#<li>#}
                {#<a href="{{ path('dossier_new') }}">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> Importer#}
                {#</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="{{ path('adminbac_index') }}">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> Liste candidats-admins#}
                {#</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                                 Etudiants
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li class="">
                {#<a href="#">#}
                    {#<i class="fa fa-fw ti-control-skip-forward"></i> Inscription#}
                    {#<span class="fa arrow"></span>#}
                {#</a>#}
                <ul class="sub-menu sub-submenu collapse" aria-expanded="false" style="height: 0px;">
                    {#<li>#}
                        {#<a href="{{ path('adminbac_index') }}">#}
                            {#<i class="fa fa-fw ti-control-skip-forward"></i> Orienter#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('etudiants_new') }}">#}
                            {#<i class="fa fa-fw ti-control-skip-forward"></i> Non-Orienter#}
                        {#</a>#}
                    {#</li>#}

                </ul>
            {#<li>#}
                {#<a href="{{ path('etudiants_index') }}">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> Reinscription#}
                {#</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('etudiants_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste des Etudiants
                </a>
            </li>

            <li>
                <a href="{{ path('detailconge_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Congés Etudiants
                </a>
            </li>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion Notes
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('univ_notation_simpleBis') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Notation Individuel
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_departement_niveau_matier') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Notation Collective
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_fiche_de_notes') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Fiche de notes
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_fiche_de_notes_vierge') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Fiche de  Note Vierge
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_liste_etudiant_bulletin') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Bulletin de notes
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Sessionnaires
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">

            <li>
                <a href="{{ path('univ_notation_Etudiant_En_Session1') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> En sessions
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_Etudiant_En_Dette1') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> En Dettes
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion enseignant
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('enseignant_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste
                </a>
            </li>
            <li>
                <a href="{{ path('enseignant_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Ajouter
                </a>
            </li>
        </ul>
    </li>



        <li class="menu-dropdown">
            <a href="#">
                <i class="menu-icon ti-desktop"></i>
                <span>
                EMPLOI DU TEMPS
            </span>
                <span class="fa arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{{ path('calendrier_new') }}">
                        <i class="fa fa-fw ti-layout-placeholder" ></i> Ajouter un programme
                    </a>
                </li>
                <li>
                    <a href="{{ path('calendrier_index') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Vu Publique
                    </a>
                </li>
            </ul>
        </li>

</ul>