<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                     CONGE
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">

            <li>
                <a href="{{ path('detailconge_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder" ></i> Prendre conge
                </a>
            </li>
            <li>
                <a href="{{ path('detailconge_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Mes conges
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                      Mes Notes
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('etudiants_imesNotes') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Mes Notes
                </a>
            </li>
            {#<li>#}
                {#<a href="#">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> Toutes mes note#}
                {#</a>#}
            {#</li>#}
        </ul>
    </li>
</ul>