<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                      Parametre
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('universite_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Universite
                </a>
            </li>

            <li>
                <a href="{{ path('facultes_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Facultes
                </a>
            </li>
            <li>
                <a href="{{ path('departement_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Departements
                </a>
            </li>
            <li>
                <a href="{{ path('licence_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Niveaux
                </a>
            </li>

            <li>
                <a href="{{ path('sessions_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Sessions
                </a>
            </li>
            <li>
                <a href="{{ path('semetre_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Semestres
                </a>
            </li>

            <li>
                <a href="{{ path('matiers_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Matieres
                </a>
            </li>


            <li>
                <a href="{{ path('fonction_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Fonnction
                </a>
            </li>

            <li>
                <a href="{{ path('gradeacademique_index') }}">
                    <i class="fa fa-fw ti-control-skip-forward"></i> Grade Academique
                </a>
            </li>


        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Candidats Admins
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">

            <li>
                <a href="{{ path('dossier_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Importer
                </a>
            </li>
            {#<li>#}
                {#<a href="{{ path('adminbac_index') }}">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> Liste candidats-admins#}
                {#</a>#}
            {#</li>#}


        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                                 Etudiants
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li class="">
                <a href="#">
                    <i class="fa fa-fw ti-control-skip-forward"></i> Preinscription
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu sub-submenu collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="{{ path('adminbac_new') }}">
                            <i class="fa fa-fw ti-control-skip-forward"></i> Non-Orienter
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('recycle_new') }}">
                            <i class="fa fa-fw ti-control-skip-forward"></i> Recycle
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <ul class="sub-menu" style="">
            <li class="">
            <li>
                <a href="{{ path('adminbac_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Inscription
                </a>
            </li>

            <li>
                <a href="{{ path('ims_listeEtudiantForReinscription') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Reinscription
                </a>
            </li>
            <li>
                <a href="{{ path('etudiants_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste des Etudiants
                </a>
            </li>
            </li>
        </ul>


    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion Notes
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            {% if is_granted('ROLE_CHEF_DEPARTEMENT') -%}
                <li>
                    <a href="{{ path('univ_notation_simple') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Notation Individuel
                    </a>
                </li>
                <li>
                    <a href="{{ path('univ_notation_departement_niveau_matier') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Notation Collective
                    </a>
                </li>
                <li>
                    <a href="{{ path('univ_notation_fiche_de_notes') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Fiche de notes
                    </a>
                </li>
                <li>
                    <a href="{{ path('univ_notation_liste_etudiant_bulletin') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Bulletin de notes
                    </a>
                </li>
            {% elseif is_granted('ROLE_ENSEGNANT') %}
                <li>
                    <a href="{{ path('enseignant_matiereEnseigner') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Noter
                    </a>
                </li>
                <li>
                    <a href="{{ path('enseignant_matiereEnseignerForListeNote') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> liste des notes
                    </a>
                </li>
            {% endif %}


        </ul>
    </li>
    {% if is_granted('ROLE_PERSONNEL') %}
        <li class="menu-dropdown">
            <a href="#">
                <i class="menu-icon ti-desktop"></i>
                <span>
                       Gestion Personnels
                    </span>
                <span class="fa arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{{ path('personnel_index') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Liste
                    </a>
                </li>
                <li>
                    <a href="{{ path('personnel_new') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Ajouter
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion enseignant
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('enseignant_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste
                </a>
            </li>
            <li>
                <a href="{{ path('enseignant_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Ajouter
                </a>
            </li>
        </ul>
    </li>

</ul>