<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                      Parametre
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('matiers_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Matieres
                </a>
            </li>
            <li>
                <a href="{{ path('gradeacademique_index') }}">
                    <i class="fa fa-fw ti-control-skip-forward"></i> Grade Academique
                </a>
            </li>
            <li>
                <a href="{{ path('typeenseignant_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Types Enseignant
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                                 Etudiants
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li class="">
                {#<a href="#">#}
                    {#<i class="fa fa-fw ti-control-skip-forward"></i> Inscription#}
                    {#<span class="fa arrow"></span>#}
                {#</a>#}
                <ul class="sub-menu sub-submenu collapse" aria-expanded="false" style="height: 0px;">
                    {#<li>#}
                        {#<a href="{{ path('adminbac_index') }}">#}
                            {#<i class="fa fa-fw ti-control-skip-forward"></i> Orienter#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('etudiants_new') }}">#}
                            {#<i class="fa fa-fw ti-control-skip-forward"></i> Non-Orienter#}
                        {#</a>#}
                    {#</li>#}

                </ul>
            {#<li>#}
                {#<a href="{{ path('etudiants_index') }}">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> Reinscription#}
                {#</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('etudiants_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste des Etudiants
                </a>
            </li>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion enseignant
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('enseignant_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste
                </a>
            </li>
            <li>
                <a href="{{ path('enseignant_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Ajouter
                </a>
            </li>
        </ul>
    </li>


        <li class="menu-dropdown">
            <a href="#">
                <i class="menu-icon ti-desktop"></i>
                <span>
                EMPLOI DU TEMPS
            </span>
                <span class="fa arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{{ path('calendrier_new') }}">
                        <i class="fa fa-fw ti-layout-placeholder" ></i> Ajouter un programme
                    </a>
                </li>
                <li>
                    <a href="{{ path('calendrier_index') }}">
                        <i class="fa fa-fw ti-layout-placeholder"></i> Vu Publique
                    </a>
                </li>
            </ul>
        </li>

</ul>