<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Candidats Admins
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">

            <li>
                <a href="{{ path('dossier_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Importer
                </a>
            </li>
            <li>
                <a href="{{ path('adminbac_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste candidats-admis
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                                 Etudiants
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li class="">
                <a href="#">
                    <i class="fa fa-fw ti-control-skip-forward"></i> Preinscription
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu sub-submenu collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="{{ path('adminbac_new') }}">
                            <i class="fa fa-fw ti-control-skip-forward"></i> Non-Orienter
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('recycle_new') }}">
                            <i class="fa fa-fw ti-control-skip-forward"></i> Recycle
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <ul class="sub-menu" style="">
            <li class="">
            <li>
                <a href="{{ path('adminbac_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Inscription
                </a>
            </li>

                <li>
                <a href="{{ path('ims_listeEtudiantForReinscription') }}">
                <i class="fa fa-fw ti-layout-placeholder"></i> Reinscription
                </a>
                </li>
            <li>
                <a href="{{ path('etudiants_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Liste des Etudiants
                </a>
            </li>
            </li>
        </ul>


    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion Notes
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('univ_notation_simple') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Notation Individuel
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_departement_niveau_matier') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Notation Collective
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_fiche_de_notes') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Fiche de notes
                </a>
            </li>

            <li>
                <a href="{{ path('univ_notation_fiche_de_notes_vierge') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Fiche de  Note Vierge
                </a>
            </li>
            <li>
                <a href="{{ path('univ_notation_liste_etudiant_bulletin') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Bulletin de notes
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Attestation
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li class="">
            <li>
                <a href="{{ path('etudiants_listeEtudiantpourAttestationInscription') }}">
                    <i class="fa fa-fw ti-control-skip-forward"></i> inscription
                </a>
            </li>
            </li>
        </ul>
    </li>
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                                Gestion Badges
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li>
                <a href="{{ path('univ_etudiant_creationBadge') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Badge
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-menu"></i>
            <span>
                              Resultats
                                </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu" style="">
            <li>
                <a href="{{ path('univ_consultation_resultat_etudiant') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Consultation
                </a>
            </li>

            <li>
                <a href="{{ path('univ_calcul_resultat_etudiant') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Calcul
                </a>
            </li>

            <li>
                <a href="{{ path('univ_consultation_fiche_resultat_etudiant') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Fiche de resultat
                </a>
            </li>
        </ul>
    </li>

</ul>