<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                       Gestion Notes
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('enseignant_matiereEnseigner') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Noter
                </a>
            </li>
            <li>
                <a href="{{ path('enseignant_matiereEnseignerForListeNote') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> liste des notes
                </a>
            </li>


        </ul>
    </li>

    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                     Pointage Etudiants
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('enseignant_matiereEnseignerForPresenceEtudiant') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Pointer / matiere
                </a>
            </li>
            {#<li>#}
                {#<a href="{{ path('enseignant_matiereEnseignerForListeNote') }}">#}
                    {#<i class="fa fa-fw ti-layout-placeholder"></i> liste des Presence#}
                {#</a>#}
            {#</li>#}


        </ul>
    </li>

    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                    Statistique
                    </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('enseignant_matiereEnseignerStatistiqueForPresenceEtudiant') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Presence
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="{{ path('calendrier_index') }}">
            <i class="fa fa-fw ti-layout-placeholder"></i>  EMPLOI DU TEMPS
        </a>
    </li>
</ul>