<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GESTION UNIV | ADMINISTRATION</title>
    {% include 'js_css/linck_css.html.twig' %}
</head>

<body class="skin-lavender-gray">
<div class="preloader">
    <div class="loader_img"><img src="{{ asset('adminStyle/img/loader.gif') }}" alt="loading..." height="64" width="64">
    </div>
</div>
<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="logo">
            <img class="img-responsive" style="height:50px; background-color: white;width:50px"
                 src="{{ asset('img/logo.png') }}" alt="GESTION-UNIV"/>
        </a>
        <div>
            <a href="" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i
                        class="fa fa-fw ti-menu"></i>
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav" style="position: relative;left: -20px">
                <li class="dropdown messages-menu">
                    <a href=#" class="dropdown-toggle" data-toggle="dropdown">
                        {#<span class="cart-icon">  <i class=" fa-500px fa fa-shopping-cart black"></i></span>#}
                        {#<span class="label label-success"> 5</span>#}
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown-->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0)" class="dropdown-toggle padding-user" data-toggle="dropdown">
                        <div class="riot">
                            <div>
                                <strong>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') -%}
                                            <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                        {{ 'SUPER ADMINISTRATEUR' }}
                                        </span>
                                        {% elseif is_granted('ROLE_ADMIN') -%}
                                            <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                        Bienvenue Mr. ADMIN
                                        </span>
                                        {% elseif is_granted('ROLE_SUPERVISEUR') -%}
                                            <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                          Bienvenue Mr. {{ app.user.nom }}
                                        </span>

                                        {% elseif is_granted('ROLE_CHEF_DEPARTEMENT') -%}
                                            <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                       Bienvenue Mr. {{ app.user.nom }}
                                        </span>
                                        {% elseif is_granted('ROLE_ENSEGNANT') -%}
                                            <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                          Bienvenue Mr. {{ app.user.nom }}
                                        </span>
                                        {% elseif is_granted('ROLE_SCOLARITE') -%}
                                            <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                          Bienvenue Mr. {{ app.user.nom }}
                                                {% elseif is_granted('ROLE_COMPTABILITE') -%}
                                                <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                          Bienvenue Mr. {{ app.user.nom }}

                                                    {% elseif is_granted('ROLE_DIRECTEUR_PROGRAMME') -%}
                                                        <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                          Bienvenue Mr. {{ app.user.nom }}
                                        </span>

                                                {% elseif is_granted('ROLE_ETUDIANT') -%}
                                                    <span style="font-weight: bold;font-size: x-large;font-family: Elephant">
                                          Bienvenue Mr. {{ app.user.nom }}
                                        </span>
                                        {% endif %}
                                    {% endif %}
                                </strong>
                                <span>
                                        <i class="caret"></i>
                                    </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="user-header">
                                {#<img src="{{ asset('img/international-money-transfer.jpg') }}" class="img-circle"#}
                                     {#alt="Usere Image">#}
                                <p>
                                    {% if is_granted('ROLE_SUPER_ADMIN') -%}
                                        SUPER_ADMIN :  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_ADMIN') -%}
                                        ADMIN :  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_SUPERVISEUR') -%}
                                        SUPERVISEUR:  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_CHEF_DEPARTEMENT') -%}
                                        CHEF DEPARTEMENT :  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_ENSEGNANT') -%}
                                        ENSEGNANT :  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_SCOLARITE') -%}
                                        SCOLARITE :  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_COMPTABILITE') -%}
                                        COMPTABILITE :  {{ app.user.username }}
                                    {% elseif is_granted('ROLE_DIRECTEUR_PROGRAMME') -%}
                                        DIRECTEUR DE PROGRAMMES :  {{ app.user.username }}

                                    {% elseif is_granted('ROLE_ETUDIANT') -%}
                                        ETUDIANT :  {{ app.user.username }}
                                    {% endif %}
                                </p>
                            </li>
                            <li class="p-t-3">
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="fa fa-fw ti-user"></i>Mon profil
                                </a>
                            </li>

                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                {% if app.user.username=='supervisor' %}
                                    <li class="p-t-3">
                                        <a href="{{ path('fos_user_registration_register') }}">
                                            <i class="fa fa-fw ti-user"></i>Creer un Utilisateur
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            </li>
                        {% endif %}
                        <!-- Menu Body -->
                        <li role="presentation"></li>
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-fw ti-shift-right"></i>
                                        Déconnecter
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}"><i
                                                class="fa fa-fw ti-shift-left"></i> Se Connecter</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar-->
        <section class="sidebar">
            {% include 'menu/menu.html.twig' %}
            <!-- menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {% block header_content %}

        {% endblock %}
        <!-- Main content -->
        {% block contenu %}
            <section class="content">

            </section>
        {% endblock %}
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>


{% include 'js_css/linck_js.html.twig' %}
</body>

</html>
