/*
  Flaticon icon font: Flaticon
  Creation date: 09/05/2016 15:40
  */

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-bath:before {
    content: "\f100";
}

.flaticon-bath-1:before {
    content: "\f101";
}

.flaticon-bath-2:before {
    content: "\f102";
}

.flaticon-black:before {
    content: "\f103";
}

.flaticon-candle-burning-flame:before {
    content: "\f104";
}

.flaticon-claw-bath-in-spa:before {
    content: "\f105";
}

.flaticon-coin:before {
    content: "\f106";
}

.flaticon-cup:before {
    content: "\f107";
}

.flaticon-dollar-symbol:before {
    content: "\f108";
}

.flaticon-face-mask:before {
    content: "\f109";
}

.flaticon-flower-therapy:before {
    content: "\f10a";
}

.flaticon-fruit:before {
    content: "\f10b";
}

.flaticon-hairdresser:before {
    content: "\f10c";
}

.flaticon-harmony:before {
    content: "\f10d";
}

.flaticon-harmony-1:before {
    content: "\f10e";
}

.flaticon-health:before {
    content: "\f10f";
}

.flaticon-health-1:before {
    content: "\f110";
}

.flaticon-healthy:before {
    content: "\f111";
}

.flaticon-heat:before {
    content: "\f112";
}

.flaticon-interface:before {
    content: "\f113";
}

.flaticon-light:before {
    content: "\f114";
}

.flaticon-lotus:before {
    content: "\f115";
}

.flaticon-massage-spa-body-treatment:before {
    content: "\f116";
}

.flaticon-medical:before {
    content: "\f117";
}

.flaticon-nature:before {
    content: "\f118";
}

.flaticon-people:before {
    content: "\f119";
}

.flaticon-relax:before {
    content: "\f11a";
}

.flaticon-relax-1:before {
    content: "\f11b";
}

.flaticon-relaxing-massage:before {
    content: "\f11c";
}

.flaticon-relaxing-spa-ornaments:before {
    content: "\f11d";
}

.flaticon-smile:before {
    content: "\f11e";
}

.flaticon-social:before {
    content: "\f11f";
}

.flaticon-spa-bowl-to-mix-treatments-ingredients:before {
    content: "\f120";
}

.flaticon-spa-cream-pot-of-natural-flowers:before {
    content: "\f121";
}

.flaticon-spa-discount:before {
    content: "\f122";
}

.flaticon-spa-waters:before {
    content: "\f123";
}

.flaticon-symbol:before {
    content: "\f124";
}

.flaticon-telephone:before {
    content: "\f125";
}

.flaticon-tool:before {
    content: "\f126";
}

.flaticon-tool-1:before {
    content: "\f127";
}

.flaticon-walkway-and-a-plant:before {
    content: "\f128";
}

.flaticon-women-health-symbol:before {
    content: "\f129";
}