{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datepresence</th>
                <th>Flagconge</th>
                <th>Flagmaladie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td><a href="{{ path('presence_show', { 'id': presence.id }) }}">{{ presence.id }}</a></td>
                <td>{% if presence.datepresence %}{{ presence.datepresence|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if presence.flagConge %}Yes{% else %}No{% endif %}</td>
                <td>{% if presence.flagMaladie %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presence_show', { 'id': presence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presence_edit', { 'id': presence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presence_new') }}">Create a new presence</a>
        </li>
    </ul>
{% endblock %}
