{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            POINTAGE ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> PRESENCE ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form action="#" method="POST">
                            <div class="col-lg-12">
                                <div class="panel ">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <i class="ti-layout-grid3"></i> POINTAGE
                                        </h3>
                                        <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <div class="row condensed container-fluid">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <strong>Departement: {{ departementOne.name }}</strong>
                                                        </div>
                                                        <div class="input-group-addon">
                                                            <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                                        <div class="input-group-addon">
                                                            <strong>Semestre: {{ semestreOne.name }}</strong></div>
                                                        <div class="input-group-addon">
                                                            <strong>Matieres: {{ matieresOne.name }}</strong></div>
                                                        <div class="input-group-addon">
                                                            <strong>Periode: {{ seeionOne.sessions }}</strong></div>
                                                        <input name="departementOne" value="{{ departementOne.id }}"
                                                               type="hidden">
                                                        <input name="licenceOne" value="{{ licenceOne.id }}"
                                                               type="hidden">
                                                        <input name="semestreOne" value="{{ semestreOne.id }}"
                                                               type="hidden">
                                                        <input name="matieresOne" value="{{ matieresOne.id }}"
                                                               type="hidden">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <table class="table table-striped table-bordered table-hover"
                                                   id="">
                                                <thead>
                                                <tr>
                                                    <th>Matricule</th>
                                                    <th>Prenoms et Noms</th>
                                                    <th>Presence / Absence </th>
                                                    {#<th>#}
                                                        {#<div class="pretty p-default">#}
                                                            {#<input name="checkAll" class="checkAll checkbox" type="checkbox"/>#}
                                                            {#<div class="state p-success"><i class="icon mdi mdi-check"></i><label>Tout Pointer</label>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                    {#</th>#}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for etudiant in etudiantsByDepartement %}
                                                    {% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}
                                                        <tr>
                                                            <td>
                                                                {{ etudiant.matricule }}

                                                                <input name="mattricule[]"
                                                                       type="hidden"
                                                                       value="{{ etudiant.matricule }}">
                                                            </td>
                                                            <td>{{ etudiant.nomPrenom }}</td>
                                                             <td>
                                                                 <!-- success -->
                                                                  <div class="pretty p-default">
                                                                     <input  class="{{ etudiant.matricule }}"  checked name="present[]" type="checkbox" value="{{ etudiant.matricule }}" />
                                                                     <div class="state p-success">
                                                                         <label>Present(e)</label>
                                                                     </div>
                                                                 </div>

                                                                 <!-- warning -->
                                                                 <div class="pretty p-default">
                                                                     <input class="{{ etudiant.matricule }}"  name="absent[]" type="checkbox" value="{{ etudiant.matricule }}" />
                                                                     <div class="state p-warning">
                                                                         <label>Absent(e)</label>
                                                                     </div>
                                                                 </div>

                                                                 <!-- danger -->
                                                                 <div class="pretty p-default">
                                                                     <input  class="{{ etudiant.matricule }}" name="malade[]" type="checkbox" value="{{ etudiant.matricule }}" />
                                                                     <div class="state p-danger">
                                                                         <label>Malade</label>
                                                                     </div>
                                                                 </div>

                                                                 <!-- info -->
                                                                 <div class="pretty p-default">
                                                                     <input  class="{{ etudiant.matricule }}" name="conge[]" type="checkbox" value="{{ etudiant.matricule }}" />
                                                                     <div class="state p-info">
                                                                         <label>En conge</label>
                                                                     </div>
                                                                 </div>

                                                            </td>
                                                            {#<td>#}
                                                                {#<!-- success -->#}
                                                                {#<div class="pretty p-default">#}
                                                                    {#<input value="{{ etudiant.matricule }}" name="choix[]"#}
                                                                           {#type="checkbox"/>#}
                                                                    {#<div class="state p-success">#}
                                                                        {#<label for="choix">Pointer</label>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="product-button">#}

                                                                {#<button type="button" onclick="calculeConfirmFrais()"#}
                                                                {#id="btnNoteSimpleModal"#}
                                                                {#class="modal-view click mybtn btn-block btn btn-primary btn-sm"#}
                                                                {#data-toggle="modal"#}
                                                                {#matriculeEtudiant="{{ etudiant.matricule }}"#}
                                                                {#idDepartement="{{ departementOne.id }}"#}
                                                                {#idMatiere="{{ matieresOne.id }}"#}
                                                                {#idSemestre="{{ semestreOne.id }}"#}
                                                                {#idNiveau="{{ licenceOne.id }}"#}
                                                                {#data-target="#ModifNoteModal">#}
                                                                {#<span#}
                                                                {#class="glyphicon glyphicon-edit"> Pointer</span>#}
                                                                {#</button>#}
                                                                {#</div>#}
                                                            {#</td>#}
                                                        </tr>
                                                            <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
                                                           <script type="text/javascript">
                                                            {}
                                                            $(".{{ etudiant.matricule }}").on('change', function() {
                                                                $(".{{ etudiant.matricule }}").not(this).prop('checked', false);
                                                            });
                                                            </script>
                                                    {% endif %}
                                                {% endfor %}

                                                {#{% for etudiant in etudiantNote %}#}
                                                {#{% if etudiant.session_id==seeionOne.id or  etudiant.matieres_id==idMatiere %}#}
                                                {#<tr>#}
                                                {#<td>{{ etudiant.matricule }}<input name="mattricule[]" type="hidden" value="{{ etudiant.matricule }}"></td>#}
                                                {#<td>{{ etudiant.nomPrenom }}</td>#}
                                                {#<td>#}
                                                {#<div class="input-group">#}
                                                {#<input name="idMatiere" type="hidden" value="{{ idMatiere }}">#}
                                                {#<input min="0" max="10" step="any"#}
                                                {#class="form-control input-sm" type="number"#}
                                                {#name="noteCour[]"#}
                                                {#value="0"/>#}
                                                {#</div>#}
                                                {#</td>#}

                                                {#<td>#}
                                                {#<div class="input-group">#}
                                                {#<input min="0" max="10" step="any"#}
                                                {#class="form-control input-sm" type="number"#}
                                                {#name="noteExament[]"#}
                                                {#value="0"/>#}
                                                {#</div>#}
                                                {#</td>#}
                                                {#</tr>#}
                                                {#{% endif %}#}
                                                {#{% endfor %}#}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-checkout">
                                    <input type="submit" class="btn btn-success btn-lg pull-right btn-block" value="Valider le Pointage">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
//        {}
//        $('.product-list').on('change', function() {
//            $('.product-list').not(this).prop('checked', false);
//        });
//        $(document).ready(function () {
//            $('.checkAll').on('click', function () {
//                $(this).closest('table').find('tbody :checkbox')
//                    .prop('checked', this.checked)
//                    .closest('tr').toggleClass('selected', this.checked);
//            });
//
//            $('tbody :checkbox').on('click', function () {
//                $(this).closest('tr').toggleClass('selected', this.checked); //Classe de seleção na row
//
//                $(this).closest('table').find('.checkAll').prop('checked', ($(this).closest('table').find('tbody :checkbox:checked').length == $(this).closest('table').find('tbody :checkbox').length)); //Tira / coloca a seleção no .checkAll
//            });
//        });

        function calculeConfirmFrais() {
            var matriculeEtudiant = $(this).attr('matriculeEtudiant');
            var moyCours = $(this).attr('NoteCours');
            var moyEament = $(this).attr('NoteExament');
            var idNote = $(this).attr('idNote');

            var idDepartement = $(this).attr('idDepartement');
            var idMatiere = $(this).attr('idMatiere');
            var idSemestre = $(this).attr('idSemestre');
            var idNiveau = $(this).attr('idNiveau');


            $('.idDepartement').val(idDepartement);
            $('.idMatiere').val(idMatiere);
            $('.idSemestre').val(idSemestre);
            $('.idNiveau').val(idNiveau);


            $('.matriculeEtudiant').html(matriculeEtudiant);
            $('.idNotation').val(idNote);
            $('.moyenneCours').attr({
                "max": 10,
                "min": 1,
                "type": 'number',
                "step": "any",
                "value": parseFloat(moyCours)
            });
            $('.moyenneExament').attr({
                "max": 10,
                "min": 1,
                "type": 'number',
                "step": "any",
                "value": parseFloat(moyEament)
            });
        }
        $(document).on("click", ".mybtn", calculeConfirmFrais);
    </script>
    <div class="modal fade" id="ModifNoteModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    POINTAGE ETUDIANT
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">
                        <form method="post" action="#">
                            <div class="product-info">
                                <h1 style="text-align: center" class="matriculeEtudiant center">Aenean eu tristique</h1>
                                <div class="quick-add-to-cart">
                                    <div class="row">
                                        <div class="col-lg-12 container">

                                            <div class="pretty p-default p-curve">
                                                <input type="radio" name="choix"/>
                                                <div class="state p-success-o">
                                                    <label>Present(e)</label>
                                                </div>
                                            </div>

                                            <div class="pretty p-default p-curve">
                                                <input type="radio" name="choix"/>
                                                <div class="state p-warning-o">
                                                    <label>Absent(e)</label>
                                                </div>
                                            </div>

                                            <div class="pretty p-default p-curve">
                                                <input type="radio" name="choix"/>
                                                <div class="state p-danger-o">
                                                    <label>Malade</label>
                                                </div>
                                            </div>

                                            <div class="pretty p-default p-curve">
                                                <input type="radio" name="choix"/>
                                                <div class="state p-info-o">
                                                    <label>En Conge</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <button class=" btn btn-block btn-success" type="submit">
                                                Valider
                                            </button>
                                        </div>

                                    </div>
                                    <br>
                                </div>
                                <br>
                            </div>
                        </form>
                        <!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
{% endblock %}