{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presence.id }}</td>
            </tr>
            <tr>
                <th>Datepresence</th>
                <td>{% if presence.datepresence %}{{ presence.datepresence|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Flagconge</th>
                <td>{% if presence.flagConge %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Flagmaladie</th>
                <td>{% if presence.flagMaladie %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('presence_edit', { 'id': presence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
