<!DOCTYPE html>
<html>
<head>
    <title>CARNET DE PAIEMENT PECULE</title>
    <style>

        .centre {
            text-align: center;
        }

        .personne td {
            border: 1px solid #000000;
            padding: 5px;
        }

        .personne th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cecece;
            color: #000000;
        }
    </style>
    <style>
        .customers {
            border-collapse: collapse;
            width: 100%;
        }

        .customers td, .customers th {
            border: 1px solid #000000;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .customers tr:hover {
            background-color: #000000;
        }

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ddd8dd;
            color: #000000;
        }

        .customers td {
            text-align: left;
        }

        .noteExellente {
            background: green;
            color: white;
        }

        .noteBien {
            background: #cfff69;
            color: white;
        }

        .noteABien {
            background: #e2ff73;
            color: #000000;
        }

        .notePassable {
            background: #ffad7e;
            color: white;
        }

        .noteModiocre {
            background: red;
            color: white;
        }
    </style>
</head>
<body style="margin:50px 50px 0px 50px">
<div>
    <div style="width: auto; height:auto">
        <table class="personne">
            <tr>

                <td style="width:720px; height:20px; border: none">

                    <div>
                        <span style="text-transform: uppercase;position: absolute; margin: 85px 190px; font-family:Elephant;font-size:25px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">{{ Universite.nomUniversite }}</span>
                        <span style="position: absolute; margin-top:118px; margin-left:10px;font-family: 'Times New Roman' ;font-weight: bold">{{Universite.siteWeb  }}</span>
                        <span style="position: absolute; margin: 100px 480px ; font-family: 'Times New Roman';font-weight: normal;text-align: right ;width: 250px">
                                    BP: {{ Universite.boitePostal }} <br>
                                    Email: {{ Universite.email }} <br>
                                   Service Scolarit&eacute;: {{ Universite.phone1 }} <br>
                               </span>
                     <img style="background: red;width: 750px"  src="{{ logo2 }}">
                    </div>
                </td>


            </tr>
        </table>
        <table class="personne">
            <tr>
                <td style="border: none "> <strong> Num Ref {{ dateJour|date('y') }}/........../UK /COMPTABILTE</strong></td>
                <td style="width:490px; height:20px;text-align: right;border: none">
                    <span style="text-align: right" > Conakry le {{ dateJour|date('d-M-Y') }}</span>
                </td>


            </tr>
        </table>


        <br/>
        <table style="border: none" class="personne">
            <tr style="border: none">
                <td style="width:750px; height:20px;border: none ">
                    <div>
                        <h2 style="text-align: center; font-family: Elephant;">CARNET DE PAIEMENT PECULE</h2>
                    </div>
                </td>
            </tr>
        </table>

        <table class="personne">
            <tr >
                <p style="font-family: 'Times New Roman';font-size:24px">
                    L’étudiant <strong>{{ etudiant.nomPrenom }}</strong>  inscrit(e) en <strong>{{ etudiant.licence.name }}</strong>
                    sous le numéro de matricule <strong>{{etudiant.matricule }} reconnait avoire recu son pecul dans le(s) mois ci-dessous</strong>
                </p>
                <div style="padding-left:2px ;padding-right: 25px">
                    <table border="1" class="customers">
                        <thead style="background: #edeade;height:890px;color: #0a0a0a;margin: 20px;padding: 15px">
                        <tr style="background: grey;color: black;margin: 20px;padding: 15px">
                            <th>N°</th>
                    <th>Mois</th>
                    <th>Date</th>
                    <th>Somme Recu</th>
                     {% set total=0 %}
                    {% for r in recuPecule %}
                        <tr>
                            <td> {{ loop.index }}</td>
                            <td>{{ r.mois.name }}</td>
                            <td>{{ r.datepaie |date('d-m-Y')}}</td>
                            <td>{{ r.montantRecu | number_format(0,'.',' ') }} GNF</td>
                          {% set total=total+r.montantRecu %}
                        </tr>
                    {% endfor %}
                </table>
                </div>
        </table>
        <hr>
        <table id="total" style="margin-left: 490px">
            <tr>
                <td style="font-weight: bold"  >TOTAL :</td>
                <td style="font-weight: bold;color: green"  class="color">{{ total |number_format(0,'.',' ') }} GNF</td>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <div>
        <table>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right">Le chef de service de la comptabilite:</span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"> <strong> Etudiant :</strong></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>


            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"> {{ barcode({code: 'Code Universite Kindia', type: 'datamatrix', format: 'svg', width:5, height:5, color: 'black'}) }}</span></td>

            </tr>
        </table>
    </div>

</div>
</body>
</html>
