{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                          CARNET DE PAIEMENT PECULE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12 well">

                        <div class="row">
                           <div class="col-lg-12">
                               <span style="position: absolute; margin: 11% 30% 20%; font-family:Elephant;font-size:25px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">UNIVERSITE DE KINDIA</span>
                               <span style="position: absolute; margin-top:15%; margin-left:10px;font-family: 'Times New Roman' ;font-weight: bold">www.univ-kindia.org</span>
                               <span style="position: absolute; margin: 15% 75% 20%; font-family: 'Times New Roman';font-weight: bold">
                                    BP:8547 <br>
                                    Email:rectorat@gmail.com <br>
                                   Scolarite:628 29 56 09 <br>
                               </span>
                               <img class="img-responsive image-box" src="{{ asset('img/UnivEntete3.png') }}">
                           </div>
                        </div> <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pull-left">
                                    <strong> Num Ref {{ dateJour|date('y') }}/....../EPI /COMPTABILTE</strong>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="pull-right">
                                    <strong> KINDIA LE:  {{ dateJour|date('d-m-Y') }} </strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="font-family: 'Times New Roman';font-size: 18px">
                                <h3 style="text-align: center; font-family: Elephant">CARNET DE PAIEMENT PECULE</h3>
                                <p class="document-text" >
                                    L’étudiant <strong>{{ etudiant.nomPrenom }}</strong>  inscrit(e) en <strong>{{ etudiant.licence.name }}</strong>
                                    sous le numéro de matricule <strong>{{etudiant.matricule }} reconnait avoire recu son pecul dans le(s) mois ci-dessous</strong>
                                </p>
                                <table class="table table-condensed table-bordered table_simple">
                                    <th>Mois</th>
                                    <th>Date</th>
                                    <th>Somme Recu</th>
                                    {% set total=0 %}
                                    {% for r in recuPecule %}
                                    <tr>
                                        <td>{{ r.mois.name }}</td>
                                        <td>{{ r.datepaie |date('d-m-Y')}}</td>
                                        <td>{{ r.montantRecu | number_format(0,'.',' ') }} GNF</td>
                                        {% set total=total+r.montantRecu %}
                                    </tr>
                                        {% endfor %}
                                </table>
                                <table id="total" style="margin-left: 490px">
                                    <tr>
                                        <td >TOTAL :</td>
                                        <td style="color: green; font-family: 'Times New Roman'" class="color">{{ total |number_format(0,'.',' ') }} GNF</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <strong> Etudiant :</strong>
                                </div>

                                <div class="pull-right">
                                    <strong> Le chef de service de la comptabilite:</strong>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a target="_blank"
                           href="{{ path('recupecule_carnet_paiementPDF',{'matricule':etudiant.matricule}) }}">
                            <button type="button"
                                    class="btn btn-info btn-block"><i
                                        class="fa fa-print"> Exporter en Pdf</i></button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}