{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% if message != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                        <div style="font-family: elephant;font-size: medium"
                             class="alert alert-success " role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{ message }}!</strong>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
