{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success text-center text-capitalize" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ 'registration.confirmed'|trans({'%username%': user.username}) }} !</strong>
            </div>
        </div>
    </div>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
    {% if app.session is not empty %}
        {% set targetUrl = 'fos_user_security_login' %}
        {% if targetUrl is not empty %}<p><a href="{{ path( targetUrl) }}">{{ 'registration.back'|trans }}</a>
            </p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
