{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {#<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>#}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
