{% trans_default_domain 'FOSUserBundle' %}


    {{ form_start(form) }}
<div class="well">
    <form action="{{ path('fos_user_registration_register') }}" method="POST">
        {#{{ form_enctype(form) }}#}
        <div class="row">
            <div class="col-sm-2 col-xs-12">

            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="single-create">
                    <span>Nom Utilisateur<sup>*</sup></span>
                    {{ form_widget(form.username,{'attr':{'class':'form-control','placeholder': 'form.username'|trans ,' tabindex':'1' } }) }}
                    {{ form_errors(form.username) }}

                </div>
                <br>

                <div class="single-create">
                    <span>Adresse e-mail <sup>*</sup></span>
                    {{ form_widget(form.email,{'attr':{'class':'form-control', 'placeholder': 'form.email'|trans ,'tabindex':'2' } }) }}
                    {{ form_errors(form.email,{'attr':{'class':'text-danger'} }) }}

                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="single-create">
                    <span>Mot de passe <sup>*</sup></span>
                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder': 'form.password'|trans ,' tabindex':'4' } }) }}
                    {{ form_errors(form.plainPassword.first,{'attr':{'class':'text-danger'} }) }}
                </div>

                <br>
                <div class="single-create">
                    <span>Confirmez le mot de passe <sup>*</sup></span>
                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control', 'placeholder': 'form.password_confirmation'|trans ,' tabindex':'5' } }) }}
                    {{ form_errors(form.plainPassword.second,{'attr':{'class':'text-danger'} }) }}
                </div>
            </div>

            <div class="col-lg-offset-2 col-xs-12">
                <br>
                {#<p class="for-newsletter">#}
                {#<input    type="checkbox"  name="case" checked="checked" tabindex="3"/> S'inscrire aux Newsletters</p>#}
            </div>
            <div class="col-sm-2 col-xs-12">

            </div>
        </div>
        <div class="row  center-block container">
            <div class="col-md-6">
                {{ form_rest(form) }}
                <div class="submit-area">
                    <p class="required text-right">* Champs obligatoires</p>

                    <a href="{{ path('univ_homepage') }}" class="float-left"><span><i
                                    class="fa fa-angle-double-left"></i></span>
                        Retour sur Accueil</a>
                </div>
            </div>
            <div class="col-lg-6">
                <input type="submit" value="{{ 'registration.submit'|trans }}" tabindex="6"
                       class="btn btn-success "/>
            </div>
        </div>
    </form>
</div>

{{ form_end(form) }}

