{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            ATTESTATION D’INSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12 well">

                        <div class="row">
                           <div class="col-lg-12">
                               <span style="position: absolute; margin: 11% 30% 20%; font-family:Elephant;font-size:25px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">UNIVERSITE DE KINDIA</span>
                               <span style="position: absolute; margin-top:15%; margin-left:10px;font-family: 'Times New Roman' ;font-weight: bold">www.univ-kindia.org</span>
                               <span style="position: absolute; margin: 15% 75% 20%; font-family: 'Times New Roman';font-weight: bold">
                                    BP:8547 <br>
                                    Email:rectorat@gmail.com <br>
                                   Scolarite:628 29 56 09 <br>
                               </span>
                               <img class="img-responsive image-box" src="{{ asset('img/UnivEntete3.png') }}">
                           </div>
                        </div> <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pull-left">
                                    <strong> Num Ref {{ dateJour|date('y') }}/....../EPI /SCOLARITE</strong>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="pull-right">
                                    <strong> KINDIA LE:  {{ dateJour|date('d-m-Y') }} </strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="font-family: 'Times New Roman';font-size: 18px">
                                <h3 style="text-align: center; font-family: Elephant">ATTESTATION D’INSCRIPTION</h3>
                                <p class="document-text" >
                                    Je soussignée, {% if chefService!=null %} {{ chefService.nomPrenomDirecteurProgramme }} {% endif %}, chef de service de la scolarité de l’Université de KINDIA
                                    certifie que l’étudiant <strong>{{ etudiant.nomPrenom }}</strong> est inscrit(e) en <strong>{{ etudiant.licence.name }}</strong>
                                    sous le numéro de matricule <strong>{{ etudiant.matricule }}</strong>
                                </p>
                                <p>En foi de quoi la présente attestation lui est délivré pour servir et valoir ce que de droit</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <strong> Le chef de service de la scolarité:</strong>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a target="_blank"
                           href="{{ path('attestationgeneration_attestation_DinscriptionPdfAction',{'etudiant':etudiant.id}) }}">
                            <button type="button"
                                    class="btn btn-info btn-block"><i
                                        class="fa fa-print"> Exporter en Pdf</i></button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}