{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            CONGE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
     {% if is_granted('ROLE_ETUDIANT') %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('detailconge_new') }}">
                <button class="btn btn-success btn-ms btn-block"><span
                            class="glyphicon glyphicon-import">Demander un nouveau conge</span></button>
            </a>
        </div>

    </div><br/>
         {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> LISTE DES CONGES
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    {#<th>Description</th>#}
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detailConge in detailConges %}
                                    <tr>
                                        <td>{{ detailConge.conge.titre }}</td>
                                        <td>{% if detailConge.dateDebut %}{{ detailConge.dateDebut|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if detailConge.dateFin %}{{ detailConge.dateFin|date('Y-m-d') }}{% endif %}</td>
                                        {#<td>{{ detailConge.conge.contenu |raw }}</td>#}

                                        <td>
                                            {% if  detailConge.conge.etat==0 %}
                                            <span class="glyphicon glyphicon-circle-arrow-left color-black "> En cour </span>
                                                {% elseif detailConge.conge.etat==1 %}
                                                    <span class="glyphicon glyphicon-circle-arrow-left success"> Valider </span>
                                            {% elseif detailConge.conge.etat==2 %}
                                                <span class="glyphicon glyphicon-circle-arrow-left danger"> Rejetter </span>
                                            {% endif %}
                                        </td>


                                        <td><a href="{{ path('detailconge_show',{'id':detailConge.id}) }}">
                                                <button class="btn btn-warning btn-sm">
                                                    <span class="glyphicon glyphicon-eye-open"> Detail </span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elseif  is_granted('ROLE_ADMIN') %}

                    {% elseif  is_granted('ROLE_SUPERVISEUR') %}

                    {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>Matricule</th>
                                    <th>Titre</th>
                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Session</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detailConge in detailConges %}
                                    {% if app.user.personnel.departement.id==detailConge.etudiant.departement.id %}
                                    <tr>
                                        <td>{{ detailConge.Etudiant.matricule }}</td>
                                        <td>{{ detailConge.conge.titre }}</td>
                                        <td>{% if detailConge.dateDebut %}{{ detailConge.dateDebut|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if detailConge.dateFin %}{{ detailConge.dateFin|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{detailConge.Sessions.sessions  }}</td>
                                        <td>
                                            {% if  detailConge.conge.etat==0 %}
                                                <span class="label label-sm label-info">En cours de traitement</span>
                                                {#<span class="glyphicon glyphicon-circle-arrow-left color-black "> En cours de traitement </span>#}
                                            {% elseif detailConge.conge.etat==1 %}
                                                <span class="label  label-success">congé validé</span>
                                                {#<span class="glyphicon glyphicon-circle-arrow-left success"> congé validé </span>#}
                                            {% elseif detailConge.conge.etat==2 %}
                                                <span class="label label-sm label-danger">Conge Rejeter</span>
                                                {#<span class="glyphicon glyphicon-circle-arrow-left danger"> Conge Rejeter</span>#}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('detailconge_show',{'id':detailConge.id}) }}">
                                                <button class="btn btn-warning btn-sm">
                                                    <span class="glyphicon glyphicon-eye-open"> Detail </span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elseif  is_granted('ROLE_ETUDIANT') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Description</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detailConge in detailConges %}
                                    <tr>
                                        <td>{{ detailConge.conge.titre }}</td>
                                        <td>{% if detailConge.dateDebut %}{{ detailConge.dateDebut|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if detailConge.dateFin %}{{ detailConge.dateFin|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ detailConge.conge.contenu |raw }}</td>
                                        <td>
                                            {% if  detailConge.conge.etat==0 %}
                                                <span class="label label-sm label-info">En cours de traitement</span>
                                                {#<span class="glyphicon glyphicon-circle-arrow-left color-black "> En cours de traitement </span>#}
                                            {% elseif detailConge.conge.etat==1 %}
                                                <span class="label  label-success">congé validé</span>
                                                {#<span class="glyphicon glyphicon-circle-arrow-left success"> congé validé </span>#}
                                            {% elseif detailConge.conge.etat==2 %}
                                                <span class="label label-sm label-danger">Conge Rejeter</span>
                                                {#<span class="glyphicon glyphicon-circle-arrow-left danger"> Conge Rejeter</span>#}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('detailconge_show',{'id':detailConge.id}) }}">
                                                <button class="btn btn-warning btn-sm">
                                                    <span class="glyphicon glyphicon-eye-open"> Detail </span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elseif  is_granted('ROLE_ENSEGNANT') %}

                    {% elseif  is_granted('ROLE_SCOLARITE') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Description</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detailConge in detailConges %}
                                    <tr>
                                        <td>{{ detailConge.conge.titre }}</td>
                                        <td>{% if detailConge.dateDebut %}{{ detailConge.dateDebut|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if detailConge.dateFin %}{{ detailConge.dateFin|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ detailConge.conge.contenu |raw }}</td>
                                        <td>
                                            <span class="glyphicon glyphicon-circle-arrow-left"> en cours </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
