{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            CONGES
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i>  DEMANDE DE CONGE
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <div class="col-md-6">
                                {{ form_label(form.conge.typeConge,'Type de Conge') }}
                                {{ form_widget(form.conge.typeConge,{'attr':{'class':'form-control input-sm'}}) }}
                                {{ form_errors(form.conge.typeConge) }}

                                {{ form_label(form.conge.titre,'Titre') }}
                                {{ form_widget(form.conge.titre,{'attr':{'class':'form-control input-sm'}}) }}
                                {{ form_errors(form.conge.titre) }}



                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.dateDebut,'Date Debut') }}
                                {{ form_widget(form.dateDebut,{'attr':{'class':'form-control input-sm','required':'required'}}) }}
                                {{ form_errors(form.dateDebut) }}

                                {{ form_label(form.dateFin,'Date Fin') }}
                                {{ form_widget(form.dateFin,{'attr':{'class':'form-control input-sm','required':'required'}}) }}
                                {{ form_errors(form.dateFin) }}

                            </div>
                            {{ form_label(form.conge.contenu,'Description du conge') }}
                            {{ form_widget(form.conge.contenu,{'attr':{'class':'form-control ckeditor input-sm'}}) }}
                            {{ form_errors(form.conge.contenu) }}
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">

                                        <input class="btn btn-info btn-block btn-large" type="submit" value="Valider"/>

                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

