{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            DETAIL CONGE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row" id="complex-form2">
        <div class="col-lg-12">
            <form method="post" action="{{ path('univ_validation_etatConge') }}" class="grid-form form-horizontal">
            <fieldset>
                <legend> DETAIL CONGE</legend>
                <div data-row-span="2">
                    <div data-field-span="2">
                        <div class="form-group">
                            <div class="input-group-addon ">
                                <label for="mobile_2appli">Infromation sur l'etudiant</label><br>
                                <label for="mobile_2appli"> <strong> Matricule : {{ detailConge.etudiant.matricule }}</strong> </label><br>
                                <label for="mobile_2appli"><strong>NOM ET PRENOM : {{ detailConge.etudiant.nomPrenom }}</strong></label><br>
                                <label for="mobile_2appli"> <strong> NIVEAU : {{  detailConge.etudiant.licence.name  }}</strong> </label><br>
                            </div>
                            <div class="input-group-addon ">
                                {% if detailConge.etudiant.image!=null  %} <img style="width: 150px;height: 100px" src="{{ asset('uploads/'~detailConge.etudiant.image.path) }}"></span><br>  {% endif %}
                            </div>
                        </div>



                    </div>
                    <div data-field-span="3">
                        <div class="form-group">
                            <div class="input-group-addon ">
                                <label for="mobile_2appli">Detail du conge</label><br>
                                <label for="mobile_2appli"> <strong>TITRE : {{  detailConge.conge.titre   }}</strong> </label><br>
                                <label for="mobile_2appli"> <strong>TYPE : {{ detailConge.conge.TypeConge.name  }}</strong> </label><br>
                                <label for="mobile_2appli"> <strong> DATE DEBUT : {{ detailConge.dateDebut|date('Y-m-d')  }}</strong> </label><br>
                                <label for="mobile_2appli"><strong>DATE FIN : {{detailConge.dateFin|date('Y-m-d')  }}</strong></label><br>

                                {% if  detailConge.conge.etat==0 %}
                                    Etat:    <span class="label label-sm label-info">En cours de traitement</span>
                                    {#<span class="glyphicon glyphicon-circle-arrow-left color-black "> En cours de traitement </span>#}
                                {% elseif detailConge.conge.etat==1 %}
                                    Etat:   <span class="label  label-success">congé validé</span>
                                    {#<span class="glyphicon glyphicon-circle-arrow-left success"> congé validé </span>#}
                                {% elseif detailConge.conge.etat==2 %}
                                    Etat:    <span class="label label-sm label-danger">Conge Rejeter</span>
                                    {#<span class="glyphicon glyphicon-circle-arrow-left danger"> Conge Rejeter</span>#}
                                {% endif %}
                            </div>

                        </div>



                    </div>
                </div>
                <div data-row-span="4">
                    <div data-field-span="4">
                        <label for="average_quaterly_balance">Description</label>
                        {#<textarea class="form-control" id="average_quaterly_balance" ></textarea>#}
                        <input class="form-control"  value="{{  detailConge.conge.contenu }}" id="average_quaterly_balance" type="">
                    </div>
                </div>
            </fieldset>
                {% if  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                <fieldset>
                    <div data-row-span="1">
                        <div  data-field-span="1">

                            <div class="form-group">
                                <div class="input-group-addon ">
                                    <input name="congeId" type="hidden" value="{{ detailConge.conge.id }}">
                                    <label>ETAT:</label>
                                    <select name="etatConge" class="form-control">
                                        <option value="0"> ------Selectionner un etat-------- </option>
                                        <option value="1">Valider</option>
                                        <option value="2">Rejeter</option>
                                    </select>
                                </div>
                                <div class="input-group-addon">
                                    <input class="btn btn-info btn-block btn-large" type="submit" value="Valider"/>
                                </div>

                            </div>


                        </div>
                        {#/<div  data-field-span="1">#}
                           {##}
                        {#</div>#}

                    </div>
                </fieldset>
                {% endif %}
            </form>
            {#<div class="panel ">#}
                {#<div class="panel-heading">#}
                    {#<h3 class="panel-title">#}
                        {#<i class="ti-layout-grid3"></i>  DETAILS CONGE#}
                    {#</h3>#}
                    {#<span class="pull-right">#}
                                    {#<i class="fa fa-fw ti-angle-up clickable "></i>#}
                                    {#<i class="fa fa-fw ti-close"></i>#}
                                {#</span>#}
                {#</div>#}
                {#<div class="panel-body">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-12 col-md-12">#}

                            {#<div class="col-md-6">#}
                                {#<span><strong>MATRICULE</strong>:{{ detailConge.etudiant.matricule }} </span><br>#}
                                {#<span><strong>NOM ET PRENOM</strong>:{{ detailConge.etudiant.nomPrenom }} </span><br>#}
                                {#<span><strong>NIVEAU</strong>:{{ detailConge.etudiant.licence.name }} </span><br>#}
                                {#<span><strong>TYPE</strong>:{{ detailConge.conge.TypeConge.name }} </span><br>#}
                                {#<span><strong>TITRE</strong>: {{ detailConge.conge.titre }}</span><br>#}
                               {#{% if detailConge.etudiant.image!=null  %}  <span><strong>PHOTO</strong>: <img src="{{ asset('uploads/'~detailConge.etudiant.image.path) }}"></span><br>  {% endif %}#}
                                {#<span> <strong>DATE DEBUT</strong> : {{ detailConge.dateDebut|date('Y-m-d') }}</span><br>#}
                                {#<span><strong>DATE FIN </strong>:{{ detailConge.dateFin|date('Y-m-d') }}</span><br>#}

                                 {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<label for="">Description</label>#}
                                {#<P>{{  detailConge.conge.contenu|raw }}</P>#}
                                {#<hr>#}
                            {#</div>#}

                            {#<div class="row">#}

                                {#<div class="col-lg-4">#}
                                    {#Traitement sur le conge <br>#}
                                    {#<label>ETAT:</label>#}
                                    {#<select class="form-control">#}
                                        {#<option> ------Selectionner un etat-------- </option>#}
                                        {#<option>Valider</option>#}
                                        {#<option>Rejeter</option>#}
                                    {#</select><br>#}
                                    {#<input class="btn btn-info btn-block btn-large" type="submit" value="Valider"/>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

        </div>
    </div>
{% endblock %}

