{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    {#{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}#}
{% endblock fos_user_content %}
