{% trans_default_domain 'FOSUserBundle' %}

<div class="row container">
    <div class="col-lg-3">
        {#{% include 'userConnect/userConnect.html.twig' %}#}
    </div>

    <div class="col-lg-9">
        <h2>Modifier mon mot de passe</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="col-lg-6">
                    <form action="{{ path('fos_user_change_password') }}" method="POST">
                        {{ form_widget(form) }}
                        <br/>
                        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>