{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            RE&Ccedil; DE PAIEMENT
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contenu %}
 <div class="panel panel-info">
     <div class="panel-body">
         <div class="col-lg-12">
             <div class="row">
                 <div class="col-md-12">

                     <div class="row">
                         <div class="row">
                             <div class="col-lg-5">
                                 <div class="row">
                                     <div class="col-lg-3">
                                         <img style="width: 100px" class="img-responsive" src="{{ asset('img/logo.png') }}" alt="logo"><br>
                                     </div>
                                     <div class="col-lg-7">
                                         <strong>UNIVERSITE DE KINDIA</strong><br>
                                         <strong>Date:{{ recu.datepaiement|date('d-m-Y') }}</strong><br><br><br><br>
                                         RE&Ccedil;U DE PAIEMENT
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div  class="col-lg-5 well">
                            {% if recu.admisBac.statut=="Non Boursier"  %} <strong>NUMERO DU RE&Ccedil;U:{{ recu.numeroRecu }}</strong>
                                <br> <br> {% endif %}
                             <strong>INE :</strong>{{ recu.admisBac.idnational }} <br><br>
                             <strong>NOM ET PRENOM :</strong>{{ recu.admisBac.nomPrenom }}<br><br>
                             <strong>DEPARTEMENT D'ORIENTATION :</strong>{{ recu.admisBac.departement }}<br><br>
                             <strong>DEPARTEMENT D'INSCRIPTION :</strong>{% if recu.admisBac.oldDepartementBeforPaiement!=null %}{{ recu.admisBac.oldDepartementBeforPaiement }} {% else %}{{ recu.admisBac.departement }}{% endif %}<br><br>
                             <strong>STATUT :</strong>{{ recu.admisBac.statut }}<br><br>
                             <strong>Frais d'inscription  :</strong>{{recu.montantPayer  |number_format(0,'.',' ')}} GNF<br><br>
    {% if recu.admisBac.statut=="Non Boursier"  %}  <strong>Frais Scolarite  :</strong>{{recu.fraisScolarite  |number_format(0,'.',' ')}} GNF<br><br> {% endif %}
                         </div>
                     </div>

                     <a target="_blank"
                        href="{{ path('generationBulletinPaiementPdfAction',{'pv':recu.admisBac.idnational,'sessionBac':recu.admisBac.sessions,'recu':recu.id}) }}">
                         <button type="button"
                                 class="btn btn-info btn-block"><i
                                     class="fa fa-print"> Exporter en Pdf</i></button>
                     </a>
                 </div>
             </div>

         </div>
     </div>
 </div>
{% endblock %}