<!DOCTYPE html>
<html>
<head>
    <title> RE&Ccedil;U DE PAIEMENT</title>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url('bootstrap/css/bootstrap.css') }}">
</head>
<body>
<div class="container" style="background: transparent;border: solid 1px ;margin: 5px;height:700px">
    <div class="row" style="text-align: justify">
        <table class="personne">
            <tr>
                <td style="width:700px; height:20px; border: none">
                    <div>
                        <span style="text-transform: uppercase;position: absolute; margin: 85px 250px; font-family:Elephant;font-size:14px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">{{ Universite.nomUniversite }}</span>
                        <span style="position: absolute; margin-top:118px; margin-left:15px;font-family: 'Times New Roman' ;font-weight: bold">{{Universite.siteWeb  }}</span>
                        <span style="position: absolute; margin: 90px 430px ; font-family: 'Times New Roman';font-weight: normal;text-align: right ;width: 250px">
                                    BP: {{ Universite.boitePostal }} <br>
                                    Email: {{ Universite.email }} <br>
                                   Service Scolarit&eacute;: {{ Universite.phone1 }} <br>
                               </span>
                        <img style="background: red;width: 750px"  src="{{ logo2 }}">
                    </div>
                </td>


            </tr>
        </table>
        {#<div class="row">#}
        {#<div class="col-lg-5">#}
        {#<div class="row">#}
        {#<div style="margin-left: 15px;padding-top: 15px" class="col-lg-6">#}
        {#<img class="img-responsive img-circle" width="100" height="60" src="{{ absolute_url(asset('img/logo.png')) }}" alt="clear"/>#}
        {#<br>#}
        {#<div style="position: relative;left: 530px;top: -40px">#}
        {#{{ barcode({code: 'Code bar de Universite Kindia', type: 'datamatrix', format: 'svg', width:5, height:5, color: 'black'}) }}#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-lg-6" style="position: relative;top:-50px;text-align: center">#}
        {#<strong style="font-family: Elephant">UNIVERSITE DE KINDIA</strong><br>#}
        {#<strong>Date:{{ 'now'|date('d-m-Y') }}</strong><br><br>#}
        {#RE&Ccedil;U DE PAIEMENT ETUDIANT#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        <div  class="col-lg-5 well" style="text-align: center">
            {% if etudiant.statut=="Non Boursier"  %} <strong>NUMERO RE&Ccedil;U:{{ recuPaiement.numeroRecu }}</strong>
                <br> <br> {% endif %}
            <strong>INE :</strong>{{ etudiant.idnational }} <br><br>
            <strong>NOM ET PRENOM :</strong>{{ etudiant.nomPrenom }}<br><br>
            <strong>DEPARTEMENT D'ORIENTATION :</strong>{{ etudiant.departement }}<br><br>
            <strong>DEPARTEMENT D'INSCRIPTION :</strong>{% if etudiant.oldDepartementBeforPaiement!=null %}{{ etudiant.oldDepartementBeforPaiement }} {% else %}{{ etudiant.departement }}{% endif %}<br><br>
            <strong>STATUT  :</strong>{{ etudiant.statut }}<br><br>
            <strong>Frais d'inscription  :</strong>{{recuPaiement.montantPayer  |number_format(0,'.',' ')}} GNF<br><br>
            {% if etudiant.statut=="Non Boursier"  %}  <strong>Frais Scolarite  :</strong>{{recuPaiement.fraisScolarite  |number_format(0,'.',' ')}} GNF<br><br> {% endif %}
        </div>
    </div>
    <div class="row">
        <table>
            <tr>
                <td style="width: 500px"><div class="col-lg-6">
                        <h3 style="margin-left: 15px"> La comptabilite:</h3>
                    </div>
                </td>
                <td><div class="col-lg-6"><h3 style="margin-right: 15px">L'etudiant:</h3></div></td>
            </tr>
        </table>


    </div>
</div>
<br><br>
<div class="container" style="background: transparent;border: solid 1px ;margin: 5px;height:600px">
    <div class="row" style="text-align: justify">
        <table class="personne">
            <tr>

                <td style="width:700px; height:20px; border: none">

                    <div>
                        <span style="text-transform: uppercase;position: absolute; margin: 85px 250px; font-family:Elephant;font-size:14px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">{{ Universite.nomUniversite }}</span>
                        <span style="position: absolute; margin-top:118px; margin-left:15px;font-family: 'Times New Roman' ;font-weight: bold">{{Universite.siteWeb  }}</span>
                        <span style="position: absolute; margin: 90px 430px ; font-family: 'Times New Roman';font-weight: normal;text-align: right ;width: 250px">
                                    BP: {{ Universite.boitePostal }} <br>
                                    Email: {{ Universite.email }} <br>
                                   Service Scolarit&eacute;: {{ Universite.phone1 }} <br>
                               </span>
                          <img style="background: red;width: 750px"  src="{{ logo2 }}">
                    </div>
                </td>


            </tr>
        </table>
        {#<div class="row">#}
            {#<div class="col-lg-5">#}
                {#<div class="row">#}
                    {#<div style="margin-left: 15px;padding-top: 15px" class="col-lg-6">#}
                        {#<img class="img-responsive img-circle" width="100" height="60" src="{{ absolute_url(asset('img/logo.png')) }}" alt="clear"/>#}
                        {#<br>#}
                        {#<div style="position: relative;left: 530px;top: -40px">#}
                            {#{{ barcode({code: 'Code bar de Universite Kindia', type: 'datamatrix', format: 'svg', width:5, height:5, color: 'black'}) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6" style="position: relative;top:-50px;text-align: center">#}
                        {#<strong style="font-family: Elephant">UNIVERSITE DE KINDIA</strong><br>#}
                        {#<strong>Date:{{ 'now'|date('d-m-Y') }}</strong><br><br>#}
                        {#RE&Ccedil;U DE PAIEMENT ETUDIANT#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div  class="col-lg-5 well" style="text-align: center">
            {% if etudiant.statut=="Non Boursier"  %} <strong>NUMERO RE&Ccedil;U:{{ recuPaiement.numeroRecu }}</strong>
                <br> <br> {% endif %}
            <strong>INE :</strong>{{ etudiant.idnational }} <br><br>
            <strong>NOM ET PRENOM :</strong>{{ etudiant.nomPrenom }}<br><br>
            <strong>DEPARTEMENT D'ORIENTATION :</strong>{{ etudiant.departement }}<br><br>
            <strong>DEPARTEMENT D'INSCRIPTION :</strong>{% if etudiant.oldDepartementBeforPaiement!=null %}{{ etudiant.oldDepartementBeforPaiement }} {% else %}{{ etudiant.departement }}{% endif %}<br><br>
            <strong>STATUT  :</strong>{{ etudiant.statut }}<br><br>
            <strong>Frais d'inscription  :</strong>{{recuPaiement.montantPayer  |number_format(0,'.',' ')}} GNF<br><br>
            {% if etudiant.statut=="Non Boursier"  %}  <strong>Frais Scolarite  :</strong>{{recuPaiement.fraisScolarite  |number_format(0,'.',' ')}} GNF<br><br> {% endif %}
        </div>
    </div>
    <div class="row">
        <table>
            <tr>
                <td style="width: 500px"><div class="col-lg-6">
                        <h3 style="margin-left: 15px"> La comptabilite:</h3>
                    </div>
                </td>
                <td><div class="col-lg-6"><h3 style="margin-right: 15px">L'etudiant:</h3></div></td>
            </tr>
        </table>


    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ absolute_url('bootstrap/js/bootstrap.js') }}">
</body>
</html>
