{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            PAIEMENT REINSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            {#<form action="" method="post">#}
            {#<div class="input-group">#}
            {#<div class="input-group-addon">#}
            {#<strong>Licences:</strong>#}
            {#<select name="licence" id="univbundle_niveau" class="form-control input-sm">#}
            {#<option selected value="0">--- Tout les niveaux ---</option>#}
            {#{% for niveau in licences %}#}
            {#<option value="{{ niveau.id }}">{{ niveau.name }}</option>#}
            {#{% endfor %}#}
            {#</select>#}
            {#</div>#}
            {#<div class="input-group-addon">#}
            {#<strong>Periodes: </strong>#}
            {#<select name="sessions" id="univbundle_periode" class="form-control input-sm">#}
            {#<option selected value="0">--- Toutes les periodes ---</option>#}
            {#{% for periode in sessions %}#}
            {#<option value="{{ periode.id }}">{{ periode.sessions }}</option>#}
            {#{% endfor %}#}
            {#</select>#}
            {#</div>#}
            {#<div class="input-group-addon">#}
            {#<button type="submit" class="btn btn-sm btn-primary btn-block"><i#}
            {#class="glyphicon glyphicon-refresh"> Valider</i></button>#}
            {##}
            {#</div>#}
            {#</div>#}
            {#</form>#}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> PAIEMENT REINSCRIPTION
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Matricule</th>
                                <th>Prenoms et Noms</th>
                                <th>Sexe</th>
                                <th>Filiation</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for etudiant in etudiants %}
                                <tr>
                                    <td>
                                        <img class="img-responsive" style="height: 80px;width:80px"
                                                {% if etudiant.image!=null %} src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %} alt="{{ etudiant.matricule }}">
                                    </td>
                                    <td>{{ etudiant.matricule }}</td>
                                    <td>{{ etudiant.nomPrenom }}</td>
                                    <td>{{ etudiant.sexe }}</td>
                                    <td>{{ etudiant.filiation }}</td>
                                    <td class="col-lg-3">
                                        <a href="{{ path('paiement_frais_reinscriptionAdminAuBac',{'matricule':etudiant.matricule}) }}">
                                            <button type="submit" class="btn btn-info btn-sm"><span
                                                        class="glyphicon glyphicon-edit"> Paiement frais Reinscription</span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}