{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            PAIEMENT FRAIS INSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NB : <span style="color: red;">l'etudiant perde son statut boursier s'il change de departement <strong>d'orientation</strong></span>
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <hr>
                    {% if infos !=null and infos.flagPaiement!=1 %}
                        <div class="col-lg-12">
                            <div class="modal-product">
                                <div class="product-info">
                                    <form id="formValidation" action=""
                                          method="post">
                                        <div class="quick-add-to-cart">
                                            <div class="">
                                                <fieldset>
                                                    <legend>INFORMATIONS SUR L'ETUDIANT</legend>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-label"><strong>PV
                                                                    :</strong>{{ infos.pv }}</label>
                                                            <br>
                                                            <label for=""><strong>Prenoms et Noms
                                                                    :</strong> {{ infos.nomPrenom }}</label>

                                                            <br>
                                                            <label for=""><strong>Date de Naissance
                                                                    :</strong> {{ infos.dateNaissance }}</label>

                                                            <br>
                                                            <label for=""><strong>Sexe :</strong> {{ infos.sexe }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Filiation
                                                                    :</strong> {{ infos.filiation }}</label>

                                                            <br>
                                                            <label for=""><strong>Centre :</strong> {{ infos.centre }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Origine :</strong> {{ infos.origine }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Statut :</strong> <span id="SpanStatut">{{ infos.statut }}</span>
                                                            </label><br>


                                                            <label for=""><strong>Option :</strong> {{ infos.options }}
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <div class="input-group">
                                                                <label for="dateInscription"><strong>Date de paiement :</strong>
                                                                </label>
                                                                <input id="dateInscription" value="{{ dateJour }}"
                                                                       name="dateInscription" required
                                                                       class="form-control input-sm" type="date">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">

                                                            <label for=""><strong>Session
                                                                    :</strong> {{ infos.sessions }}</label>

                                                            <br>
                                                            <label for=""><strong>Etat :</strong> {{ infos.etat }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Contact :</strong> {{ infos.contact }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Nationnalite
                                                                    :</strong> {{ infos.nationnalite }}</label>

                                                            <br>

                                                            <label for=""><strong>Université
                                                                    :</strong> {{ infos.universite }}</label>
                                                            <br>

                                                            <label for=""><strong>Niveau :</strong> {{ infos.niveau }}
                                                            </label>

                                                            <br>

                                                            <label for="">
                                                                <strong>Departement d'orientation
                                                                    :</strong> {{ infos.departement }}</label><br>

                                                            <select name="departementInscription" id="departementInscription"
                                                                    required="required" onchange="ChangeStatutEtudiant()"
                                                                    class="form-control input-sm col-md-4 col-lg-3">
                                                                <option value="" selected="selected"> ---- confirmer ou selectionner un departement ---</option>
                                                                {% for dep in departementInscription %}
                                                                        <option value="{{ dep.code }}">{{ dep.name }}</option>
                                                                {% endfor %}
                                                            </select><br>

                                                            <label for="sessionInscription"><strong>Session :</strong>
                                                            </label><br>
                                                            <select name="sessionInscription" id="sessionInscription"
                                                                    required="required"
                                                                    class="form-control input-sm col-md-4 col-lg-3">
                                                                {% for session in sessions %}
                                                                    {% if  session.encour==1 %}
                                                                        <option value="{{ session.id }}">{{ session.sessions }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>

                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12 m-b-10">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">

                                                                        <input hidden="hidden"  name="statutEtudiant" id="statutEtudiant" type="text" value="">
                                                                        <input hidden="hidden" name="codeDep" id="codeDep" type="text" value="">
                                                                        <a id="lientPaiement" href="#"> <button class="single_add_to_cart_button btn btn-primary btn-block"
                                                                        type="submit">Valider le paiement</button></a>


                                                        </span>
                                                        </div>
                                                        <!-- /input-group -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div>
                        <style type="text/css">
                            #results {
                                width: 120px;
                                height: 120px;
                                border: 1px solid;
                                background: #ccc;
                            }
                        </style>
                        <div class="row">
                            <!-- First, include the Webcam.js JavaScript Library -->
                            <script type="text/javascript" src="{{ asset('js/webcam.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('webcamjs/webcam.js') }}"></script>
                            <script language="JavaScript">
                                function ChangeStatutEtudiant() {

                                    var selectDepartement = $("#departementInscription");
                                    var depActuelle= "{{ infos.codeDep }}";
                                    var SpanStatut= $("#SpanStatut");
                                    var statutEtudiant=$("#statutEtudiant");
                                    var codeDep= $("#codeDep");
                                    var idnational="{{ infos.idnational }}";
                                    var lientPaiement= $("#lientPaiement");
                                    var formValidation=$("#formValidation");
                                    var lien="{{ path('validation_paiementFraisAction',{'pv':'id_pv','codeDepartement':'id_codeDepartement','statut':'id_statut','sessionBac':'id_sessionBac'}) }}";
                                    if(selectDepartement.val()==depActuelle){
                                            SpanStatut.html("Boursier");
                                            codeDep.attr("value",selectDepartement.val());
                                            statutEtudiant.attr("value","Boursier");
                                             lien = lien.replace("id_pv",idnational);
                                             lien = lien.replace("id_codeDepartement",selectDepartement.val());
                                             lien = lien.replace("id_statut","Boursier");
                                              lien = lien.replace("id_sessionBac","{{ infos.sessions }}");
                                             lientPaiement.attr("href",lien);
                                              formValidation.attr("action",lien);

                                    }else {
                                        SpanStatut.html("Non Boursier");
                                        codeDep.attr("value",selectDepartement.val());
                                        statutEtudiant.attr("value","Non Boursier");
                                        lien = lien.replace("id_pv",idnational);
                                        lien = lien.replace("id_codeDepartement",selectDepartement.val());
                                        lien = lien.replace("id_statut","NonBourssier");
                                        lien = lien.replace("id_sessionBac","{{ infos.sessions }}");
                                        lientPaiement.attr("href",lien);
                                        formValidation.attr("action",lien);
                                    }
                                }
//
                            </script>
                        </div>
                        {% else %}
                        <div>Il semble que cet etudiant a deja effectuer son paiement</div>
                    {% endif %}
                    <!-- .modal-body -->
                </div>
            </div>
        </div>

    </div>


{% endblock %}