{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            PAIEMENT FRAIS INSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NB : <span style="color: red;">l'etudiant perde son statut boursier s'il change de departement <strong>d'orientation</strong></span>
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <hr>
                    {% if infos !=null and infos.flagPaiement!=1 %}
                        {{ form_start(form) }}
                        <div class="col-lg-12">
                            <div class="modal-product">
                                <div class="product-info">
                                    <div>
                                        <div class="quick-add-to-cart">
                                            <div class="">
                                                <fieldset>
                                                    <legend>INFORMATIONS SUR L'ETUDIANT</legend>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="col-lg-4 col-md-4">
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label class="form-label"><strong>PV
                                                                            :</strong>{{ infos.pv }}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Prenoms et Noms
                                                                            :</strong> {{ infos.nomPrenom }}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Date de Naissance
                                                                            :</strong> {{ infos.dateNaissance }}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Sexe :</strong> {{ infos.sexe }}
                                                                    </label>
                                                                </div>



                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Etat :</strong> {{ infos.etat }}
                                                                    </label>
                                                                </div>


                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Contact :</strong> {{ infos.contact }}
                                                                    </label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Filiation
                                                                            :</strong> {{ infos.filiation }}</label>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Nationnalite
                                                                            :</strong> {{ infos.nationnalite }}</label>
                                                                </div>



                                                            </div>
                                                            <div class="col-lg-4 col-md-4">

                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Université
                                                                            :</strong> {{ infos.universite }}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Session d'orientation
                                                                            :</strong> {{ infos.sessions }}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Centre :</strong> {{ infos.centre }}
                                                                    </label>
                                                                </div>
                                                                <div id="divDepartement" class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Origine :</strong> {{ infos.origine }}
                                                                    </label>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Statut :</strong> <span id="SpanStatut">{{ infos.statut }}</span>
                                                                    </label>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12" id="concentrationId" hidden="hidden">
                                                                    <label for=""><strong>Option :</strong> {{ infos.options }}
                                                                    </label>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for=""><strong>Niveau :</strong> {{ infos.niveau }}
                                                                    </label>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12">
                                                                    <label for="">
                                                                        <strong>Departement d'orientation
                                                                            :</strong> {{ infos.departement }}</label>
                                                                </div>
                                                            </div>


                                                            <div class="col-lg-4 col-md-4">
                                                                <div class="row">

                                                                    <div class="col-lg-12 col-md-12">
                                                                        {{ form_label(form.datepaiement,'Date de Paiement') }}
                                                                        {{ form_widget(form.datepaiement,{'attr':{'class':'form-control input-sm'}}) }}
                                                                        {{ form_errors(form.datepaiement) }}
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12">
                                                                        {{ form_label(form.departement,"departement d'inscription" ) }}
                                                                        {{ form_widget(form.departement,{'attr':{'class':'form-control input-sm','onchange':'ChangeStatutEtudiant()'}}) }}
                                                                        {{ form_errors(form.departement) }}
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12">
                                                                        {{ form_label(form.sessions,"Session d'inscription") }}
                                                                        {{ form_widget(form.sessions,{'attr':{'class':'form-control input-sm'}}) }}
                                                                        {{ form_errors(form.sessions) }}
                                                                    </div>

                                                                    <div id="temoinFrais" hidden="hidden">

                                                                        <div class="col-lg-12 col-md-12">
                                                                            {{ form_label(form.fraisScolarite,"Frais Scolarite") }}
                                                                            {{ form_widget(form.fraisScolarite,{'attr':{'class':'form-control input-sm','value':" "}}) }}
                                                                            {{ form_errors(form.fraisScolarite) }}
                                                                        </div>

                                                                        <div class="col-lg-12 col-md-12">
                                                                            {{ form_label(form.numeroRecu,"Numero du Recu") }}
                                                                            {{ form_widget(form.numeroRecu,{'attr':{'class':'form-control input-sm'}}) }}
                                                                            {{ form_errors(form.numeroRecu) }}
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <br>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12 m-b-10">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">

                                                                        <input hidden="hidden"  name="statutEtudiant" id="statutEtudiant" type="text" value="">
                                                                        <input hidden="hidden" name="codeDep" id="codeDep" type="text" value="">
                                                                        <a id="lientPaiement" href="#"> <button class="single_add_to_cart_button btn btn-primary btn-block"
                                                                        type="submit">Valider le paiement</button></a>


                                                        </span>
                                                        </div>
                                                        <!-- /input-group -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div>  {{ form_end(form) }}
                        <style type="text/css">
                            #results {
                                width: 120px;
                                height: 120px;
                                border: 1px solid;
                                background: #ccc;
                            }
                        </style>
                        <div class="row">
                            <!-- First, include the Webcam.js JavaScript Library -->
                            <script type="text/javascript" src="{{ asset('js/webcam.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('webcamjs/webcam.js') }}"></script>
                            <script language="JavaScript">
                                function ChangeStatutEtudiant() {

                                    var selectDepartement = $("#univbundle_paiement_departement");
                                    var depActuelle= "{{ infos.codeDep }}";
                                    var SpanStatut= $("#SpanStatut");
                                    var statutEtudiant=$("#statutEtudiant");
                                    var codeDep= $("#codeDep");
                                    var idnational="{{ infos.idnational }}";
                                    var lientPaiement= $("#lientPaiement");
                                    var formValidation=$("#formValidation");
                                    var fraisScolarite=$("#univbundle_paiement_fraisScolarite");
                                    var numeroRecu=$("#univbundle_paiement_numeroRecu");
                                    var temoinFrais=$("#temoinFrais");
                                    fraisScolarite.attr("value",0);
                                    numeroRecu.attr("value",0);
                                    var lien="{{ path('validation_paiementFraisAction',{'pv':'id_pv','codeDepartement':'id_codeDepartement','statut':'id_statut','sessionBac':'id_sessionBac'}) }}";
                                    if(selectDepartement.val()==depActuelle){
                                            SpanStatut.html("Boursier");
                                            codeDep.attr("value",selectDepartement.val());
                                            statutEtudiant.attr("value","Boursier");
                                             lien = lien.replace("id_pv",idnational);
                                             lien = lien.replace("id_codeDepartement",selectDepartement.val());
                                             lien = lien.replace("id_statut","Bourssier");
                                              lien = lien.replace("id_sessionBac","{{ infos.sessions }}");
                                             lientPaiement.attr("href",lien);
                                              formValidation.attr("action",lien);
                                        fraisScolarite.attr("value","");
                                        (temoinFrais).attr('hidden', true);
                                        fraisScolarite.attr('required', false);
                                        numeroRecu.attr('required', false);
                                    }else {
                                        SpanStatut.html("Non Boursier");
                                        fraisScolarite.attr("value","");
                                        (temoinFrais).attr('hidden', false);
                                        fraisScolarite.attr('required', true);
                                        numeroRecu.attr("value","");
                                        numeroRecu.attr('required', true);
                                        codeDep.attr("value",selectDepartement.val());
                                        statutEtudiant.attr("value","Non Boursier");
                                        lien = lien.replace("id_pv",idnational);
                                        lien = lien.replace("id_codeDepartement",selectDepartement.val());
                                        lien = lien.replace("id_statut","NonBourssier");
                                        lien = lien.replace("id_sessionBac","{{ infos.sessions }}");
                                        lientPaiement.attr("href",lien);
                                        formValidation.attr("action",lien);
                                    }
                                }
//
                            </script>
                        </div>
                        {% else %}
                        <div>Il semble que cet etudiant a deja effectuer son paiement</div>
                    {% endif %}
                    <!-- .modal-body -->
                </div>
            </div>
        </div>

    </div>


{% endblock %}