
{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification  Pecule Etudiant
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.valeurl1,'valeur L1') }}
                            {{ form_widget(edit_form.valeurl1,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.valeurl1) }}

                            {{ form_label(edit_form.valeurl2,'valeur L2') }}
                            {{ form_widget(edit_form.valeurl2,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.valeurl2) }}

                        </div>

                        <div class="col-lg-6 col-md-6">
                            {{ form_label(edit_form.valeurl3,'valeur L3') }}
                            {{ form_widget(edit_form.valeurl3,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.valeurl3) }}

                            {{ form_label(edit_form.valeur4,'valeur L4') }}
                            {{ form_widget(edit_form.valeur4,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.valeur4) }}
                        </div>

                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-lg-6  col-lg-pull-2">
                            <a href="{{ path('pecule_index') }}">
                                Retour
                            </a>
                        </div>
                        {{ form_rest(edit_form) }}
                        <div class="col-lg-6 col-lg-pull-2">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

