{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pecule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pecule.id }}</td>
            </tr>
            <tr>
                <th>Valeurl1</th>
                <td>{{ pecule.valeurl1 }}</td>
            </tr>
            <tr>
                <th>Valeurl2</th>
                <td>{{ pecule.valeurl2 }}</td>
            </tr>
            <tr>
                <th>Valeurl3</th>
                <td>{{ pecule.valeurl3 }}</td>
            </tr>
            <tr>
                <th>Valeur4</th>
                <td>{{ pecule.valeur4 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pecule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pecule_edit', { 'id': pecule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
