{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'une Salle
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.batiment,'Batiment') }}
                            {{ form_widget(edit_form.batiment,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.batiment) }}

                            {{ form_label(edit_form.numSalle,'Numero') }}
                            {{ form_widget(edit_form.numSalle,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.numSalle) }}

                        </div>

                        <div class="col-lg-6 col-md-6">
                            {{ form_label(edit_form.nombrePlace,'Nombre de Place') }}
                            {{ form_widget(edit_form.nombrePlace,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.nombrePlace) }}
                        </div>

                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-lg-6  col-lg-pull-2">
                            <a href="{{ path('salles_index') }}">
                                Retour
                            </a>
                        </div>
                        {{ form_rest(edit_form) }}
                        <div class="col-lg-6 col-lg-pull-2">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

