{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th>Numsalle</th>
                <td>{{ salle.numSalle }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ salle.name }}</td>
            </tr>
            <tr>
                <th>Nombreplace</th>
                <td>{{ salle.nombrePlace }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salles_edit', { 'id': salle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
