{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification Enseignant
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.name,'Nom') }}
                                    {{ form_widget(edit_form.name,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.name) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.prenom,'Prenom') }}
                                    {{ form_widget(edit_form.prenom,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.prenom) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.telephone,'Telephone') }}
                                    {{ form_widget(edit_form.telephone,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.telephone) }}

                                </div>


                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.email,'Email') }}
                                    {{ form_widget(edit_form.email,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.email) }}
                                </div>


                            </div>
                            <div class="col-lg-6 col-md-6">

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.contact,'Adresse') }}
                                    {{ form_widget(edit_form.contact,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.contact) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.diplome,'Diplome') }}
                                    {{ form_widget(edit_form.diplome,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.diplome) }}
                                </div>
                                <div class="col-lg-12 col-md-12">

                                    {{ form_label(edit_form.GradeAcademique,'Grade Academique') }}
                                    {{ form_widget(edit_form.GradeAcademique,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.GradeAcademique) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.typeEnseignant,'Type Enseignant') }}
                                    {{ form_widget(edit_form.typeEnseignant,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.typeEnseignant) }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <br><br>

                    <div class="form-group">
                        <div class="input-group-addon">
                            <a href="{{ path('enseignant_index') }}">
                                <button type="button" class="btn "><span
                                            class="glyphicon glyphicon-backward">   Retour</span>
                                </button>
                            </a>

                        </div>
                        <div class="input-group-addon">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}




