{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            FICHE DE NOTES
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NOTATION ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="ti-layout-grid3"></i> FICHE DE NOTES
                                    </h3>
                                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div class="row condensed container-fluid">
                                            <div class="col-lg-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <strong>Departement: {{ departementOne.name }}</strong></div>
                                                    <div class="input-group-addon">
                                                        <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                                    <div class="input-group-addon">
                                                        <strong>Semestre: {{ semestreOne.name }}</strong></div>
                                                    <div class="input-group-addon">
                                                        <strong>Periode: {{ sessionOne.sessions }}</strong></div>
                                                    <div class="input-group-addon">
                                                        <strong>Matieres: {{ matieresOne.name }}</strong></div>

                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{{ path('univ_fiche_de_notes_xcelFile',{'matiererId':matieresOne.id,'licenceOne':licenceOne.id,'semestreOne':semestreOne.id,'sessionOne':sessionOne.id,'departementOne':departementOne.id}) }}">
                                                        <button type="button" class="btn btn-success btn-block"><i
                                                                    class=" fa fa-list-alt"> Exporter en Excel</i>
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a target="_blank"
                                                       href="{{ path('univ_notation_fiche_de_notes_pdf',{'matiererId':matieresOne.id,'licenceOne':licenceOne.id,'semestreOne':semestreOne.id,'sessionOne':sessionOne.id,'departementOne':departementOne.id}) }}">
                                                        <button type="button" class="btn btn-info btn-block"><i
                                                                    class="fa fa-print"> Exporter en Pdf</i></button>
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <thead>
                                            <tr>
                                                <th>Matricule</th>
                                                <th>Prenoms et Noms</th>
                                                <th>Note Cours</th>
                                                <th>Note Exament</th>
                                                <th>Session 1</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for etudiant in listeEtudiants %}
                                            {% for ins in etudiant.Inscription %}
                                            {% if ins.etudiant.id== etudiant.id and ins.licence.id==licenceOne.id  and ins.sessions.id==sessionOne.id %}

                                                    <tr>
                                                        <td>{{ etudiant.matricule }}<input name="mattricule[]"
                                                                                                type="hidden"
                                                                                                value="{{ etudiant.matricule }}">
                                                        </td>
                                                        <td>{{ etudiant.nomPrenom }}</td>
                                                        {% if listeNotes|length>0 %}
                                                        {% for note in listeNotes %}
                                                        {% if note.etudiant.id== etudiant.id%}
                                                        <td>
                                                            <input name="idMatiere" type="hidden"
                                                                   value="{{ idMatiere }}">
                                                            {{ note.moyenneCours }}

                                                        </td>
                                                        <td>
                                                            {{ note.moyenneExament }}
                                                        </td>
                                                        <td>{{ note.session1 }}</td>
                                                        <td class="col-lg-3">
                                                            <div class="product-button">

                                                                <button onclick="calculeConfirmFrais()"
                                                                        id="btnNoteSimpleModal"
                                                                        class="modal-view click mybtn btn-block btn btn-primary btn-sm"
                                                                        data-toggle="modal"
                                                                        matriculeEtudiant="{{ etudiant.matricule }}"
                                                                        NoteCours=" {{ note.moyenneCours }}"
                                                                        NoteExament=" {{ note.moyenneExament }}"
                                                                        idNote="{{ note.id }}"
                                                                        idDepartement="{{ departementOne.id }}"
                                                                        idMatiere="{{ matieresOne.id }}"
                                                                        idSemestre="{{ semestreOne.id }}"
                                                                        idNiveau="{{ licenceOne.id }}"
                                                                        data-target="#ModifNoteModal">
                                                                       <span
                                                                               class="glyphicon glyphicon-edit"> Modifier</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}

                                                    </tr>

                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">

        function calculeConfirmFrais() {
            var matriculeEtudiant = $(this).attr('matriculeEtudiant');
            var moyCours = $(this).attr('NoteCours');
            var moyEament = $(this).attr('NoteExament');
            var idNote = $(this).attr('idNote');

            var idDepartement = $(this).attr('idDepartement');
            var idMatiere = $(this).attr('idMatiere');
            var idSemestre = $(this).attr('idSemestre');
            var idNiveau = $(this).attr('idNiveau');


            $('.idDepartement').val(idDepartement);
            $('.idMatiere').val(idMatiere);
            $('.idSemestre').val(idSemestre);
            $('.idNiveau').val(idNiveau);


            $('.matriculeEtudiant').html(matriculeEtudiant);
            $('.idNotation').val(idNote);
            $('.moyenneCours').attr({
                "max": 10,
                "min": 1,
                "type": 'number',
                "step": "any",
                "value": parseFloat(moyCours)
            });
            $('.moyenneExament').attr({
                "max": 10,
                "min": 1,
                "type": 'number',
                "step": "any",
                "value": parseFloat(moyEament)
            });
        }
        $(document).on("click", ".mybtn", calculeConfirmFrais);
    </script>

    <div class="modal fade" id="ModifNoteModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    MODIFICATION NOTE
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">
                        <form method="post" action="{{ path('univ_notation_ModificationNote') }}">
                            <div class="product-info">
                                <h1 style="text-align: center" class="matriculeEtudiant center">Aenean eu tristique</h1>
                                <div class="quick-add-to-cart">
                                    <input hidden="hidden" class="idNotation" name="idNotation" value=""
                                           id="idNotation">
                                    <input hidden="hidden" class="idDepartement" name="idDepartement" value=""
                                           id="idDepartement">
                                    <input hidden="hidden" class="idMatiere" name="idMatiere" value="" id="idMatiere">
                                    <input hidden="hidden" class="idSemestre" name="idSemestre" value=""
                                           id="idSemestre">
                                    <input hidden="hidden" class="idNiveau" name="idNiveau" value="" id="idNiveau">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input name="moyenneCours" required
                                                   class="form-control input-sm moyenneCours " value="0"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="moyenneExament" required min="0" max="10" step="any"
                                                   class="form-control input-sm moyenneExament" type="number"
                                                   value="0"/>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <button class=" btn btn-block btn-success" type="submit">
                                                Valider
                                            </button>
                                        </div>

                                    </div>
                                    <br>
                                </div>
                                <br>
                            </div>
                        </form>
                        <!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
{% endblock %}