{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ENSEIGNANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('enseignant_new') }}">
                <button class="btn btn-success btn-ms btn-block"><span
                            class="glyphicon glyphicon-import"> Nouvel Enseignant</span></button>
            </a>
        </div>

    </div><br/>
    <div class="row">
        <div class="col-lg-12">
       <span>
            {#<div class="panel ">#}
           {#<div class="panel-heading">#}
           {#<h3 class="panel-title">#}
           {#<i class="ti-layout-grid3"></i> LISTE DES ENSEIGNANTS#}
           {#</h3>#}
           {#<span class="pull-right">#}
           {#<i class="fa fa-fw ti-angle-up clickable">#}
           {#</i>#}
           {#<i class="fa fa-fw ti-close removepanel clickable"></i>#}
           {#</span>#}
           {#</div>#}
           {#<div class="panel-body">#}
           {#<div class="table-responsive">#}
           {#<table class="table table-striped table-bordered table-hover" id="sample_1">#}
           {#<thead>#}
           {#<tr>#}
           {#<th>Nom</th>#}
           {#<th>Prenom</th>#}
           {#<th>Telephone</th>#}
           {#<th>Email</th>#}
           {#<th>Adresse</th>#}
           {#<th>Grade</th>#}
           {#<th>Diplome</th>#}
           {#<th>Type</th>#}
           {#<th>Login</th>#}
           {#<th>Actions</th>#}
           {#</tr>#}
           {#</thead>#}
           {#<tbody>#}
           {#{% for enseignant in enseignants %}#}
           {#<tr>#}
           {#<td>{{ enseignant.name }}</td>#}
           {#<td>{{ enseignant.prenom }}</td>#}
           {#<td>{{ enseignant.telephone }}</td>#}
           {#<td>{{ enseignant.contact }}</td>#}
           {#<td>{{ enseignant.email }}</td>#}
           {#<td>{{ enseignant.GradeAcademique.name }}</td>#}
           {#<td>{{ enseignant.diplome }}</td>#}
           {#<td>{{ enseignant.typeEnseignant.name }}</td>#}
           {#<td>{{ enseignant.utilisateur.username }}</td>#}

           {#<td class="col-lg-4">#}
           {#<a href="{{ path('enseigner_new', {'enseignantId': enseignant.id}) }}">#}
           {#<button class="btn btn-warning btn-sm"><span#}
           {#class="glyphicon glyphicon-eye-open"> Detail</span>#}
           {#</button>#}
           {#</a>#}
           {#<a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">#}
           {#<button class="btn btn-success btn-sm"><span#}
           {#class="glyphicon glyphicon-edit"> Modifier</span>#}
           {#</button>#}
           {#</a>#}
           {#</td>#}
           {#</tr>#}
           {#{% endfor %}#}
           {#</tbody>#}
           {#</table>#}
           {#</div>#}
           {#</div>#}
           {#</div>#}
       </span>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel ">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="ti-layout-tab-window"></i> LISTE DES ENSEIGNANTS
                            </h3>
                            <span class="pull-right">
                                        <i class="fa fa-fw ti-angle-up clickable"></i>
                                        <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {#<div class="panel ">#}
                                    {#<div class="panel-body">#}
                                    {##}
                                    {#</div>#}
                                    {#</div>#}
                                    <div class="table-responsive">
                                        <table class="table table-responsive table-striped table-hover table-bordered"
                                               id="table4">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>Telephone</th>
                                                <th>Email</th>
                                                <th>Adresse</th>
                                                <th>Login</th>
                                                {#<th>Diplome</th>#}
                                                {#<th>Type</th>#}
                                                {#<th>Login</th>#}
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for enseignant in enseignants %}
                                                <tr>
                                                    <td>{{ enseignant.name }}</td>
                                                    <td>{{ enseignant.prenom }}</td>
                                                    <td>{{ enseignant.telephone }}</td>
                                                    <td>{{ enseignant.email }}</td>
                                                    <td>{{ enseignant.contact }}</td>
                                                    <td>{{ enseignant.utilisateur.username }}</td>

                                                    {#<td>{{ enseignant.GradeAcademique.name }}</td>#}
                                                    {#<td>{{ enseignant.diplome }}</td>#}
                                                    {#<td>{{ enseignant.typeEnseignant.name }}</td>#}
                                                    {#<td>{{ enseignant.utilisateur.username }}</td>#}

                                                    <td class="col-lg-4">

                                                        {% if app.user.personnel!=null %}
                                                            <a href="{{ path('enseigner_new', {'enseignantId': enseignant.id}) }}">
                                                                <button class="btn btn-warning btn-sm"><span
                                                                            class="glyphicon glyphicon-eye-open"> Detail</span>
                                                                </button>
                                                            </a>
                                                            {% if app.user.personnel.departement.id== enseignant.departement.id %}
                                                                <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">
                                                                    <button class="btn btn-success btn-sm"><span
                                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                                    </button>
                                                                </a>
                                                            {% endif %}
                                                        {% else %}
                                                            {#<a href="{{ path('enseignant_show', {'id': enseignant.id}) }}">#}
                                                                {#<button class="btn btn-warning btn-sm"><span#}
                                                                            {#class="glyphicon glyphicon-eye-open"> Detail</span>#}
                                                                {#</button>#}
                                                            {#</a>#}
                                                            <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">
                                                                <button class="btn btn-success btn-sm btn-block"><span
                                                                            class="glyphicon glyphicon-edit"> Modifier</span>
                                                                </button>
                                                            </a>

                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}