{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'un enseignant
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.name,'Nom') }}
                                    {{ form_widget(form.name,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.prenom,'Prenom') }}
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.prenom) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.telephone,'Telephone') }}
                                    {{ form_widget(form.telephone,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.telephone) }}

                                </div>


                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.email,'Email') }}
                                    {{ form_widget(form.email,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>


                            </div>
                            <div class="col-lg-6 col-md-6">

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.contact,'Adresse') }}
                                    {{ form_widget(form.contact,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.contact) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.diplome,'Diplome') }}
                                    {{ form_widget(form.diplome,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.diplome) }}
                                </div>
                                <div class="col-lg-12 col-md-12">

                                    {{ form_label(form.GradeAcademique,'Grade Academique') }}
                                    {{ form_widget(form.GradeAcademique,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.GradeAcademique) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.typeEnseignant,'Type Enseignant') }}
                                    {{ form_widget(form.typeEnseignant,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.typeEnseignant) }}
                                </div>

                                {#<div class="col-lg-12 col-md-12">#}
                                {#{{ form_label(form.departement,'departement') }}#}
                                {#{{ form_widget(form.departement,{'attr':{'class':'form-control input-sm'}}) }}#}
                                {#{{ form_errors(form.departement) }}#}
                                {#</div>#}
                            </div>

                        </div>
                    </div>
                    <br><br>
                    <div class="row ">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="input-group-addon">
                                    <a href="{{ path('enseignant_index') }}">
                                        <button type="button" class="btn "><span class="glyphicon glyphicon-backward">   Retour</span>
                                        </button>
                                    </a>

                                </div>
                                {{ form_rest(form) }}
                                <div class="input-group-addon">
                                    <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script language="JavaScript">

//        $(document).ready(function () {
//            var telephone = $("#univbundle_enseignant_telephone");
//
//            telephone.attr({
//                "min" : 1,
//                "type":'tel',
//                "name":"univbundle_enseignant_telephone",
//                "value":"(+224) ___-__-__-__",
//                "pattern":"^\(\s+224)?\(?(17|25|29|33|44)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$",// phones at Belarus
//                "required":"required"
//            });
//
//            window.onload = function() {
//                MaskedInput({
//                    elm: document.getElementById('univbundle_enseignant_telephone'), // select only by id
//                    format: '(+224) ___-__-__-__',
//                    separator: '(+224) -'
//                });
//
//            };
//            // masked_input_1.4-min.js
//            // angelwatt.com/coding/masked_input.php
//            (function(a){a.MaskedInput=function(f){if(!f||!f.elm||!f.format){return null}if(!(this instanceof a.MaskedInput)){return new a.MaskedInput(f)}var o=this,d=f.elm,s=f.format,i=f.allowed||"0123456789",h=f.allowedfx||function(){return true},p=f.separator||"/:-",n=f.typeon||"_YMDhms",c=f.onbadkey||function(){},q=f.onfilled||function(){},w=f.badkeywait||0,A=f.hasOwnProperty("preserve")?!!f.preserve:true,l=true,y=false,t=s,j=(function(){if(window.addEventListener){return function(E,C,D,B){E.addEventListener(C,D,(B===undefined)?false:B)}}if(window.attachEvent){return function(D,B,C){D.attachEvent("on"+B,C)}}return function(D,B,C){D["on"+B]=C}}()),u=function(){for(var B=d.value.length-1;B>=0;B--){for(var D=0,C=n.length;D<C;D++){if(d.value[B]===n[D]){return false}}}return true},x=function(C){try{C.focus();if(C.selectionStart>=0){return C.selectionStart}if(document.selection){var B=document.selection.createRange();return -B.moveStart("character",-C.value.length)}return -1}catch(D){return -1}},b=function(C,E){try{if(C.selectionStart){C.focus();C.setSelectionRange(E,E)}else{if(C.createTextRange){var B=C.createTextRange();B.move("character",E);B.select()}}}catch(D){return false}return true},m=function(D){D=D||window.event;var C="",E=D.which,B=D.type;if(E===undefined||E===null){E=D.keyCode}if(E===undefined||E===null){return""}switch(E){case 8:C="bksp";break;case 46:C=(B==="keydown")?"del":".";break;case 16:C="shift";break;case 0:case 9:case 13:C="etc";break;case 37:case 38:case 39:case 40:C=(!D.shiftKey&&(D.charCode!==39&&D.charCode!==undefined))?"etc":String.fromCharCode(E);break;default:C=String.fromCharCode(E);break}return C},v=function(B,C){if(B.preventDefault){B.preventDefault()}B.returnValue=C||false},k=function(B){var D=x(d),F=d.value,E="",C=true;switch(C){case (i.indexOf(B)!==-1):D=D+1;if(D>s.length){return false}while(p.indexOf(F.charAt(D-1))!==-1&&D<=s.length){D=D+1}if(!h(B,D)){c(B);return false}E=F.substr(0,D-1)+B+F.substr(D);if(i.indexOf(F.charAt(D))===-1&&n.indexOf(F.charAt(D))===-1){D=D+1}break;case (B==="bksp"):D=D-1;if(D<0){return false}while(i.indexOf(F.charAt(D))===-1&&n.indexOf(F.charAt(D))===-1&&D>1){D=D-1}E=F.substr(0,D)+s.substr(D,1)+F.substr(D+1);break;case (B==="del"):if(D>=F.length){return false}while(p.indexOf(F.charAt(D))!==-1&&F.charAt(D)!==""){D=D+1}E=F.substr(0,D)+s.substr(D,1)+F.substr(D+1);D=D+1;break;case (B==="etc"):return true;default:return false}d.value="";d.value=E;b(d,D);return false},g=function(B){if(i.indexOf(B)===-1&&B!=="bksp"&&B!=="del"&&B!=="etc"){var C=x(d);y=true;c(B);setTimeout(function(){y=false;b(d,C)},w);return false}return true},z=function(C){if(!l){return true}C=C||event;if(y){v(C);return false}var B=m(C);if((C.metaKey||C.ctrlKey)&&(B==="X"||B==="V")){v(C);return false}if(C.metaKey||C.ctrlKey){return true}if(d.value===""){d.value=s;b(d,0)}if(B==="bksp"||B==="del"){k(B);v(C);return false}return true},e=function(C){if(!l){return true}C=C||event;if(y){v(C);return false}var B=m(C);if(B==="etc"||C.metaKey||C.ctrlKey||C.altKey){return true}if(B!=="bksp"&&B!=="del"&&B!=="shift"){if(!g(B)){v(C);return false}if(k(B)){if(u()){q()}v(C,true);return true}if(u()){q()}v(C);return false}return false},r=function(){if(!d.tagName||(d.tagName.toUpperCase()!=="INPUT"&&d.tagName.toUpperCase()!=="TEXTAREA")){return null}if(!A||d.value===""){d.value=s}j(d,"keydown",function(B){z(B)});j(d,"keypress",function(B){e(B)});j(d,"focus",function(){t=d.value});j(d,"blur",function(){if(d.value!==t&&d.onchange){d.onchange()}});return o};o.resetField=function(){d.value=s};o.setAllowed=function(B){i=B;o.resetField()};o.setFormat=function(B){s=B;o.resetField()};o.setSeparator=function(B){p=B;o.resetField()};o.setTypeon=function(B){n=B;o.resetField()};o.setEnabled=function(B){l=B};return r()}}(window));
//
//        });





</script>
{% endblock %}

