{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            TYPE-CONGE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-md-5 pull-left">
            <a href="{{ path('typeconge_new') }}">
                <button class="btn btn-success btn-ms"><span
                            class="glyphicon glyphicon-new-window"> Nouveau type conge</span></button>
            </a>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Liste des types de conge
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>TYPE</th>
                                <th>ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for typeConge in typeConges %}
                                <tr>
                                    <td>
                                        <a href="#">{{ typeConge.id }}</a>
                                    </td>
                                    <td>{{ typeConge.name }}</td>
                                    <td class="col-lg-3">
                                        <a href="{{ path('typeconge_edit', { 'id': typeConge.id }) }}">
                                            <button class="btn btn-success btn-sm"><span
                                                        class="glyphicon glyphicon-edit"> Modifier</span></button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('typeconge_show', { 'id': typeConge.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('typeconge_edit', { 'id': typeConge.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('typeconge_new') }}">Create a new typeConge</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}
