{% extends '::layout.html.twig' %}

{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Detail departement
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <tbody>

                            <tr>
                                <th>Nom departement</th>
                                <td>{{ departement.name }}</td>
                            </tr>
                            <tr>
                                <th>Code departement</th>
                                <td>{{ departement.code }}</td>
                            </tr>
                            <tr>
                                <th>Faculte</th>
                                <td>{{ departement.faculte.name }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <div class="input-group-addon"><a href="{{ path('departement_index') }}">
                                    <button class="btn "><span class="glyphicon glyphicon-backward">   Retour</span>
                                    </button>
                                </a></div>
                            <div class="input-group-addon"><a
                                        href="{{ path('departement_edit', { 'id': departement.id }) }}"
                                        class="col-lg-offset-2">
                                    <button class="btn btn-success"><span
                                                class="glyphicon glyphicon-edit"> Modifier</span></button>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
