{#<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>#}
{#<link rel="shortcut icon" href="{{ asset('logo/logo.png') }}"/>#}
{#<link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>#}
{#<link rel="stylesheet" type="text/css"#}
      {#href="{{ asset('adminStyle/vendors/datatables/css/dataTables.bootstrap.css') }}"/>#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">#}
{#<link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-default.css') }}" type="text/css"#}
      {#id="skin"/>#}
{#<link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-mint.css') }}" type="text/css"#}
      {#id="skin"/>#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/datatables_custom.css') }}">#}
{#<link rel="stylesheet" href=" {{ asset('adminStyle/vendors/swiper/css/swiper.min.css') }}">#}
{#<link href="{{ asset('adminStyle/vendors/nvd3/css/nv.d3.min.css') }}" rel="stylesheet" type="text/css">#}
{#<link rel="stylesheet" href="{{ asset('adminStyle/vendors/lcswitch/css/lc_switch.css') }}">#}
{#<link href="{{ asset('adminStyle/css/custom_css/dashboard1.css') }}" rel="stylesheet" type="text/css"/>#}
{#<link href="{{ asset('adminStyle/css/custom_css/dashboard1_timeline.css') }}" rel="stylesheet"/>#}
{#<link rel="stylesheet" type="text/css"#}
      {#href="{{ asset('adminStyle/vendors/datatablesmark.js/css/datatables.mark.min.css') }}"/>#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/responsive_datatables.css') }}">#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">#}
{#<link rel="stylesheet" type="text/css"#}
      {#href="{{ asset('adminStyle/vendors/daterangepicker/css/daterangepicker.css') }}">#}
{#<link href="{{ asset('adminStyle/vendors/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">#}
{#<link href="{{ asset('adminStyle/vendors/select2/css/select2-bootstrap.css') }}" rel="stylesheet">#}
{#<link href="{{ asset('adminStyle/vendors/bootstrapvalidator/css/bootstrapValidator.min.css') }}" rel="stylesheet">#}
{#<link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet" type="text/css"/>#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/responsive_datatables.css') }}">#}
{#<link href="{{ asset('adminStyle/css/custom_css/wizard.css') }}" rel="stylesheet">#}
{#<link rel="stylesheet" href="{{ asset('capitalise.css') }}">#}
{#<link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>#}
{#<!-- end of global css -->#}
{#<!--page level css -->#}
{#<link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet"/>#}
{#<link href="{{ asset('adminStyle/vendors/bootstrap-fileinput/css/fileinput.min.css') }}" media="all"#}
      {#rel="stylesheet" type="text/css"/>#}
{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">#}

{#<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/formelements.css') }}">#}

{#<!--end of page level css-->#}

{#<script src="{{ asset('bundles/sonatamediawebcamprovider/jpeg_camera/swfobject.min.js') }}"#}
        {#type="text/javascript"></script>#}
{#<script src="{{ asset('bundles/sonatamediawebcamprovider/jpeg_camera/canvas-to-blob.min.js') }}"#}
        {#type="text/javascript"></script>#}
{#<script src="{{ asset('bundles/sonatamediawebcamprovider/jpeg_camera/jpeg_camera.min.js') }}"#}
        {#type="text/javascript"></script>#}
{#<script src="{{ asset('bundles/sonatamediawebcamprovider/sonata-media-webcam-provider.min.js') }}"#}
        {#type="text/javascript"></script>#}


<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link rel="shortcut icon" href="{{ asset('img/logo.png') }}"/>
<link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/datatables/css/dataTables.bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
<link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-default.css') }}" type="text/css"
      id="skin"/>
<link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-mint.css') }}" type="text/css" id="skin"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/datatables_custom.css') }}">
<link rel="stylesheet" href=" {{ asset('adminStyle/vendors/swiper/css/swiper.min.css') }}">
<link href="{{ asset('adminStyle/vendors/nvd3/css/nv.d3.min.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ asset('adminStyle/vendors/lcswitch/css/lc_switch.css') }}">
<link href="{{ asset('adminStyle/css/custom_css/dashboard1.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('adminStyle/css/custom_css/dashboard1_timeline.css') }}" rel="stylesheet"/>
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/datatablesmark.js/css/datatables.mark.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/responsive_datatables.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/daterangepicker/css/daterangepicker.css') }}">
<link href="{{ asset('adminStyle/vendors/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">
<link href="{{ asset('adminStyle/vendors/select2/css/select2-bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('adminStyle/vendors/bootstrapvalidator/css/bootstrapValidator.min.css') }}" rel="stylesheet">
<link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/responsive_datatables.css') }}">
<link href="{{ asset('adminStyle/css/custom_css/wizard.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/complex_forms2.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/vendors/gridforms/css/gridforms.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/vendors/jasny-bootstrap/css/jasny-bootstrap.css') }}"/>
<link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>
<!-- end of global css -->
<!--page level css -->
<link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet"/>
<link href="{{ asset('adminStyle/vendors/bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet"
      type="text/css"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">

<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/formelements.css') }}">
{#???????#}{#   My CSS?#}
<link rel="stylesheet" type="text/css" href="{{ asset('css/mycssfile.css') }}">


<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>


<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/vendors/datatables/css/buttons.bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/datatables/css/colReorder.bootstrap.css') }}"/>

<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/datatables/css/rowReorder.bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/vendors/datatables/css/buttons.bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/vendors/datatables/css/scroller.bootstrap.css') }}">
{#<link href="{{ asset('css/table.css') }}" rel="stylesheet">#}
{#<meta http-equiv="refresh" content="30" />#}
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/pryttyChexboxAndRadioButton.css') }}">
{#web/adminStyle/css/pryttyChexboxAndRadioButton.css#}