<script src="{{ asset('adminStyle/js/app.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/dataTables.bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/custom_js/datatables_custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/monFichierJS.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/jquerydaterangepicker/css/daterangepicker.min.css') }}">

<script src="{{ asset('adminStyle/vendors/moment/js/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/jquery.inputmask.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.date.extensions.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.extensions.js') }}"
        type="text/javascript"></script>
<!-- date-range-picker -->
<script src="{{ asset('adminStyle/vendors/daterangepicker/js/daterangepicker.js') }}" type="text/javascript"></script>

<script src="{{ asset('adminStyle/vendors/iCheck/js/icheck.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/select2/js/select2.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/bootstrapwizard/js/jquery.bootstrap.wizard.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/bootstrapvalidator/js/bootstrapValidator.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/custom_js/form_wizards.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/custom_js/responsive_datatables.js') }}" type="text/javascript"></script>

<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/mark.js/jquery.mark.js') }}" charset="UTF-8"></script>
<script src="{{ asset('adminStyle/vendors/datatablesmark.js/js/datatables.mark.min.js') }}" charset="UTF-8"></script>

<script src="{{ asset('adminStyle/vendors/iCheck/js/icheck.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/bootstrap-fileinput/js/fileinput.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/custom_js/form_elements.js') }}"></script>
<script src="{{ asset('js/excelexportjs.js') }}"></script>
<script src="{{ asset('js/table.js') }}"></script>
<script src="{{ asset('adminStyle/js/custom_js/complex_form2.js') }}"></script>
