/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-stars span:after,
.tg-noticeboard .tg-textbox span:first-child,
.tg-navigation ul li:hover a[data-new]:after,
.tg-navigation ul li a:hover[data-new]:after,
.tg-themeposttags li a:hover,
.tg-navigation .tg-featuredimg a:hover,
.tg-navigation .tg-themeposttags li a:hover,
.tg-navigation .tg-themeposttitle h3 a:hover,
.tg-navigation .tg-matadata li a:hover,
.tg-navigation .tg-pricebox a:hover,
.tg-pricebox a:hover,
.tg-widgetcontent ul li a:hover,
.tg-btnsimpleprev:hover,
.tg-btnsimplenext:hover,
.tg-widgetdownload .tg-widgetcontent ul li a:hover i,
.tg-widgetdownload .tg-widgetcontent ul li a:hover span,
.tg-widgetdownload .tg-widgetcontent ul li:hover a i,
.tg-widgetdownload .tg-widgetcontent ul li:hover a span,
.tg-campuses ul li a i,
.tg-campuses ul li a span,
.tg-infolist li a,
.tg-infolist li a i,
.tg-infolist li a span,
.tg-widgetcoursecategories .tg-widgetcontent ul li:hover:before,
.tg-breadcrumb li a,
.tg-pricebox a:hover,
.tg-infodata strong a:hover,
.tg-coursestabs .tg-themetabnav li:hover a,
.tg-coursestabs .tg-themetabnav li.active a,
.tg-coursecompunent li span i:first-child,
.tg-courseoutline li span i:first-child,
.tg-scheduleicon,
.tg-result:hover .tg-btndownloadresult,
.tg-result:hover .tg-btndownloadresult em,
.tg-result:hover .tg-btndownloadresult i,
.tg-result:hover .tg-description p,
.tg-btndownloadresult:hover,
.tg-btndownloadresult:hover em,
.tg-btndownloadresult:hover i,
.tg-departmentscollapse .tg-themecollapsecontent ul li:hover .tg-description p,
.tg-departmentscollapse .tg-themecollapsecontent ul li:hover a,
.tg-widgetcontent ul li.tg-active a,
.tg-facultiescollapse > h3:hover > a,
.tg-facultiescollapse > h3.open > a,
.tg-faculty:hover h3 a,
.tg-departmentname h2,
.tg-jobs .tg-themecollapsecontent ul li:hover a,
.tg-jobs .tg-themecollapsecontent ul li:hover p,
.tg-btncommentreply:hover,
.tg-btncommentreply:hover i,
.tg-btncommentreply:hover em,
.tg-comingcountdown .tg-counterbox span:first-child,
.tg-navigation > ul > li.current-menu-item a[data-new]:after{color:#52b554;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-btn,
.tg-theme-tag,
a[data-new]:after,
.tg-btnsearch,
#tg-magicbox,
.sub-menu li a:before,
.mega-menu-row + .mega-menu-row,
.tg-navigation > ul > li.current-menu-item > a,
.tg-navigation > ul > li:hover > a,
.tg-navigation > ul > li > a:hover,
.mega-menu-col ul li a:before,
.tg-btnsbox .tg-btn:hover,
.tg-widgetadmissionform .tg-widgetcontent,
.tg-signupbox,
.tg-headervtwo .tg-topbar,
.tg-headervtwo .tg-navigation ul li:hover a[data-new]:after,
.tg-headervtwo .tg-navigation ul li a:hover[data-new]:after,
.tg-widgetcontent ul li:hover:before,
.tg-poststyleswitcher li a:hover,
.tg-poststyleswitcher li.tg-active a,
.tg-coursestabs .tg-themetabnav li:before,
.tg-schedule,
.tg-courseinfo .tg-btnsbox .tg-btn,
.tg-relateddocuments li:hover,
.tg-eventcounter,
.tg-widgetcontent ul li:hover:before,
.tg-widgetcontent ul li.tg-active:before,
.tg-optionset li a:before,
.tg-detailpage blockquote:before,
.tg-tag:hover,
.tg-newsandarticle .tg-newspost .tg-btn:hover,
.tg-nav .navbar-toggle{background:#52b554;}
/*=============================================
			Theme Border Color
=============================================*/
.tg-theme-tag:after,
.tg-theme-tag:before,
input:focus,
.select select:focus,
.form-control:focus,
a[data-new]:before,
.tg-headervtwo .tg-navigation ul li:hover a[data-new]:before,
.tg-headervtwo .tg-navigation ul li a:hover[data-new]:before,
.tg-tag:hover{border-color: #52b554;}