.noteExellente {
    background: green;
    color: white;
}

.noteBien {
    background: #cfff69;
    color: white;
}

.noteABien {
    background: #e2ff73;
    color: #000000;
}

.notePassable {
    background: #ffad7e;
    color: white;
}

.noteModiocre {
    background: red;
    color: white;
}


