.margin-top-50 {
    margin-top: 50px;
}

/*Filter START*/
.filterable {
    margin-top: 15px;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/*Filter END*/

.table-widthB {
    width: 48%;
}

.table-widthA {
    width: 49.8%;
}

.bg {
    background-color: white;
}

.tablescroll {
    overflow-y: auto;
    overflow-x: auto;
    height: 800px;
    margin-right: 1px;
}

.marginTop30 {
    margin-top: 30px;
}

.radio,
.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.checkbox, .radio {
    margin-top: 0px;
    margin-bottom: 0px
}

.radio-margin {
    margin-left: -13px;
    margin-top: 7px;
}

.radio-margin {
    margin-left: -13px;
    margin-top: 7px;
}

.EU_DataTable td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    height: 50px;
}

th {
    background: #e5e5e5;
    color: #454545;
    font-weight: bold;
    height: 40px;
}

/*Radio and Checkbox START*/
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/*Radio and Checkbox END*/

/* Isotope Items
---------------------------------- */
.filters {
    margin: 0 0 30px 0;
}

.filters .nav-pills > li {
    margin-right: 2px;
    margin-bottom: 2px;
}

.filters .nav-pills > li + li {
    margin-left: 0px;
}

.text-center.filters .nav-pills > li {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;
    float: none;
}

.isotope-container {
    overflow: auto;
}

.isotope-item {
    margin-bottom: 20px;
}

.isotope-item .btn-default {
    color: #999999;
}

.isotope-item .btn-default:hover {
    color: #ffffff;
}

@media (max-width: 800px) {
    .filters .nav-pills > li {
        width: 100%;
        display: block;
    }
}