{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification Matiere Enseignant
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <fieldset>
                                {#<legend>Affecter une Matiere</legend>#}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-4 col-md-4">
                                            {{ form_label(edit_form.licence,'Niveau') }}
                                            {{ form_widget(edit_form.licence,{'attr':{'class':'form-control input-sm'}}) }}
                                            {{ form_errors(edit_form.licence) }}
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            {{ form_label(edit_form.semestre,'Semestre') }}
                                            {{ form_widget(edit_form.semestre,{'attr':{'class':'form-control input-sm'}}) }}
                                            {{ form_errors(edit_form.semestre) }}
                                        </div>


                                        <div class="col-lg-4 col-md-4">
                                            {{ form_label(edit_form.matiers,'Matieres') }}
                                            {{ form_widget(edit_form.matiers,{'attr':{'class':'form-control input-sm'}}) }}
                                            {{ form_errors(edit_form.matiers) }}
                                        </div>


                                        <div class="col-lg-4 col-md-4">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="row">
                                                <br>
                                                <div class="col-xs-12 col-md-12">
                                                    {#{{ form_widget(edit_form) }}#}
                                                    {#<button type="submit" class="btn btn-success btn-sm btn-block"#}
                                                    {#role="button">#}
                                                    {#<span class="glyphicon glyphicon-save"></span> Modifier#}
                                                    {#</button>#}
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br><br>

                    <div class="form-group">
                        <div class="input-group-addon">
                            <a href="{{ path('enseignant_index') }}">
                                <button type="button" class="btn "><span
                                            class="glyphicon glyphicon-backward">   Retour</span>
                                </button>
                            </a>

                        </div>
                        <div class="input-group-addon">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
//        ********************
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var urlsesion = "{{ path('ims_Sessionsjax') }}";

            var departement = '{{ app.user.personnel.departement.id }}';

            var semestre = '#univbundle_enseigner_semestre';
            var matieres = '#univbundle_enseigner_matiers';
            var niveaux = '#univbundle_enseigner_licence';

            $.ajax({
                type: "POST",
                url: url2,
                data: {'licence_id': '{{ matiere.semestre.licence.id }}'},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(semestre).html('<option value ="0"> -- Selectioner un semestre -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomSemestre = data[index].name;
                        $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                    });
                    $(semestre).val("{{ matiere.semestre.id }}");

                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomniveau = data[index].name;

                        $(niveaux).append('<option value="' + id + '">' + nomniveau + '</option>');
                    });
                    $(niveaux).val("{{ matiere.semestre.licence.id }}");
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });


            $(semestre).on('change', function () {
                var departement_id = departement;
                var semestre_id = $(this).val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                        $(matieres).val("{{ matiere.id }}");
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
            $(niveaux).on('change', function () {
                $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner un semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });
    </script>
{% endblock %}




