{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enseigners list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for enseigner in enseigners %}
            <tr>
                <td><a href="{{ path('enseigner_show', { 'id': enseigner.id }) }}">{{ enseigner.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enseigner_show', { 'id': enseigner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('enseigner_edit', { 'id': enseigner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enseigner_new') }}">Create a new enseigner</a>
        </li>
    </ul>
{% endblock %}
