{% extends '::layout.html.twig' %}

{% block contenu %}
    {% block header_content %}<br>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                        <div style="color: white;background:green"
                             class="alert alert-message-warning text-center text-capitalize" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <strong>{{ flashMessage|raw }} </strong>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
        </div>

    {% endblock %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enseignant Affectation Matieres
                    </h3>
                    <span class="pull-right">
                        <i class="fa fa-fw ti-angle-up clickable "></i>
                        <i class="fa fa-fw ti-close"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>Details Enseignant</legend>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <div class="input-group-addon">
                                                <label>NOM</label>
                                                <input value="{{ enseignant.name }}" readonly="readonly"
                                                       class="form-control input-sm">

                                            </div>
                                            <div class="input-group-addon">
                                                <label>PRENOM</label>
                                                <input value="{{ enseignant.prenom }}" readonly="readonly"
                                                       class="form-control input-sm">
                                            </div>
                                            <div class="input-group-addon">
                                                <label>TELEPHONE</label>
                                                <input value="{{ enseignant.telephone }}" readonly="readonly"
                                                       class="form-control input-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <div class="input-group-addon">
                                                <label>EMAIL</label>
                                                <input value="{{ enseignant.email }}" readonly="readonly"
                                                       class="form-control input-sm">

                                            </div>
                                            <div class="input-group-addon">
                                                <label>CONTACT</label>
                                                <input value="{{ enseignant.contact }}" readonly="readonly"
                                                       class="form-control input-sm">
                                            </div>
                                            <div class="input-group-addon">
                                                <label>DIPLOME</label>
                                                <input value="{{ enseignant.diplome }}" readonly="readonly"
                                                       class="form-control input-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <div class="input-group-addon">
                                                <label>GRADE</label>
                                                <input value="{{ enseignant.GradeAcademique.name }}" readonly="readonly"
                                                       class="form-control input-sm">

                                            </div>
                                            <div class="input-group-addon">
                                                <label>TYPE</label>
                                                <input value="{{ enseignant.typeEnseignant.name }}" readonly="readonly"
                                                       class="form-control input-sm">
                                            </div>
                                            <div class="input-group-addon">
                                                <label>DEPARTEMENT</label>
                                                <input value="{{ enseignant.departement.name }}" readonly="readonly"
                                                       class="form-control input-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    {{ form_start(form) }}
                    <fieldset>
                        <legend>Affecter une Matiere</legend>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.licence,'Niveau') }}
                                    {{ form_widget(form.licence,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.licence) }}
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.semestre,'Semestre') }}
                                    {{ form_widget(form.semestre,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.semestre) }}
                                </div>


                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.matiers,'Matieres') }}
                                    {{ form_widget(form.matiers,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.matiers) }}
                                </div>


                                <div class="col-lg-4 col-md-4">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="row">
                                        <br>
                                        <div class="col-xs-12 col-md-12">
                                            {{ form_widget(form) }}
                                            <button type="submit" class="btn btn-success btn-sm btn-block"
                                                    role="button">
                                                <span class="glyphicon glyphicon-save"></span> Ajouter
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(form) }}
                    <br>
                    {#<style type="text/css">#}

                    {#table {#}
                    {#table-layout: fixed;#}
                    {#word-wrap: break-word;#}
                    {#}#}

                    {#table th, table td {#}
                    {#width:200px;#}
                    {#text-align: center;#}
                    {#}#}

                    {#</style>#}
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-heading">Liste des Matieres</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered table-hover bootstrap-table " id="sample_1">
                                            {#<a href="#">#}
                                            {#<button type="button"  class="btn btn-primary btn-block"><i class="fa fa-upload"> Exporter</i></button>#}
                                            {#</a>#}

                                            {#<hr>#}
                                            <thead>
                                            <tr>
                                                <th>CODES</th>
                                                <th>MATIERES</th>
                                                <th>SESSIONS</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for detail in matieres %}
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <tr>
                                                        <td>{{ detail.matiers.code }}</td>
                                                        <td>{{ detail.matiers.name }}</td>
                                                        <td>{{ detail.sessions.sessions }}</td>
                                                            <td>

                                                                <a href="{{ path('enseigner_edit', { 'id': detail.id }) }}">
                                                                    <button type="button"
                                                                            class="btn btn-success btn-sm"><span
                                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                                    </button>
                                                                </a>
                                                                <a href="{{ path('enseigner_delete',{'id':detail.id,'dienseignant':detail.enseignant.id}) }}">
                                                                    <button type="button"
                                                                            class="btn btn-danger btn-sm"><span
                                                                                class="glyphicon glyphicon-edit"> Retirer</span>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#">
                                                                    <button type="button"
                                                                            class="btn btn-default btn-sm disabled "><span
                                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                                    </button>
                                                                </a>
                                                                <a href="#">
                                                                    <button type="button"
                                                                            class="btn btn-default btn-sm disabled"><span
                                                                                class="glyphicon glyphicon-edit"> Retirer</span>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                    </tr>
                                                {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                                                    <tr>
                                                        <td>{{ detail.matiers.code }}</td>
                                                        <td>{{ detail.matiers.name }}</td>
                                                        <td>{{ detail.sessions.sessions }}</td>
                                                        {% if detail.matiers.departement.id==app.user.personnel.departement.id %}
                                                            <td>

                                                                <a href="{{ path('enseigner_edit', { 'id': detail.id }) }}">
                                                                    <button type="button"
                                                                            class="btn btn-success btn-sm"><span
                                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                                    </button>
                                                                </a>
                                                                <a href="{{ path('enseigner_delete',{'id':detail.id,'dienseignant':detail.enseignant.id}) }}">
                                                                    <button type="button"
                                                                            class="btn btn-danger btn-sm"><span
                                                                                class="glyphicon glyphicon-edit"> Retirer</span>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <a href="#">
                                                                    <button type="button"
                                                                            class="btn btn-default btn-sm disabled "><span
                                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                                    </button>
                                                                </a>
                                                                <a href="#">
                                                                    <button type="button"
                                                                            class="btn btn-default btn-sm disabled"><span
                                                                                class="glyphicon glyphicon-edit"> Retirer</span>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-push-2">
                        <a href="{{ path('enseignant_index') }}">
                            Retour
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
//        ********************
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var urlsesion = "{{ path('ims_Sessionsjax') }}";
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            var departement = '';
            {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
            var departement = '{{ app.user.personnel.departement.id }}';
            {% endif %}

            var semestre = '#univbundle_enseigner_semestre';
            var matieres = '#univbundle_enseigner_matiers';
            var niveaux = '#univbundle_enseigner_licence';
            $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
            $(semestre).html('<option value="0"> -- Selectioner un semestre -- </option>');
            $(semestre).on('change', function () {
                var departement_id = departement;
                var semestre_id = $(this).val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
                $.ajax({
                    type: "POST",
                    url: urlsesion,
                    data: {},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nom = data[index].sessions;
                            $(sessions).append('<option value="' + id + '">' + nom + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
            $(niveaux).on('change', function () {
                $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner un semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });
    </script>
{% endblock %}
