{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            FICHE DE NOTES VIERGE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NOTATION ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <form method="GET" class="cart " action="">
                                    <div class="form-group">
                                        <div class="input-group-addon">
                                            <div>
                                                <div class="input-group">
                                                    <label for=""><strong>Departement :</strong> </label>
                                                    <input readonly="readonly" id="inputDep" class="form-control input-sm" hidden="hidden" value=""  type="text">
                                                    <div id="divDepartement">
                                                        <select id="univbundle_departement"
                                                                name="univbundle_departement"
                                                                required="required" class="form-control input-sm">
                                                            <option value selected="selected">Selectioner un Departement
                                                            </option>
                                                            {% for dep in departements %}
                                                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Niveaux :</strong> </label>
                                                    <select id="univbundle_niveaux" name="univbundle_niveaux"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner un niveau
                                                        </option>
                                                        {#{% for niv in niveaux %}#}
                                                        <option></option>
                                                        {#{% endfor %}#}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Semestres :</strong> </label>
                                                    <select id="univbundle_semestre" name="univbundle_semestre"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner un semestre
                                                        </option>
                                                        {#{% for semestre in semestres %}#}
                                                        <option></option>
                                                        {#{% endfor %}#}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Matieres :</strong> </label>
                                                    <select id="univbundle_matieres" name="univbundle_matieres"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner une matieres
                                                        </option>
                                                        {#{% for mat in matieres %}#}
                                                        <option></option>
                                                        {#{% endfor %}#}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Session :</strong> </label>
                                                    <select id="univbundle_session" name="univbundle_session"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner une session
                                                        </option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group-addon">
                                            <div class="input-group">
                                                <br/>
                                                <input type="submit" class="btn btn-success btn-block btn-sm "
                                                       value="Valider">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="#" method="post">
                            {% if etudiantsByDepartement!=null and matieresOne!=null %}
                                <div class="col-lg-12">
                                    <div class="panel ">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <i class="ti-layout-grid3"></i> FICHE DE NOTES VIERGE
                                            </h3>
                                            <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="row condensed container-fluid">
                                                    <div class="col-lg-12">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <strong>Departement: {{ departementOne.name }}</strong>
                                                            </div>
                                                            <div class="input-group-addon">
                                                                <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Semestre: {{ semestreOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Periode: {{ sessionOne.sessions }}</strong>
                                                            </div>
                                                            <div class="input-group-addon">
                                                                <strong>Matieres: {{ matieresOne.name }}</strong></div>

                                                            <input name="departementOne" value="{{ departementOne.id }}"
                                                                   type="hidden">
                                                            <input name="licenceOne" value="{{ licenceOne.id }}"
                                                                   type="hidden">
                                                            <input name="semestreOne" value="{{ semestreOne.id }}"
                                                                   type="hidden">
                                                            <input name="sessionOne" value="{{ sessionOne.id }}"
                                                                   type="hidden">
                                                            <input name="matieresOne" value="{{ matieresOne.id }}"
                                                                   type="hidden">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <table class="table table-striped table-bordered table-hover"
                                                       id="sample_1">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a href="{{ path('univ_fiche_de_notes_xcelFileVierge',{'matiererId':matieresOne.id,'licenceOne':licenceOne.id,'semestreOne':semestreOne.id,'sessionOne':sessionOne.id,'departementOne':departementOne.id}) }}">
                                                                <button type="button" class="btn btn-success btn-block">
                                                                    <i class=" fa fa-list-alt"> Exporter en Excel</i>
                                                                </button>
                                                            </a>
                                                        </div>
                                                        <div class="col-lg-6">
                                                                <a target="_blank"
                                                                   href="{{ path('univ_notation_fiche_de_notes_vierge_pdf',{'matiererId':matieresOne.id,'licenceOne':licenceOne.id,'semestreOne':semestreOne.id,'sessionOne':sessionOne.id,'departementOne':departementOne.id}) }}">
                                                                    <button type="button" class="btn btn-info btn-block"><i
                                                                                class="fa fa-print"> Exporter en Pdf</i>
                                                                    </button>
                                                                </a>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <thead>
                                                    <tr>
                                                        <th>Matricule</th>
                                                        <th>Prenoms et Noms</th>
                                                        <th>Note Cours</th>
                                                        <th>Note Exament</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for etudiant in notesEtudiants %}
                                                        <tr>
                                                            <td>{{ etudiant.etudiant.matricule }}<input
                                                                        name="mattricule[]" type="hidden"
                                                                        value="{{ etudiant.etudiant.matricule }}"></td>
                                                            <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                                        <td> </td>
                                                            <td> </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <style type="text/css">
        .error {
            border: 1px solid red;
        }

        .success {
            border: 1px solid green;
        }
    </style>
    <script type="text/javascript">
        function validationSaisieNote(element) {
            var note = element;

            $(note).on('change', function () {
                var note = parseInt($(this).val());
                if (note >= 11 || note <= -1) {
                    $(this).removeClass('success');
                    $(this).addClass('error');
                } else {
                    $(this).removeClass('error');
                    $(this).addClass('success');
                }
            });
        }
        $(document).on("Change,keyup", ".noteCour", validationSaisieNote);

        $(document).ready(function () {
//        ********************
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var urlsesion = "{{ path('ims_Sessionsjax') }}";
            var sessions = '#univbundle_session';
            var departement = '#univbundle_departement';
            var semestre = '#univbundle_semestre';
            var matieres = '#univbundle_matieres';
            var niveaux = '#univbundle_niveaux';
            var UserRole = "{{ app.user.rolesUser }}";
            var divDepartement = $("#divDepartement");
            var inputDep = $("#inputDep");

            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var niveau = data[index].name;
                        $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });

            $(semestre).on('change', function () {
                var departement_id = $(departement).val();
                var semestre_id = $(this).val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });

            });
            $(departement).on('change', function () {
                $.ajax({
                    type: "POST",
                    url: url3,
                    data: {},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var niveau = data[index].name;
                            $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });

                $(semestre).val(0);
                $(niveaux).val(0);
                $(matieres).val(0);
            });
            $(niveaux).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                        $.ajax({
                            type: "POST",
                            url: urlsesion,
                            data: {},
                            dataType: 'JSON',
                            timeout: 30000,
                            success: function (data) {
                                //reinitialise la liste
                                $(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');
                                //met a jour la liste
                                $.each(data, function (index) {
                                    var id = data[index].id;
                                    var nom = data[index].sessions;
                                    $(sessions).append('<option value="' + id + '">' + nom + '</option>');
                                });
                            },
                            error: function () {
                                alert('Erreur, la connexion au serveur a ete interrompue');
                            }
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>DIV Contents</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>
{% endblock %}