{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contenu %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <form method="GET" class="cart " action="">
                    <div class="form-group">
                        <div class="input-group-addon">
                            <div>
                                <div class="input-group">
                                    <label for=""><strong>Departement :</strong> </label>
                                    <input readonly="readonly" id="inputDep"
                                           class="form-control input-sm"  value=""
                                           type="hidden">
                                    <div id="divDepartement">
                                        <select id="univbundle_departement"
                                                name="univbundle_departement"
                                                required="required" class="form-control input-sm">
                                            <option value selected="selected">Selectioner un Departement
                                            </option>
                                            {% for dep in departements %}
                                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="input-group-addon">
                            <div class="">
                                <div class="input-group">
                                    <label for=""><strong>Niveaux :</strong> </label>
                                    <select id="univbundle_niveaux" name="univbundle_niveaux"
                                            required="required" class="form-control input-sm ">
                                        <option value="0" selected="selected">Selectioner un niveau
                                        </option>
                                        {#{% for niv in niveaux %}#}
                                        <option></option>
                                        {#{% endfor %}#}
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="input-group-addon">
                            <div class="">
                                <div class="input-group">
                                    <label for=""><strong>Session :</strong> </label>
                                    <select id="univbundle_session" name="univbundle_session"
                                            required="required" class="form-control input-sm ">
                                        <option value="0" selected="selected">Selectioner une session
                                        </option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="input-group-addon">
                            <div class="input-group">
                                <br/>
                                <input type="submit" class="btn btn-success btn-block btn-sm "
                                       value="Valider">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if etudiantsByDepartement!=null %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel ">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="ti-layout-grid3"></i> LISTE DES ETUDIANTS
                        </h3>
                        <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <div class="row condensed container-fluid">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <strong>Departement: {{ departementOne.name }}</strong>
                                        </div>
                                        <div class="input-group-addon">
                                            <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                        <div class="input-group-addon">
                                            <strong>Periode: {{ seeionOne.sessions }}</strong></div>
                                        <input name="departementOne" value="{{ departementOne.id }}"
                                               type="hidden">
                                        <input name="licenceOne" value="{{ licenceOne.id }}"
                                               type="hidden">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>Matricule</th>
                                    <th>Prenoms et Noms</th>
                                    <th>Sexe</th>
                                    <th>Filiation</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for etudiant in etudiants %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        {#{% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}#}
                                        <tr>
                                            <td>{{ etudiant.etudiant.matricule }}</td>
                                            <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.etudiant.sexe }}</td>
                                            <td>{{ etudiant.etudiant.filiation }}</td>
                                            <td class="col-lg-3">
                                                <a href="{{ path('univ_bulletin_etudiant_by_matricule', {'matricule': etudiant.etudiant.matricule}) }}">
                                                    <button class="btn btn-success btn-sm"><span
                                                                class="glyphicon glyphicon-edit"> Bulletin de Note</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {#{% endif %}#}
                                    {% elseif  is_granted('ROLE_ADMIN') %}
                                        {#{% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}#}
                                        <tr>
                                            <td>{{ etudiant.etudiant.matricule }}</td>
                                            <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.etudiant.sexe }}</td>
                                            <td>{{ etudiant.etudiant.filiation }}</td>
                                            <td class="col-lg-3">
                                                <a href="{{ path('univ_bulletin_etudiant_by_matricule', {'matricule': etudiant.etudiant.matricule}) }}">
                                                    <button class="btn btn-success btn-sm"><span
                                                                class="glyphicon glyphicon-edit"> Bulletin de Note</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {#{% endif %}#}
                                    {% elseif  is_granted('ROLE_SUPERVISEUR') %}
                                        {#{% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}#}
                                        <tr>
                                            <td>{{ etudiant.etudiant.matricule }}</td>
                                            <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.etudiant.sexe }}</td>
                                            <td>{{ etudiant.etudiant.filiation }}</td>
                                            <td class="col-lg-3">
                                                <a href="{{ path('univ_bulletin_etudiant_by_matricule', {'matricule': etudiant.etudiant.matricule}) }}">
                                                    <button class="btn btn-success btn-sm"><span
                                                                class="glyphicon glyphicon-edit"> Bulletin de Note</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {#{% endif %}#}
                                    {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                                        {% if app.user.personnel.departement.id==etudiant.etudiant.departement.id %}
                                            {#{% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}#}
                                            <tr>
                                                <td>{{ etudiant.etudiant.matricule }}</td>
                                                <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                                <td>{{ etudiant.etudiant.sexe }}</td>
                                                <td>{{ etudiant.etudiant.filiation }}</td>
                                                <td class="col-lg-3">
                                                    <a href="{{ path('etudiants_show', {'id': etudiant.etudiant.id}) }}">
                                                        <button class="btn btn-warning btn-sm"><span
                                                                    class="glyphicon glyphicon-eye-open"> Detail</span>
                                                        </button>
                                                    </a>
                                                    <a href="{{ path('univ_bulletin_etudiant_by_matricule', {'matricule': etudiant.etudiant.matricule}) }}">
                                                        <button class="btn btn-success btn-sm"><span
                                                                    class="glyphicon glyphicon-edit"> Bulletin de Note</span>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {#{% endif %}#}
                                        {% endif %}
                                    {% elseif  is_granted('ROLE_ETUDIANT') %}
                                    {% elseif  is_granted('ROLE_ENSEGNANT') %}
                                        <tr>
                                            <td>{{ etudiant.etudiant.matricule }}</td>
                                            <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.etudiant.sexe }}</td>
                                            <td>{{ etudiant.etudiant.filiation }}</td>
                                            <td class="col-lg-3">
                                                <a href="{{ path('etudiants_show', {'id': etudiant.etudiant.id}) }}">
                                                    <button class="btn btn-warning btn-sm"><span
                                                                class="glyphicon glyphicon-eye-open"> Detail</span>
                                                    </button>
                                                </a>
                                                <a href="{{ path('univ_bulletin_etudiant_by_matricule', {'matricule': etudiant.etudiant.matricule}) }}">
                                                    <button class="btn btn-success btn-sm"><span
                                                                class="glyphicon glyphicon-edit"> Bulletin de Note</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% elseif  is_granted('ROLE_SCOLARITE') %}
                                        {#{% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}#}
                                        <tr>
                                            <td>{{ etudiant.etudiant.matricule }}</td>
                                            <td>{{ etudiant.etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.etudiant.sexe }}</td>
                                            <td>{{ etudiant.etudiant.filiation }}</td>
                                            <td class="col-lg-3">
                                                <a href="{{ path('univ_bulletin_etudiant_by_matricule', {'matricule': etudiant.etudiant.matricule}) }}">
                                                    <button class="btn btn-success btn-sm"><span
                                                                class="glyphicon glyphicon-edit"> Bulletin de Note</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {#{% endif %}#}
                                    {% elseif  is_granted('ROLE_COMPTABLE') %}
                                    {% elseif  is_granted('ROLE_COMPTABILITE') %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <style type="text/css">
        .error {
            border: 1px solid red;
        }

        .success {
            border: 1px solid green;
        }
    </style>
    <script type="text/javascript">
        function validationSaisieNote(element) {
            var note = element;

            $(note).on('change', function () {
                var note = parseInt($(this).val());
                if (note >= 11 || note <= -1) {
                    $(this).removeClass('success');
                    $(this).addClass('error');
                } else {
                    $(this).removeClass('error');
                    $(this).addClass('success');
                }
            });
        }
        $(document).on("Change,keyup", ".noteCour", validationSaisieNote);

        $(document).ready(function () {
//        ********************
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var urlsesion = "{{ path('ims_Sessionsjax') }}";
            var sessions = '#univbundle_session';
            var departement = '#univbundle_departement';
            var semestre = '#univbundle_semestre';
            var matieres = '#univbundle_matieres';
            var niveaux = '#univbundle_niveaux';
            var UserRole = "{{ app.user.rolesUser }}";
            var divDepartement = $("#divDepartement");
            var inputDep = $("#inputDep");

            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var niveau = data[index].name;
                        $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });

            $(semestre).on('change', function () {
                var departement_id = $(departement).val();
                var semestre_id = $(this).val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });

            });
            $(departement).on('change', function () {
                $.ajax({
                    type: "POST",
                    url: url3,
                    data: {},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var niveau = data[index].name;
                            $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });

                $(semestre).val(0);
                $(niveaux).val(0);
                $(matieres).val(0);
            });
            $(niveaux).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                        $.ajax({
                            type: "POST",
                            url: urlsesion,
                            data: {},
                            dataType: 'JSON',
                            timeout: 30000,
                            success: function (data) {
                                //reinitialise la liste
                                $(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');
                                //met a jour la liste
                                $.each(data, function (index) {
                                    var id = data[index].id;
                                    var nom = data[index].sessions;
                                    $(sessions).append('<option value="' + id + '">' + nom + '</option>');
                                });
                            },
                            error: function () {
                                alert('Erreur, la connexion au serveur a ete interrompue');
                            }
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });
    </script>

{% endblock %}