{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
    </div><br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> LISTE DES ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Matricule</th>
                                <th>Prenoms et Noms</th>
                                <th>Departement</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% for etudiant in etudiants %}
                                    <tr>
                                        <td>
                                            <img class="img-responsive"
                                                 style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                                src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                                 alt="{{ etudiant.matricule }}"></td>
                                        <td>{{ etudiant.matricule }}</td>
                                        <td>{{ etudiant.nomPrenom }}</td>
                                        <td>{{ etudiant.departement.name }}</td>
                                        <td class="col-lg-3">
                                            <div class="product-button">

                                                <button onclick="calculeConfirmFrais()" id="btnNoteSimpleModal"
                                                        class="modal-view click mybtn btn btn-primary"
                                                        data-toggle="modal"
                                                        matriculeEtudiant="{{ etudiant.matricule }}"
                                                        departementEtudiant="{{ etudiant.departement.id }}"
                                                        idEtudiant="{{ etudiant.id }}"
                                                        {% if etudiant.licence!=null %}
                                                            licenceActuel="{{ etudiant.Licence.code }}"
                                                        {% else %}
                                                            licenceActuel="{{ 1 }}"
                                                        {% endif %}
                                                        data-target="#noteSimpleModal">
                                                    <i class="ti-download modal-view"></i>
                                                    Noter
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% elseif  is_granted('ROLE_ADMIN') %}
                                {% for etudiant in etudiants %}
                                    <tr>
                                        <td>
                                            <img class="img-responsive"
                                                 style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                                src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                                 alt="{{ etudiant.matricule }}"></td>
                                        <td>{{ etudiant.matricule }}</td>
                                        <td>{{ etudiant.nomPrenom }}</td>
                                        <td>{{ etudiant.departement.name }}</td>
                                        <td class="col-lg-3">
                                            <div class="product-button">

                                                <button onclick="calculeConfirmFrais()" id="btnNoteSimpleModal"
                                                        class="modal-view click mybtn btn btn-primary"
                                                        data-toggle="modal"
                                                        matriculeEtudiant="{{ etudiant.matricule }}"
                                                        departementEtudiant="{{ etudiant.departement.id }}"
                                                        idEtudiant="{{ etudiant.id }}"
                                                        {% if etudiant.licence!=null %}
                                                            licenceActuel="{{ etudiant.Licence.code }}"
                                                        {% else %}
                                                            licenceActuel="{{ 1 }}"
                                                        {% endif %}
                                                        data-target="#noteSimpleModal">
                                                    <i class="ti-download modal-view"></i>
                                                    Noter
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% elseif  is_granted('ROLE_SUPERVISEUR') %}
                                {% for etudiant in etudiants %}
                                    <tr>
                                        <td>
                                            <img class="img-responsive"
                                                 style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                                src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                                 alt="{{ etudiant.matricule }}"></td>
                                        <td>{{ etudiant.matricule }}</td>
                                        <td>{{ etudiant.nomPrenom }}</td>
                                        <td>{{ etudiant.departement.name }}</td>
                                        <td class="col-lg-3">
                                            <div class="product-button">

                                                <button onclick="calculeConfirmFrais()" id="btnNoteSimpleModal"
                                                        class="modal-view click mybtn btn btn-primary"
                                                        data-toggle="modal"
                                                        matriculeEtudiant="{{ etudiant.matricule }}"
                                                        departementEtudiant="{{ etudiant.departement.id }}"
                                                        idEtudiant="{{ etudiant.id }}"
                                                        {% if etudiant.licence!=null %}
                                                            licenceActuel="{{ etudiant.Licence.code }}"
                                                        {% else %}
                                                            licenceActuel="{{ 1 }}"
                                                        {% endif %}
                                                        data-target="#noteSimpleModal">
                                                    <i class="ti-download modal-view"></i>
                                                    Noter
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                                {% for etudiant in etudiants %}
                                    {% if app.user.personnel.departement.id==etudiant.departement.id %}
                                        <tr>
                                            <td>
                                                <img class="img-responsive"
                                                     style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                                    src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                                     alt="{{ etudiant.matricule }}"></td>
                                            <td>{{ etudiant.matricule }}</td>
                                            <td>{{ etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.departement.name }}</td>
                                            <td class="col-lg-3">
                                                <div class="product-button">

                                                    <button onclick="calculeConfirmFrais()" id="btnNoteSimpleModal"
                                                            class="modal-view click mybtn btn btn-primary"
                                                            data-toggle="modal"
                                                            matriculeEtudiant="{{ etudiant.matricule }}"
                                                            departementEtudiant="{{ etudiant.departement.id }}"
                                                            idEtudiant="{{ etudiant.id }}"
                                                            {% if etudiant.licence!=null %}
                                                                licenceActuel="{{ etudiant.Licence.code }}"
                                                            {% else %}
                                                                licenceActuel="{{ 1 }}"
                                                            {% endif %}
                                                            data-target="#noteSimpleModal">
                                                        <i class="ti-download modal-view"></i>
                                                        Noter
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% elseif  is_granted('ROLE_ETUDIANT') %}
                            {% elseif  is_granted('ROLE_ENSEGNANT') %}
                            {% elseif  is_granted('ROLE_SCOLARITE') %}
                            {% for etudiant in etudiants %}
                                <tr>
                                    <td>
                                        <img class="img-responsive"
                                             style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                            src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                             alt="{{ etudiant.matricule }}"></td>
                                    <td>{{ etudiant.matricule }}</td>
                                    <td>{{ etudiant.nomPrenom }}</td>
                                    <td>{{ etudiant.departement.name }}</td>
                                    <td class="col-lg-3">
                                        <div class="product-button">

                                            <button onclick="calculeConfirmFrais()" id="btnNoteSimpleModal"
                                                    class="modal-view click mybtn btn btn-primary"
                                                    data-toggle="modal"
                                                    matriculeEtudiant="{{ etudiant.matricule }}"
                                                    departementEtudiant="{{ etudiant.departement.id }}"
                                                    idEtudiant="{{ etudiant.id }}"
                                                    {% if etudiant.licence!=null %}
                                                        licenceActuel="{{ etudiant.Licence.code }}"
                                                    {% else %}
                                                        licenceActuel="{{ 1 }}"
                                                    {% endif %}
                                                    data-target="#noteSimpleModal">
                                                <i class="ti-download modal-view"></i>
                                                Noter
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% elseif  is_granted('ROLE_COMPTABLE') %}
                            {% elseif  is_granted('ROLE_COMPTABILITE') %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">

        function calculeConfirmFrais() {
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var departement = '#univbundle_departement';
            var semestre = '#univbundle_semestre';
            var matieres = '#univbundle_matieres';
            var niveaux = '#univbundle_niveaux';
            var matriculeEtudiant = $(this).attr('matriculeEtudiant');
            var departementEtudiant = $(this).attr('departementEtudiant');
            $('.matriculeEtudiant').html(matriculeEtudiant);
            $('#matriculeEtudiant').val(matriculeEtudiant);
            var departement_id = $(departement).val();
            var licenceActuel = $(this).attr('licenceActuel');
            var semestre_id = $(this).val();
            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomniveau = data[index].name;

                        $(niveaux).append('<option value="' + id + '">' + nomniveau + '</option>');
                        $(niveaux).val(licenceActuel);
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $.ajax({
                type: "POST",
                url: url2,
                data: {'licence_id': licenceActuel},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomSemestre = data[index].name;
                        $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                    });
                    $(matieres).val(0);
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $(niveaux).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                        $(semestre).val(0);
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
            $(semestre).on('change', function () {
                var departement_id = departementEtudiant;
                var semestre_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        }
        $(document).on("click", ".mybtn", calculeConfirmFrais);


    </script>
{% endblock %}