<!DOCTYPE html>
<html>

<head>
    <title>Admin| Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('img/logo.png') }}"/>
    <!-- Bootstrap -->
    <link href="{{ asset('adminStyle/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- end of bootstrap -->
    <!--page level css -->
    <link type="text/css" href="{{ asset('adminStyle/vendors/themify/css/themify-icons.css') }}" rel="stylesheet"/>
    <link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet">
    <link href="{{ asset('adminStyle/vendors/bootstrapvalidator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('adminStyle/css/login.css') }}" rel="stylesheet">
    <!--end page level css-->
</head>

<body id="sign-in">
<div class="preloader">
    <div class="loader_img"><img src="{{ asset('adminStyle/img/loader.gif') }}" alt="loading..." height="64" width="64">
    </div>
</div>
<div class="container">
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                {% if error %}
                    <div class="alert alert-success text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <strong>{{ error.messageKey|trans(error.messageData, 'security') }} !</strong>
                    </div>
                {% endif %}

            </div>
        </div>
        <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        </script>
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 login-form">
            <div class="panel-header">

                <h2 class="text-center">
                    <img class="img img-responsive img-circle" width="89" height="35" src="{{ asset('img/logo.png') }}"
                         alt="Logo"> Connectez-vous
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="{{ path("admin_check") }}" id="authentication" method="post"
                              class="login_validator">
                            <div class="form-group">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Nom Utilisateur"
                                       id="username" name="_username" value="{{ last_username }}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" class="form-control form-control-lg" placeholder="Mot de Passe"
                                       id="password" name="_password" required="required"/>

                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" checked="checked"
                                       value="on"/>
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit"
                                       value="{{ 'security.login.submit'|trans }}"/>
                            </div>
                        </form>
                        {#<a class="forgot" href="{{ path('fos_user_resetting_request') }}">mot de passe oublié</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- global js -->
<script src="{{ asset('adminStyle/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/bootstrap.min.js') }}" type="text/javascript"></script>
<!-- end of global js -->
<!-- page level js -->
<script type="text/javascript" src="{{ asset('adminStyle/vendors/iCheck/js/icheck.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/bootstrapvalidator/js/bootstrapValidator.min.js') }}"
        type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/custom_js/login.js') }}"></script>
<!-- end of page level js -->
</body>

</html>
