<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="{{ asset('img/icone.jpg') }}"/>
    <link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('adminStyle/vendors/datatables/css/dataTables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-default.css') }}" type="text/css"
          id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/datatables_custom.css') }}">
    <link rel="stylesheet" href=" {{ asset('adminStyle/vendors/swiper/css/swiper.min.css') }}">
    <link href="{{ asset('adminStyle/vendors/nvd3/css/nv.d3.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('adminStyle/vendors/lcswitch/css/lc_switch.css') }}">
    <link href="{{ asset('adminStyle/css/custom_css/dashboard1.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('adminStyle/css/custom_css/dashboard1_timeline.css') }}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('adminStyle/vendors/daterangepicker/css/daterangepicker.css') }}">
    <!--end of page level css-->
</head>
{#{% set totalHT = 0 %}#}
{#{% set totalTTC = 0 %}#}
{#{% set refTva = {} %}#}

{#{% for produitsp in produitsp %}#}
{#{% set totalHT = totalHT + (produitsp.prix * panier[produitsp.id]) %}#}
{#{% endfor %}#}
<body class="skin-blue-gray">
<div class="preloader">
    <div class="loader_img"><img src="{{ asset('adminStyle/img/loader.gif') }}" alt="loading..." height="64" width="64">
    </div>
</div>
<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="{{ path('transfert_homepage') }}" class="logo">
            <img class="img-responsive img-circle " style="width: 70px; background-color: #0c0c0c"
                 src="{{ asset('img/logo.png') }}" alt="Logo"/>
        </a>
        <div>
            <a href="" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i
                        class="fa fa-fw ti-menu"></i>
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href=#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="cart-icon">  <i class=" fa-500px fa fa-shopping-cart black"></i></span>
                        <span class="label label-success"> 5</span>
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown-->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0)" class="dropdown-toggle padding-user" data-toggle="dropdown">
                        <div class="riot">
                            <div> Utilisateur
                                <span>
                                        <i class="caret"></i>
                                    </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="user-header">
                                <img src="{{ asset('img/international-money-transfer.jpg') }}" class="img-circle"
                                     alt="User Image">
                                <p>  {{ app.user.username }}</p>
                            </li>
                            <li class="p-t-3">
                                <a href="{{ path('myAccount') }}">
                                    <i class="fa fa-fw ti-user"></i>Mon compte
                                </a>
                            </li>
                        {% endif %}


                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="p-t-3">
                                <a href="{{ path('fos_user_registration_register') }}">
                                    <i class="fa fa-fw ti-user"></i>Creer un Utilisateur
                                </a>
                            </li>
                        {% endif %}
                        <!-- Menu Body -->
                        <li role="presentation"></li>
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-fw ti-shift-right"></i>
                                        Déconnecter
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}"><i
                                                class="fa fa-fw ti-shift-left"></i> Se Connecter</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar-->
        <section class="sidebar">
            {% include 'menu/menu.html.twig' %}
            <!-- menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {% block header_content %}

        {% endblock %}
        <!-- Main content -->
        {% block contenu %}
            <section class="content">
            </section>
        {% endblock %}
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>

<!-- /.right-side -->
<!-- ./wrapper -->
<!-- global js -->
<script src="{{ asset('adminStyle/js/app.js') }}" type="text/javascript"></script>
<!-- end of page level js -->
<!-- end of global js -->
<!-- begining of page level js -->
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/dataTables.bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/custom_js/datatables_custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/monFichierJS.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/jquerydaterangepicker/css/daterangepicker.min.css') }}">

<!-- end of global js -->
<!-- begining of page level js -->
<!-- InputMask -->
<script src="{{ asset('adminStyle/vendors/moment/js/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/jquery.inputmask.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.date.extensions.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.extensions.js') }}"
        type="text/javascript"></script>
<!-- date-range-picker -->
<script src="{{ asset('adminStyle/vendors/daterangepicker/js/daterangepicker.js') }}" type="text/javascript"></script>


</body>

</html>
