<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ADMINISTRATION</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="{{ asset('img/logo.png') }}"/>
    <link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('adminStyle/vendors/datatables/css/dataTables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-default.css') }}" type="text/css"
          id="skin"/>
    <link rel="stylesheet" href="{{ asset('adminStyle/css/custom_css/skins/skin-mint.css') }}" type="text/css"
          id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/datatables_custom.css') }}">
    <link rel="stylesheet" href=" {{ asset('adminStyle/vendors/swiper/css/swiper.min.css') }}">
    <link href="{{ asset('adminStyle/vendors/nvd3/css/nv.d3.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('adminStyle/vendors/lcswitch/css/lc_switch.css') }}">
    <link href="{{ asset('adminStyle/css/custom_css/dashboard1.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('adminStyle/css/custom_css/dashboard1_timeline.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('adminStyle/vendors/datatablesmark.js/css/datatables.mark.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/responsive_datatables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('adminStyle/vendors/daterangepicker/css/daterangepicker.css') }}">
    <link href="{{ asset('adminStyle/vendors/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('adminStyle/vendors/select2/css/select2-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('adminStyle/vendors/bootstrapvalidator/css/bootstrapValidator.min.css') }}" rel="stylesheet">
    <link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom_css/responsive_datatables.css') }}">
    <link href="{{ asset('adminStyle/css/custom_css/wizard.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('capitalise.css') }}">
    <link type="text/css" href="{{ asset('adminStyle/css/app.css') }}" rel="stylesheet"/>
    <!-- end of global css -->
    <!--page level css -->
    <link href="{{ asset('adminStyle/vendors/iCheck/css/all.css') }}" rel="stylesheet"/>
    <link href="{{ asset('adminStyle/vendors/bootstrap-fileinput/css/fileinput.min.css') }}" media="all"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/custom.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/formelements.css') }}">

    <!--end of page level css-->
</head>

<body class="skin-lavender-gray">
<div class="preloader">
    <div class="loader_img"><img src="{{ asset('adminStyle/img/loader.gif') }}" alt="loading..." height="64" width="64">
    </div>
</div>
<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="logo">
            <img class="img-responsive" style="height:45px; background-color: white;width:100%"
                 src="{{ asset('img/logo.png') }}" alt="Logo"/>
        </a>
        <div>
            <a href="" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i
                        class="fa fa-fw ti-menu"></i>
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav" style="position: relative;left: -20px">
                <li class="dropdown messages-menu">
                    <a href=#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="cart-icon">  <i class=" fa-500px fa fa-shopping-cart black"></i></span>
                        <span class="label label-success"> 5</span>
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown-->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0)" class="dropdown-toggle padding-user" data-toggle="dropdown">
                        <div class="riot">
                            <div>
                                <strong>
                                    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                                    {#{% if is_granted('ROLE_SUPER_ADMIN') -%}#}
                                    {#<span style="font-weight: bold;font-size: x-large;font-family: Elephant">#}
                                    {#{{ 'SUPER ADMINISTRATEUR' }}#}
                                    {#</span>#}
                                    {#{% elseif is_granted('ROLE_ADMIN_AGENCE') -%}#}
                                    {#<span style="font-weight: bold;font-size: x-large;font-family: Elephant">#}
                                    {#{{ 'ADMINISTRATEUR AGENCES' }}#}
                                    {#</span>#}
                                    {#{% elseif is_granted('ROLE_CHEF_AGENCE') -%}#}
                                    {#<span style="font-weight: bold;font-size: x-large;font-family: Elephant">#}
                                    {#Fofana Africa Business / {{ 'CHEF AGENT' }} : {{ app.user.Agent.Agence.nonAgence }}#}
                                    {#</span>#}
                                    {#{% endif %}#}
                                    {#{% endif %}#}
                                    Admin
                                </strong>
                                <span>
                                        <i class="caret"></i>
                                    </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#<li class="user-header">#}
                            {#<img src="{{ asset('img/international-money-transfer.jpg') }}" class="img-circle"#}
                            {#alt="User Image">#}
                            {#<p >#}
                            {#{% if is_granted('ROLE_SUPER_ADMIN') -%}#}
                            {#{{ app.user.username }}#}
                            {#{% elseif is_granted('ROLE_ADMIN_AGENCE') -%}#}
                            {#{{ app.user.username }}#}
                            {#{% elseif is_granted('ROLE_CHEF_AGENCE') -%}#}
                            {#{{ app.user.username }}#}
                            {#{% elseif is_granted('ROLE_AGENT_TRANSFERT') -%}#}
                            {#AGENT TRANSFERT#}
                            {#{% elseif is_granted('ROLE_AGENT_RETRAIT') -%}#}
                            {#AGENT RETRAIT#}
                            {#{% endif %}#}
                            {#</p>#}

                            {#</li>#}
                            <li class="user-header">
                                <img src="{{ asset('img/logo.png') }}" class="img-circle"
                                     alt="User Image">
                                <p>
                                    {% if is_granted('ROLE_SUPER_ADMIN') -%}
                                        {{ 'SUPER_ADMIN' }}
                                    {% elseif is_granted('ROLE_ADMIN_AGENCE') -%}
                                        {{ 'ADMIN_AGENCE' }}
                                    {% elseif is_granted('ROLE_CHEF_AGENCE') -%}
                                        {{ 'CHEF_AGENCE' }}
                                    {% elseif is_granted('ROLE_AGENT_TRANSFERT') -%}
                                        AGENT TRANSFERT
                                    {% elseif is_granted('ROLE_AGENT_RETRAIT') -%}
                                        AGENT RETRAIT
                                    {% endif %}
                                </p>

                            </li>
                            {#<li>#}
                            {#<a href="{{ path('myAccount') }}">#}
                            {#<i class="fa fa-fw ti-user"></i>#}
                            {#<strong> Mon compte</strong>#}
                            {#</a>#}
                            {#</li>#}

                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                {% if app.user.username=='supervisor' %}
                                    <li class="p-t-3">
                                        <a href="{{ path('fos_user_registration_register') }}">
                                            <i class="fa fa-fw ti-user"></i>Creer un Utilisateur
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            </li>
                        {% endif %}
                        <!-- Menu Body -->
                        <li role="presentation"></li>
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-fw ti-shift-right"></i>
                                        Déconnecter
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}"><i
                                                class="fa fa-fw ti-shift-left"></i> Se Connecter</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar-->
        <section class="sidebar">
            {% include 'menu/menu.html.twig' %}
            <!-- menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {% block header_content %}

        {% endblock %}
        <!-- Main content -->
        {% block fos_user_content %}
            <section class="content">
            </section>
        {% endblock %}
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
{#<!-- Modal rentte stock -->#}
{#<div class="modal fade" id="productModal" tabindex="-1" role="dialog">#}
{#<div class="modal-dialog" role="document">#}
{#<div class="modal-content">#}
{#<div class="modal-header">#}
{#ENTRER DE STOCK#}
{#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#aria-hidden="true">&times;</span></button>#}
{#</div>#}
{#<div class="modal-body">#}
{#<div class="modal-product">#}

{#<div class="product-info">#}
{#<h1 class="nomProduit">Aenean eu tristique</h1>#}
{#<div class="quick-add-to-cart">#}
{#{{ form_start(newsForm) }}#}
{#<input hidden="hidden" class="idprod" name="idprod" id="stockid">#}
{#<hr>#}
{#<div class="numbers-row">#}
{#<label>Date</label>#}
{#{{ form_label(newsForm.dateRentre,'Date') }}#}
{#{{ form_widget(newsForm.dateRentre,{'attr':{'class':'form-control'}}) }}#}
{#{{ form_errors(newsForm.dateRentre) }}#}
{#</div>#}
{#<div class="numbers-row">#}

{#{{ form_label(newsForm.quantiteRentre,'Quantite') }}#}
{#{{ form_widget(newsForm.quantiteRentre,{'attr':{'class':'form-control','min ':"1"}}) }}#}
{#{{ form_errors(newsForm.quantiteRentre) }}#}
{#</div>#}
{#<br>#}
{#<button class="single_add_to_cart_button btn btn-success pull-right" type="submit">#}
{#Ajouter#}
{#</button>#}
{#{{ form_end(newsForm) }}#}
{#<br>#}
{#</div>#}
{#<br>#}
{#</div><!-- .product-info -->#}
{#</div><!-- .modal-product -->#}
{#</div><!-- .modal-body -->#}
{#</div><!-- .modal-content -->#}
{#</div><!-- .modal-dialog -->#}
{#</div>#}
{#<!-- END Modal -->#}


{#<!-- Modal sortie stock -->#}
{#<div class="modal fade" id="productModal2" tabindex="-1" role="dialog">#}
{#<div class="modal-dialog" role="document">#}
{#<div class="modal-content">#}
{#<div class="modal-header">#}
{#SORTIE DE STOCK#}
{#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#aria-hidden="true">&times;</span></button>#}
{#</div>#}
{#<div class="modal-body">#}
{#<div class="modal-product">#}
{#<div class="product-info">#}
{#<h1 class="nomProduit2">Aenean eu tristique</h1>#}
{#<div class="quick-add-to-cart">#}
{#<form method="post" class="cart uriAjouStock2" action="">#}
{#<input hidden="hidden" class="stockid2" name="stockid2" id="stockid2">#}
{#<hr>#}
{#<div class="numbers-row">#}
{#<label>Quantite</label>#}
{#<input id="quantiteProduit" type="" value="1" required#}
{#class="form-control  quantitestock2 max" max="" min="1"#}
{#name="qte">#}
{#</div>#}
{#<br>#}
{#<button class="single_add_to_cart_button btn btn-success pull-right" type="submit">#}
{#Ajouter#}
{#</button>#}
{#</form>#}

{#<br>#}
{#</div>#}
{#<br>#}
{#</div><!-- .product-info -->#}
{#</div><!-- .modal-product -->#}
{#</div><!-- .modal-body -->#}
{#</div><!-- .modal-content -->#}
{#</div><!-- .modal-dialog -->#}
{#</div>#}
<!-- END Modal -->


<!-- /.right-side -->
<!-- ./wrapper -->
<!-- global js -->
<script src="{{ asset('adminStyle/js/app.js') }}" type="text/javascript"></script>
<!-- end of page level js -->
<!-- end of global js -->
<!-- begining of page level js -->
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/dataTables.bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/custom_js/datatables_custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/js/monFichierJS.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('adminStyle/css/datepicker.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ asset('adminStyle/vendors/jquerydaterangepicker/css/daterangepicker.min.css') }}">

<!-- end of global js -->
<!-- begining of page level js -->
<!-- InputMask -->
<script src="{{ asset('adminStyle/vendors/moment/js/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/jquery.inputmask.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.date.extensions.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/inputmask/inputmask/inputmask.extensions.js') }}"
        type="text/javascript"></script>
<!-- date-range-picker -->
<script src="{{ asset('adminStyle/vendors/daterangepicker/js/daterangepicker.js') }}" type="text/javascript"></script>

<!-- global js -->
{#<script src="js/app.js" type="text/javascript"></script>#}
<!-- end of global js -->
<!-- begining of page level js -->
<script src="{{ asset('adminStyle/vendors/iCheck/js/icheck.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/select2/js/select2.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/bootstrapwizard/js/jquery.bootstrap.wizard.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/vendors/bootstrapvalidator/js/bootstrapValidator.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/custom_js/form_wizards.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/custom_js/responsive_datatables.js') }}" type="text/javascript"></script>

<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('adminStyle/vendors/datatables/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/mark.js/jquery.mark.js') }}" charset="UTF-8"></script>
<script src="{{ asset('adminStyle/vendors/datatablesmark.js/js/datatables.mark.min.js') }}" charset="UTF-8"></script>

<script src="{{ asset('adminStyle/vendors/iCheck/js/icheck.js') }}"></script>
<script src="{{ asset('adminStyle/vendors/bootstrap-fileinput/js/fileinput.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('adminStyle/js/custom_js/form_elements.js') }}"></script>
<script src="{{ asset('js/excelexportjs.js') }}"></script>
<!-- end of page level js -->

</body>

</html>
