<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

<!-- Mirrored from mydesignhoard.com/HTML/html/education/aboutrectormessage.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Apr 2018 11:22:15 GMT -->
{% include 'inc/css_js/lien_css.html.twig' %}
<body>
{% trans_default_domain 'FOSUserBundle' %}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
        Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper">
    <!--************************************
            Header Start
    *************************************-->
    {% include 'inc/header/herader.html.twig' %}
    <!--************************************
            Header End
    *************************************-->

    <!--************************************
            Inner Banner Start
    *************************************-->

    <div class="tg-innerbanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path('ulg_homepage') }}">Accueil</a></li>
                        <li class="tg-active"><a href="javascript:void(0);">Identification</a></li>
                        <li class="">Connection</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!--************************************
            Inner Banner End
    *************************************-->
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-widgetaboutusnav">
                                <div class="tg-widgettitle">
                                    {#<h3>{{ menusById.menu.name }}</h3>#}
                                </div>

                                <div class="tg-widgetcontent ">

                                    <div class="tg-widget tg-widgetadmissionform">
                                        <div class="tg-widgetcontent">
                                            <h3>Les Resultats 2017</h3>
                                            <div class="tg-description">
                                                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At

                                                      consectetur ea, nostrum quae vitae!</span></p>
                                            </div>
                                            <a class="tg-btn tg-btnicon" href="javascript:void(0);">
                                                <i class="fa fa-file-pdf-o"></i>
                                                <span>Telecharger PDF</span>
                                            </a>
                                        </div>
                                    </div>

                                    {#<div class="tg-widget tg-widgetadmissionform">#}
                                    {#<div class="tg-widgetcontent">#}
                                    {#<h3>Formulaies d'admission</h3>#}
                                    {#<div class="tg-description">#}
                                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At#}
                                    {#cupiditate ipsum nisi, pariatur .</p>#}
                                    {#</div>#}
                                    {#<a class="tg-btn tg-btnicon" href="javascript:void(0);">#}
                                    {#<i class="fa fa-file-pdf-o"></i>#}
                                    {#<span>Telecharger PDF</span>#}
                                    {#</a>#}
                                    {#</div>#}
                                    {#</div>#}
                                    <div class="tg-widget tg-widgetdownload">
                                        <div class="tg-widgettitle">
                                            <h3>Téléchargements</h3>
                                        </div>
                                        <div class="tg-widgetcontent">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-paperclip"></i>
                                                        <span>Guide d'admission</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-map-signs"></i>
                                                        <span>Liste de mérite 2017</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-list-ul"></i>
                                                        <span>Guide d'examen 2017</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-calendar-check-o "></i>
                                                        <span>Dates des examens</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-bookmark-o"></i>
                                                        <span>Autre</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div id="tg-content" class="tg-content">
                            {% block fos_user_content %}


                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <!--************************************
            Main End
   <!--************************************
                Main End
        *************************************-->
    <!--************************************
            Footer Start
    *************************************-->
    {% include 'inc/footer/footer.html.twig' %}
    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->
{% include 'inc/css_js/lien_js.html.twig' %}
</body>

<!-- Mirrored from mydesignhoard.com/HTML/html/education/aboutrectormessage.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Apr 2018 11:23:14 GMT -->
</html>