{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage|raw != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div class="alert alert-success text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Mot de passe perdu</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span10 offset1">
                        <p>
                            <br/>
                            {{ 'resetting.check_email'|trans({'%email%': email}) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
