{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('success') %}
            {% if flashMessage|raw != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                <div class="alert alert-success text-center text-capitalize" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ flashMessage|raw }} </strong>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>
<div class="row container">
    <div class="col-lg-12">
        <h2>Mot de passe perdu</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <h4>Vous avez perdu votre mot de passe ?</h4>
                    <em>
                        Compléter le formulaire, un email vous seras envoyé.<br/>
                        Il contiendra la procèdure à suivre pour récupérer votre mot de passe.
                    </em>
                </div>
                </br>
                <div class="row col-lg-5">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                          class="fos_user_resetting_request">
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" class="form-control " id="username"
                               placeholder="Nom d'utilisateur ou adresse e-mail ici" name="username"
                               required="required"/>
                        <br/>
                        <br/>
                        <input class="btn btn-success" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>