{% trans_default_domain 'FOSUserBundle' %}

<div class="row container">
    <div class="col-lg-12 ">
        <h2>Mot de passe perdu</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <h4>Récupération du mot de passe ?</h4>
                    <em>
                        Compléter le formulaire, votre mot de passe sera alors réinitialiser.<br/>
                        Une fois validé, vous devrez utiliser le nouveau mot de passe que vous avez défini.
                    </em>
                </div>
                <br>

                <div class="span4 offset2 col-lg-5">
                    {{ form_start(form) }}
                    {#{{ form_enctype(form)#}
                    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" }}
                          method="POST">
                        <div class="single-create">
                            <span>Nouveau mot de passe <sup>*</sup></span>
                            {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder': 'form.password'|trans } }) }}
                            {{ form_errors(form.plainPassword.first,{'attr':{'class':'text-danger'} }) }}
                        </div>
                        <br>

                        <div class="single-create">
                            <span>Vérification<sup>*</sup></span>
                            {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                            {{ form_errors(form.plainPassword.second,{'attr':{'class':'text-danger'} }) }}
                        </div>
                        <br/>
                        {{ form_rest(form) }}
                        <input class="btn btn-success" type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
                    </form>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>