{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
    </div><br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> LISTE DES ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Matricule</th>
                                <th>Prenoms et Noms</th>
                                <th>Departement</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for etudiant in etudiants %}
                                    {% if app.user.personnel.departement.id==etudiant.departement.id %}
                                        <tr>
                                            <td>
                                                <img class="img-responsive"
                                                     style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                                    src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                                     alt="{{ etudiant.matricule }}"></td>
                                            <td>{{ etudiant.matricule }}</td>
                                            <td>{{ etudiant.nomPrenom }}</td>
                                            <td>{{ etudiant.departement.name }}</td>
                                            <td class="col-lg-3">
                                                <div class="product-button">

                                                    <button onclick="calculeConfirmFrais()" id="btnNoteSimpleModal"
                                                            class="modal-view click mybtn btn btn-primary"
                                                            data-toggle="modal"
                                                            matriculeEtudiant="{{ etudiant.matricule }}"
                                                            departementEtudiant="{{ etudiant.departement.id }}"
                                                            idEtudiant="{{ etudiant.id }}"
                                                            {% if etudiant.licence!=null %}
                                                                licenceActuel="{{ etudiant.Licence.code }}"
                                                            {% else %}
                                                                licenceActuel="{{ 1 }}"
                                                            {% endif %}
                                                            data-target="#noteSimpleModal">
                                                        <i class="ti-download modal-view"></i>
                                                        Noter
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">

        function calculeConfirmFrais() {
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var departement = '#univbundle_departement';
            var semestre = '#univbundle_semestre';
            var matieres = '#univbundle_matieres';
            var niveaux = '#univbundle_niveaux';
            var matriculeEtudiant = $(this).attr('matriculeEtudiant');

            var idEtudiant = $(this).attr('idEtudiant');
            var departementEtudiant = $(this).attr('departementEtudiant');
            $('.matriculeEtudiant').html(matriculeEtudiant);
            $('#matriculeEtudiant').val(matriculeEtudiant);
            var departement_id = $(departement).val();
            var licenceActuel = $(this).attr('licenceActuel');
            var semestre_id = $(this).val();
            $("#idetudiantForNote").attr("value",idEtudiant);

            $("#univbundle_notation_moyenneCours").attr("value",0);
            $("#univbundle_notation_moyenneExament").attr("value",0);

            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomniveau = data[index].name;

                        $(niveaux).append('<option value="' + id + '">' + nomniveau + '</option>');
                        $(niveaux).val(licenceActuel);
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $.ajax({
                type: "POST",
                url: url2,
                data: {'licence_id': licenceActuel},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomSemestre = data[index].name;
                        $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                    });
                    $(matieres).val(0);
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $(niveaux).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                        $(semestre).val(0);

                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
            $(semestre).on('change', function () {
                var departement_id = departementEtudiant;
                var semestre_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        }
        $(document).on("click", ".mybtn", calculeConfirmFrais);


        function chargementNoteEtudiant() {
            var url = "{{ path('NoteSimpleEtudiantByDepartementNiveauMatiereSessionAjaxActionjax') }}";
            var matieres = '#univbundle_matieres';
            var idetudiantForNote = $("#idetudiantForNote").val();
            var semestre =  $("#univbundle_semestre").val();
//            var matieres_id =$(matieres).val();
            var niveaux_id = $("#univbundle_niveaux").val();

            $(matieres).on('change', function () {
                var etudiant_id = idetudiantForNote;
                var licence_id = niveaux_id;
                var matieres_id = $(this).val();
                var Semestre_id = semestre;
                $("#idMatiereChoisir").attr("value",$(this).val());
                $.ajax({
                    beforeSend:function() {
                        console.log("Loadin ...");
                        $("#loading-excel").attr('src',"{{ asset("img/ajax-loader.gif") }}");
                    },
                    complete:function() {
                        $("#loading-excel").attr('src',"#");
                    },
                    type: "POST",
                    url: url,
                    data: {'etudiant_id': etudiant_id, 'licence_id': licence_id,'matieres_id': matieres_id,'Semestre_id': Semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        for (var i=0; i< Object.keys(data).length; i++){
                            var moyenneCours = data[i].moyenneCours;
                            var moyenneExament = data[i].moyenneExament;
                            if ( (moyenneCours !=null && moyenneCours!= undefined)||(moyenneExament !=null && moyenneExament!= undefined) ){
                                $("#univbundle_notation_moyenneCours").attr("value",moyenneCours);
                                $("#univbundle_notation_moyenneExament").attr("value",moyenneExament);
                                console.log(moyenneCours);
                                console.log(moyenneExament);
                            }else {
                                $("#univbundle_notation_moyenneCours").attr("value",0);
                                $("#univbundle_notation_moyenneExament").attr("value",0);
                            }
                            console.log(Object.keys(data).length);
                            break;
                        }

//                        $.each(data, function (index) {
//                            var moyenneCours = data[index].moyenneCours;
//                            var moyenneExament = data[index].moyenneExament;
//                            if (moyenneCours !=null && moyenneCours!== undefined){
//                                $("#univbundle_notation_moyenneCours").attr("value",moyenneCours);
//                                $("#univbundle_notation_moyenneExament").attr("value",moyenneExament);
//                            }else {
//                                $("#univbundle_notation_moyenneCours").attr("value",0);
//                                $("#univbundle_notation_moyenneExament").attr("value",0);
//                            }
//
//
//                        });
                    },
                    error: function () {
//
//                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        }
        $(document).on("change", ".univbundle_matieres", chargementNoteEtudiant);

    </script>

    <!-- Modal rentte stock -->
    {#{% if newsForm is   defined %}#}
        <div class="modal fade" id="noteSimpleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        NOTATION ETUDIANT
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">

                            <div class="product-info">
                                <h1 style="text-align: center" class="matriculeEtudiant center">Aenean eu tristique</h1>
                                <center>   <img class="img-circle img-responsive" style="width:100px" id="loading-excel" src="#" alt=""></center>
                                <div class="quick-add-to-cart">
                                    {{ form_start(newsForm) }}
                                    <input  class="matriculeEtudiant" name="matriculeEtudiant"
                                           id="matriculeEtudiant">
                                    <input class="idetudiantForNote" name="idetudiantForNote"
                                           id="idetudiantForNote">
                                    <input class="idMatiereChoisir" name="idMatiereChoisir"
                                           id="idMatiereChoisir">
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <div class="">
                                                        <div class="input-group">
                                                            <label for=""><strong>Niveaux :</strong> </label>
                                                            <select id="univbundle_niveaux" name="univbundle_niveaux"
                                                                    required="required" class="form-control input-sm ">
                                                                <option value="0" selected="selected">Selectioner un
                                                                    niveau
                                                                </option>
                                                                {#{% for niv in niveaux %}#}
                                                                <option></option>
                                                                {#{% endfor %}#}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group-addon">
                                                    <div class="">
                                                        <div class="input-group">
                                                            <label for=""><strong>Semestres :</strong> </label>
                                                            <select id="univbundle_semestre" name="univbundle_semestre"
                                                                    required="required" class="form-control input-sm ">
                                                                <option value="0" selected="selected">Selectioner un
                                                                    semestre
                                                                </option>
                                                                {#{% for semestre in semestres %}#}
                                                                <option></option>
                                                                {#{% endfor %}#}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group-addon">
                                                    <div class="">
                                                        <div class="input-group">
                                                            <label for=""><strong>Matieres :</strong> </label>
                                                            <select onchange="chargementNoteEtudiant()" id="univbundle_matieres" name="univbundle_matieres"
                                                                    required="required" class="form-control input-sm ">
                                                                <option value="0" selected="selected">Selectioner une
                                                                    matieres
                                                                </option>
                                                                {#{% for mat in matieres %}#}
                                                                <option></option>
                                                                {#{% endfor %}#}
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ form_label(newsForm.moyenneCours,'Note cours') }}
                                            {{ form_widget(newsForm.moyenneCours,{'attr':{'class':'form-control input-sm','min ':"-1",'max ':"10"}}) }}
                                            {{ form_errors(newsForm.moyenneCours) }}</div>
                                        <div class="col-lg-6"> {{ form_label(newsForm.moyenneExament,'Note Examen') }}
                                            {{ form_widget(newsForm.moyenneExament,{'attr':{'class':'form-control input-sm','min ':"-1",'max ':"10"}}) }}
                                            {{ form_errors(newsForm.moyenneExament) }}
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <button class=" btn btn-block btn-success" type="submit">
                                                Valider
                                            </button>
                                        </div>

                                    </div>
                                    {{ form_end(newsForm) }}
                                    <br>
                                </div>
                                <br>
                            </div>
                            <!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
    {#{% endif %}#}



{% endblock %}