{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            NOTATION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NOTATION ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <form method="GET" class="cart " action="">
                                    <div class="form-group">
                                        <div class="input-group-addon">
                                            <div>
                                                <div class="input-group">
                                                    <label for=""><strong>Departement :</strong> </label>
                                                    <input readonly="readonly" id="inputDep"
                                                           class="form-control input-sm" hidden="hidden" value=""
                                                           type="text">
                                                    <div id="divDepartement">
                                                        <select id="univbundle_departement"
                                                                name="univbundle_departement"
                                                                required="required" class="form-control input-sm">
                                                            <option value selected="selected">Selectioner un Departement
                                                            </option>
                                                            {% for dep in departements %}
                                                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Niveaux :</strong> </label>
                                                    <select id="univbundle_niveaux" name="univbundle_niveaux"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner un niveau
                                                        </option>
                                                        {#{% for niv in niveaux %}#}
                                                        <option></option>
                                                        {#{% endfor %}#}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Semestres :</strong> </label>
                                                    <select id="univbundle_semestre" name="univbundle_semestre"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner un semestre
                                                        </option>
                                                        {#{% for semestre in semestres %}#}
                                                        <option></option>
                                                        {#{% endfor %}#}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Matieres :</strong> </label>
                                                    <select id="univbundle_matieres" name="univbundle_matieres"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner une matieres
                                                        </option>
                                                        {#{% for mat in matieres %}#}
                                                        <option></option>
                                                        {#{% endfor %}#}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="input-group-addon">
                                            <div class="">
                                                <div class="input-group">
                                                    <label for=""><strong>Session :</strong> </label>
                                                    <select id="univbundle_session" name="univbundle_session"
                                                            required="required" class="form-control input-sm ">
                                                        <option value="0" selected="selected">Selectioner une session
                                                        </option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="input-group-addon">
                                            <div class="input-group">
                                                <br/>
                                                <input type="submit" class="btn btn-success btn-block btn-sm "
                                                       value="Valider">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            {% if etudiantsByDepartement!=null and matieresOne!=null %}
                                <div class="col-lg-12">
                                    <div class="panel ">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <i class="ti-layout-grid3"></i> FICHE DE NOTES
                                            </h3>
                                            <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="row condensed container-fluid">
                                                    <div class="col-lg-12">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <strong>Departement: {{ departementOne.name }}</strong>
                                                            </div>
                                                            <div class="input-group-addon">
                                                                <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Semestre: {{ semestreOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Matieres: {{ matieresOne.name }}</strong></div>

                                                            <div class="input-group-addon">
                                                                <input id="seeionOne" value="{{ seeionOne.id }}"
                                                                       type="hidden">
                                                                <strong>Periode: {{ seeionOne.sessions }}</strong></div>
                                                            <input name="departementOne" value="{{ departementOne.id }}"
                                                                   type="hidden">
                                                            <input id="licenceOne" name="licenceOne" value="{{ licenceOne.id }}"
                                                                   type="hidden">
                                                            <input name="semestreOne" value="{{ semestreOne.id }}"
                                                                   type="hidden">
                                                            <input id="matieresOne" name="matieresOne" value="{{ matieresOne.id }}"
                                                                   type="hidden">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <table class="table table-striped table-bordered table-hover"
                                                       id="">
                                                    <thead>
                                                    <tr>
                                                        <th>Matricule</th>
                                                        <th>Prenoms et Noms</th>
                                                        <th>Departement</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for etudiant in etudiantsByDepartement %}
                                                        {% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}
                                                            <tr>
                                                                <td>{{ etudiant.matricule }}<input name="mattricule[]"
                                                                                                   type="hidden"
                                                                                                   value="{{ etudiant.matricule }}">
                                                                </td>
                                                                <td>{{ etudiant.nomPrenom }}</td>
                                                                <td>
                                                                    {{ departementOne.name }}
                                                                    <div class="input-group">
                                                                        <input name="idMatiere" type="hidden"
                                                                               value="{{ idMatiere }}">
                                                                        <input required
                                                                               onChange="validationSaisieNote('.noteCour')"
                                                                               min="0" max="10" step="any"
                                                                               class="form-control input-sm noteCour click "
                                                                               type="hidden"
                                                                               name="noteCour[]"
                                                                                {% if etudiant.moyenneCours !=null %} value="{{ etudiant.moyenneCours }}" {% else %} value="0" {% endif %} />
                                                                        <span class="spnoteCour"
                                                                              style="color: red;"></span>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="input-group">
                                                                        <input min="0" max="10" step="any" required
                                                                               hidden="hidden"
                                                                               onChange="validationSaisieNote('.noteExament')"
                                                                               class="form-control input-sm noteExament"
                                                                               type="hidden"
                                                                               name="noteExament[]"

                                                                                {% if etudiant.moyenneExament !=null %} value="{{ etudiant.moyenneExament }}" {% else %} value="0" {% endif %}
                                                                        />
                                                                        <div class="product-button">

                                                                            <button onclick="chargementNoteEtudiant()"
                                                                                    id="btnNoteSimpleModal"
                                                                                    class="modal-view click mybtn btn btn-primary"
                                                                                    data-toggle="modal"
                                                                                    matriculeEtudiant="{{ etudiant.matricule }}"
                                                                                    departementEtudiant="{{ etudiant.departement_id }}"
                                                                                    idEtudiant="{{ etudiant.etudiant_id }}"
                                                                                    {% if etudiant.licence_id!=null %}
                                                                                        licenceActuel="{{ etudiant.licence_id }}"
                                                                                    {% else %}
                                                                                        licenceActuel="{{ 1 }}"
                                                                                    {% endif %}
                                                                                      matiereName="{{ matieresOne.name }}"
                                                                                    {% if etudiant.moyenneCours !=null %} moyenneCours="{{ etudiant.moyenneCours }}" {% else %} moyenneCours="0" {% endif %}
                                                                                    {% if etudiant.moyenneExament !=null %} moyenneExament="{{ etudiant.moyenneExament }}" {% else %} moyenneExament="0" {% endif %}
                                                                                    data-target="#noteSimpleModal">
                                                                                <i class="ti-download modal-view"></i>
                                                                                Noter
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <style type="text/css">
        .error {
            border: 1px solid red;
        }

        .success {
            border: 1px solid green;
        }
    </style>
    <script type="text/javascript">
        function validationSaisieNote(element) {
            var note = element;

            $(note).on('change', function () {
                var note = parseInt($(this).val());
                if (note >= 11 || note <= -1) {
                    $(this).removeClass('success');
                    $(this).addClass('error');
                } else {
                    $(this).removeClass('error');
                    $(this).addClass('success');
                }
            });
        }
        $(document).on("Change,keyup", ".noteCour", validationSaisieNote);

        $(document).ready(function () {
//        ********************
            var url = "{{ path('ims_matierAjax') }}";
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var url3 = "{{ path('ims_Niveaujax') }}";
            var urlsesion = "{{ path('ims_Sessionsjax') }}";
            var sessions = '#univbundle_session';
            var departement = '#univbundle_departement';
            var semestre = '#univbundle_semestre';
            var matieres = '#univbundle_matieres';
            var niveaux = '#univbundle_niveaux';
            var UserRole = "{{ app.user.rolesUser }}";
            var divDepartement = $("#divDepartement");
            var inputDep = $("#inputDep");

            var UserDep = "{{ app.user.personnel.departement.id }}";
            $(departement).val(UserDep);
            inputDep.attr('hidden', true);
            (inputDep).val("{{ app.user.personnel.departement.name }}");
            (divDepartement).attr('hidden', true);

            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var niveau = data[index].name;
                        $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });

            $(semestre).on('change', function () {
                var departement_id = $(departement).val();
                var semestre_id = $(this).val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'departement_id': departement_id, 'semestre_id': semestre_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nommatiere = data[index].name;
                            $(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });

            });
            $(departement).on('change', function () {
                $.ajax({
                    type: "POST",
                    url: url3,
                    data: {},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var niveau = data[index].name;
                            $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });

                $(semestre).val(0);
                $(niveaux).val(0);
                $(matieres).val(0);
            });
            $(niveaux).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                        $(matieres).val(0);
                        $.ajax({
                            type: "POST",
                            url: urlsesion,
                            data: {},
                            dataType: 'JSON',
                            timeout: 30000,
                            success: function (data) {
                                //reinitialise la liste
                                $(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');
                                //met a jour la liste
                                $.each(data, function (index) {
                                    var id = data[index].id;
                                    var nom = data[index].sessions;
                                    $(sessions).append('<option value="' + id + '">' + nom + '</option>');
                                });
                            },
                            error: function () {
                                alert('Erreur, la connexion au serveur a ete interrompue');
                            }
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });
    </script>
  {% if etudiantsByDepartement!=null and matieresOne!=null %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
        function chargementNoteEtudiant() {
            var url = "{{ path('NoteSimpleEtudiantRecuperationByEtudiantSessionLicenceMatierAjax') }}";
            var matriculeEtudiant = $(this).attr('idEtudiant');
            var session_id = "{{ seeionOne.id }}";
            var niveaux_id ="{{ licenceOne.id }}";
            var matieres_id ="{{ matieresOne.id }}";

            var matiere=$(".matiereName");
            matiere.html('{{ matieresOne.name }}');
            $("#matriculeEtudiant").val( $(this).attr('matriculeEtudiant'));
            $(".matriculeEtudiant").html($(this).attr('matriculeEtudiant'));
            $("#idetudiantForNote").val( $(this).attr('idEtudiant'));
            $("#idMatiereChoisir").val( matieres_id);

            $("#idLicence").val( niveaux_id);
            $("#idSession").val( session_id);
            $("#idSemestre").val("{{ semestreOne.id }}");
            $("#univbundle_notation_moyenneCours").attr("value",0);
            $("#univbundle_notation_moyenneExament").attr("value",0);
            $.ajax({
                type: "POST",
                url: url,
                data: {'etudiant_id':matriculeEtudiant, 'licence_id':niveaux_id,'matieres_id':matieres_id,'session_id':session_id},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                     $.each(data, function (index) {
                        var moyenneCours = data[index].moyenneCours;
                        var moyenneExament = data[index].moyenneExament;
                        $("#univbundle_notation_moyenneCours").attr("value",moyenneCours);
                        $("#univbundle_notation_moyenneExament").attr("value",moyenneExament);
                        console.log(moyenneCours);
                        console.log(moyenneExament);
                        console.log(data);

                    });
                },

                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
        }
        $(document).on("click", ".mybtn", chargementNoteEtudiant);

    </script>
    {% endif %}
    <!-- Modal rentte stock -->
    {#{% if newsForm is   defined %}#}
    <div class="modal fade" id="noteSimpleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    NOTATION ETUDIANT
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">

                        <div class="product-info">
                           <div style="text-align: center"><h4> Matricule:<strong style="text-align: center" class="matriculeEtudiant center">Aenean eu tristique</strong></h4>
                               <h4>   Matiere:<strong style="text-align: center" class="matiereName center">Aenean eu tristique</strong></h4></div>
                            <div class="quick-add-to-cart">
                                {{ form_start(newsForm) }}
                                <input type="hidden"   class=""  name="matriculeEtudiant"  id="matriculeEtudiant">
                                <input  type="hidden" class="idetudiantForNote"  name="idetudiantForNote"  id="idetudiantForNote">
                                <input type="hidden"  class="idMatiereChoisir"   name="idMatiereChoisir"   id="idMatiereChoisir">
                                <input type="hidden"  class="idLicence"          name="idLicence"          id="idLicence">
                                <input  type="hidden" class="idSession"          name="idSession"          id="idSession">
                                <input type="hidden"  class="idSemestre"         name="idSemestre"         id="idSemestre">
                                <hr>

                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form_label(newsForm.moyenneCours,'Note cours') }}
                                        {{ form_widget(newsForm.moyenneCours,{'attr':{'class':'form-control input-sm','min ':"-1",'max ':"10"}}) }}
                                        {{ form_errors(newsForm.moyenneCours) }}</div>
                                    <div class="col-lg-6"> {{ form_label(newsForm.moyenneExament,'Note Examen') }}
                                        {{ form_widget(newsForm.moyenneExament,{'attr':{'class':'form-control input-sm','min ':"-1",'max ':"10"}}) }}
                                        {{ form_errors(newsForm.moyenneExament) }}
                                    </div>

                                </div>
                                <br>
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <button class=" btn btn-block btn-success" type="submit">
                                            Valider
                                        </button>
                                    </div>

                                </div>
                                {{ form_end(newsForm) }}
                                <br>
                            </div>
                            <br>
                        </div>
                        <!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    {#{% endif %}#}

{% endblock %}