{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
    {#<title>DOC</title>#}
    {#<style>#}

        {#.centre {#}
            {#text-align: center;#}
        {#}#}

        {#.personne td {#}
            {#border: 1px solid #000000;#}
            {#padding: 5px;#}
        {#}#}

        {#.personne th {#}
            {#padding-top: 12px;#}
            {#padding-bottom: 12px;#}
            {#text-align: left;#}
            {#background-color: #cecece;#}
            {#color: #000000;#}
        {#}#}
    {#</style>#}
    {#<style>#}
        {#.customers {#}
            {#border-collapse: collapse;#}
            {#width: 100%;#}
        {#}#}

        {#.customers td, .customers th {#}
            {#border: 1px solid #000000;#}
            {#padding: 8px;#}
        {#}#}

        {#.customers tr:nth-child(even) {#}
            {#background-color: #f2f2f2;#}
        {#}#}

        {#.customers tr:hover {#}
            {#background-color: #000000;#}
        {#}#}

        {#.customers th {#}
            {#padding-top: 12px;#}
            {#padding-bottom: 12px;#}
            {#text-align: left;#}
            {#background-color: #ddd8dd;#}
            {#color: #000000;#}
        {#}#}

        {#.customers td {#}
            {#text-align: left;#}
        {#}#}

        {#.noteExellente {#}
            {#background: green;#}
            {#color: white;#}
        {#}#}

        {#.noteBien {#}
            {#background: #cfff69;#}
            {#color: white;#}
        {#}#}

        {#.noteABien {#}
            {#background: #e2ff73;#}
            {#color: #000000;#}
        {#}#}

        {#.notePassable {#}
            {#background: #ffad7e;#}
            {#color: white;#}
        {#}#}

        {#.noteModiocre {#}
            {#background: red;#}
            {#color: white;#}
        {#}#}
    {#</style>#}
{#</head>#}
{#<body>#}
{#<div>#}
    {#<div style="width: auto; height:auto">#}
        {#<table class="personne">#}
            {#<tr>#}
                {#<td>#}
                    {#<table>#}
                        {#<tr>#}
                            {#<td>UNIVERSITE</td>#}
                            {#<td>KINDIA</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>FACULTE</td>#}
                            {#<td style="width:190px">{{ matiere.departement.faculte.name }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>SESSION/PERIODE</td>#}
                            {#<td>{{ matiere.semestre.name }} / {{ session.sessions }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>ENSEIGNANT</td>#}
                            {#<td style="width:200px">DOUMBOUYA NABY (MASTER)</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>MATIERE</td>#}
                            {#<td>{{ matiere.name }}</td>#}
                        {#</tr>#}
                    {#</table>#}
                {#</td>#}

                {#<td style="width:208px">#}
                    {#<table>#}
                        {#<tr>#}
                            {#<td style="width:280px;text-align: center;border: none"><h3><strong>FICHE DE NOTES</strong>#}
                                {#</h3>#}
                                {#<span>{{ '16/02/2018  8:45:65' }}</span>#}
                            {#</td>#}

                        {#</tr>#}
                    {#</table>#}


                    {#<table>#}
                        {#<tr>#}
                            {#<td>Departement <br>NIVEAU</td>#}
                            {#<td style="text-align: center;width:260px">#}
                                {#<span style="width:5px">#}
                                    {#{{ licence.name }}/ {{ matiere.departement.name }}#}
                                {#</span>#}
                            {#</td>#}
                        {#</tr>#}
                    {#</table>#}

                {#</td>#}
            {#</tr>#}
        {#</table>#}
        {#<br>#}
        {#<div style="padding-left: 15px">#}
            {#<table border="1" class="customers">#}
                {#<thead style="background: grey;height:890px;color: black;margin: 20px;padding: 15px">#}
                {#<tr style="background: grey;height:890px;color: black;margin: 20px;padding: 15px">#}
                    {#<th>N°</th>#}
                    {#<th>Matricule</th>#}
                    {#<th>Noms et Prenoms</th>#}
                    {#<th>Moy Cours</th>#}
                    {#<th>Moy Comp</th>#}
                    {#<th>Moy Gle</th>#}
                    {#<th>1.Session</th>#}
                    {#<th>2.Session</th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}

                {#{% for note in notes %}#}
                    {#<tr>#}
                        {#<td>#}
                            {#{{ loop.index }}#}
                        {#</td>#}
                        {#<td>{{ note.etudiant.matricule }}</td>#}
                        {#<td>{{ note.etudiant.nomPrenom }}</td>#}
                        {#<td>#}
                            {#{{ note.moyenneCours }}#}
                        {#</td>#}
                        {#<td>#}
                            {#{{ note.moyenneExament }}#}
                        {#</td>#}
                        {#<td>{{ (note.moyenneCours+note.moyenneExament)/(2) }}</td>#}
                        {#<td {% if note.session1 >=8 %} class="noteExellente" {% elseif note.session1 >=7.5 %} class="noteBien" {% endif %}>{{ note.session1 }}</td>#}
                        {#<td {% if note.session2 >=8 %} class="noteExellente" {% elseif note.session2 >=7.5 %} class="noteBien" {% endif %}>{{ note.session2 }}</td>#}
                    {#</tr>#}
                {#{% else %}#}
                    {#<span class="information alert-message center">Aucun enregistrements trouvés</span>#}
                {#{% endfor %}#}
                {#</tbody>#}
            {#</table>#}
        {#</div>#}
        {#<br/>#}
    {#</div>#}


{#</div>#}
{#</body>#}
{#</html>#}











<!DOCTYPE html>
<html>
<head>
    <title>DOC</title>
    <style>

        .centre{
            text-align: center;
        }
        .personne td {
            border: 1px solid #000000;
            padding: 5px;
        }

        .personne th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cecece;
            color: #000000;
        }
    </style>
    <style>
        .customers {
            border-collapse: collapse;
            width: 100%;
        }

        .customers td, .customers th {
            border: 1px solid #000000;
            padding: 8px;
        }

        .customers tr:nth-child(even){background-color: #f2f2f2;}

        .customers tr:hover {background-color: #000000;}

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ddd8dd;
            color: #000000;
        }
    </style>
</head>
<body >
<div>
    {#////////////////#}
    <div style="width: auto; height:auto">
        <table class="personne">
            <tr>
                <td style="width:720px; height:20px">

                    <div>
                        <img style="background: red;width: 750px"  src="{{ absolute_url(asset('img/sansnrien.png')) }}">
                        <img style="background: red;width: 750px"  
                            src="/Applications/XAMPP/xamppfiles/htdocs/Univ/web/img/logo2.png"
						    {# src="C:/laragon/www/univ/web/img/logo2.png" #}
                            />
                    </div>
                </td>


            </tr>
        </table>


        <table class="personne">
            <tr>
                <td>
                    <table style="border: none">
                        <tr>
                            <td>UNIVERSITE</td>
                            <td>KINDIA</td>
                        </tr>
                        <tr>
                            <td>FACULTE</td>
                            <td style="width:190px">{{ matiere.departement.faculte.name }}</td>
                        </tr>
                        <tr>
                            <td>SESSION/PERIODE</td>
                            <td>{{ matiere.semestre.name }} / {{ session.sessions }}</td>
                        </tr>
                        {% if enseignant!=null %}
                        <tr>
                            <td>ENSEIGNANT</td>
                            <td style="width:200px">{{ enseignant.name}} {{ enseignant.prenom }} </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>MATIERE</td>
                            <td>{{ matiere.name }}</td>
                        </tr>
                    </table>
                </td>

                <td style="width:200px">
                    <table>
                        <tr>
                            <td style="width:280px;text-align: center;border: none"><h3><strong>ETUDIANTS EN SESSIONS
                                        <qrcode value="Code bar de Universite Kindia" ec="H" style="width:25mm;height: 25mm; background-color: white; color: black;"></qrcode>
                                    </strong>
                                </h3>
                                <span>{{ 'now'|date('d-m-Y') }}</span>
                            </td>

                        </tr>
                    </table>


                    <table>
                        <tr>
                            <td>Departement <br>NIVEAU</td>
                            <td style="text-align: center;width:260px">
                                <span style="width:5px">
                                    {{ licence.name }}/ {{ matiere.departement.name }}
                                </span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <br>

        <div style="padding-left:2px ;padding-right: 25px">
            <table border="1" class="customers">
                <thead style="background: grey;color: black;">
                <tr style="background: grey;color: black;">
                    <th>N°</th>
                    <th>Matricule</th>
                    <th>Noms et Prenoms</th>
                    <th>Moy Cours</th>
                    <th>Moy Comp</th>
                    <th>Moy Gle</th>
                    <th>1.Session</th>
                    <th>2.Session</th>
                </tr>
                </thead>
                <tbody>

                {% for note in notes %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>{{ note.etudiant.matricule }}</td>
                        <td>{{ note.etudiant.nomPrenom }}</td>
                        <td>
                            {{ note.moyenneCours }}
                        </td>
                        <td>
                            {{ note.moyenneExament }}
                        </td>
                        <td>{{ (note.moyenneCours+note.moyenneExament)/(2) }}</td>
                        <td {% if note.session1 >=8 %} class="noteExellente" {% elseif note.session1 >=7.5 %} class="noteBien" {% endif %}>{{ note.session1 }}</td>
                        <td {% if note.session2 >=8 %} class="noteExellente" {% elseif note.session2 >=7.5 %} class="noteBien" {% endif %}>{{ ' '}}</td>
                    </tr>
                {% else %}
                    <span class="information alert-message center">Aucun enregistrements trouvés</span>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>


    </div>
    <br/>
    <br/>
    <div>
        <table>
            <tr>
                <td width="450"><span class="left">Le Chargé du Cours</span></td>
                <td> <span class="right">Le Directeur du Programme</span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left">Date</span></td>
                <td> <span class="right">Date</span></td>
            </tr>
        </table>



    </div>

</div>
</body>
</html>

