{% xlsdocument %}
{% xlssheet 'FicheNotes' %}

            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}FACULTE :{% endxlscell %}
            {% xlscell %}{{ matiere.departement.faculte.name }}{% endxlscell %}
             {% endxlsrow %}

            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %} Semestre :{% endxlscell %}
            {% xlscell %}{{ matiere.semestre.name }}{% endxlscell %}
             {% endxlsrow %}

            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %} Periode :{% endxlscell %}
            {% xlscell %}{{ session.sessions }}{% endxlscell %}
             {% endxlsrow %}

  {% if enseignant!=null %}
      {% xlsrow %}
      {% xlscell { style: { font: { size: '11' } } } %}ENSEIGNANT:{% endxlscell %}
      {% xlscell %}{{ enseignant.name }} {{ enseignant.prenom }}  {% endxlscell %}
      {% endxlsrow %}
  {% endif %}



             {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}MATIERE :{% endxlscell %}
            {% xlscell %}{{ matiere.name }}{% endxlscell %}
             {% endxlsrow %}


             {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}NIVEAU :{% endxlscell %}
            {% xlscell %} {{ licence.name }}{% endxlscell %}
             {% endxlsrow %}




             {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}DEPARTEMENT :{% endxlscell %}
            {% xlscell %}{{ matiere.departement.name }}{% endxlscell %}
             {% endxlsrow %}





       {% xlsrow %}
            {% xlscell { style: { font: { size: '18' } } } %}{% endxlscell %}
        {% endxlsrow %}

               {% xlsrow %}
{% xlscell { style: { font: { size: '11' } } } %}NUMERO{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MATRICULE{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}NOMS ET PRENOMS{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MOYENNE COURS{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MOYENNE COMPOSITION{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MOYENNE GENERALE{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}SESSION 1{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}SESSION 2{% endxlscell %}
        {% endxlsrow %}

        {% for note in notes %}
            {% xlsrow %}

            {% xlscell %}{{ loop.index }}{% endxlscell %}
            {% xlscell %}{{ '( '~ note.etudiant.matricule~' )' }}{% endxlscell %}
            {% xlscell %}{{ note.etudiant.nomPrenom }}{% endxlscell %}
            {% xlscell %}{{ note.moyenneCours }}{% endxlscell %}
            {% xlscell %}{{ note.moyenneExament }}{% endxlscell %}
            {% xlscell %}{{ (note.moyenneCours+note.moyenneExament)/2 }}{% endxlscell %}
            {% xlscell %}{{ note.session1 }}{% endxlscell %}
            {% xlscell %}{{ note.session2 }}{% endxlscell %}

            {% endxlsrow %}

        {% else %}
            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %} {% endxlscell %}
            {% xlscell %}{{ 'Aucun enregistrements trouvés' }}{% endxlscell %}
            {% endxlsrow %}
        {% endfor %}

    {% endxlssheet %}
{% endxlsdocument %}


