{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.departement,'Departement') }}
                            {{ form_widget(edit_form.departement,{'attr':{'class':'form-control  input-sm'}}) }}
                            {{ form_errors(edit_form.departement) }}

                            {{ form_label(edit_form.licence,'Niveau') }}
                            {{ form_widget(edit_form.licence,{'attr':{'class':'form-control  input-sm'}}) }}
                            {{ form_errors(edit_form.licence) }}

                            {{ form_label(edit_form.semestre,'Semestre') }}
                            {{ form_widget(edit_form.semestre,{'attr':{'class':'form-control  input-sm'}}) }}
                            {{ form_errors(edit_form.semestre) }}

                            {{ form_label(edit_form.typeMatiere,'Type Matiere') }}
                            {{ form_widget(edit_form.typeMatiere,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.typeMatiere) }}
                        </div>

                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.nombreCredit,'Nombre Credit') }}
                            {{ form_widget(edit_form.nombreCredit,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.nombreCredit) }}

                            {{ form_label(edit_form.name,'Matiere') }}
                            {{ form_widget(edit_form.name,{'attr':{'class':'form-control  input-sm'}}) }}
                            {{ form_errors(edit_form.name) }}

                            {{ form_label(edit_form.nombreHeure,'nombreHeure') }}
                            {{ form_widget(edit_form.nombreHeure,{'attr':{'class':'form-control  input-sm'}}) }}
                            {{ form_errors(edit_form.nombreHeure) }}



                            <br>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    {{ form_label(edit_form.baremInf,'baremInf') }}
                                    {{ form_widget(edit_form.baremInf,{'attr':{'class':'form-control  input-sm'}}) }}
                                    {{ form_errors(edit_form.baremInf) }}
                                </div>
                                <div class="input-group-addon">
                                    {{ form_label(edit_form.baremSup,'baremSup') }}
                                    {{ form_widget(edit_form.baremSup,{'attr':{'class':'form-control  input-sm'}}) }}
                                    {{ form_errors(edit_form.baremSup) }}
                                </div>
                            </div>

                        </div>

                    </div>

                    <br>

                    <div class="form-group">
                        <div class="input-group-addon">
                            <a href="{{ path('matiers_index') }}">
                                <button type="button" class="btn "><span
                                            class="glyphicon glyphicon-backward">   Retour</span>
                                </button>
                            </a>

                        </div>
                        <div class="input-group-addon">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
//        ********************
            var semestre = '#univbundle_matiers_semestre';
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var livence = '#univbundle_matiers_licence';
//            var semestre = '#univbundle_matiers_semestre';
            $(livence).val({{ matier.semestre.Licence.id }});
            var licence_id = "{{ matier.semestre.Licence.id }}";
            $.ajax({
                type: "POST",
                url: url2,
                data: {'licence_id': licence_id},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(semestre).html('<option value > -- Selectioner une semestre -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var nomSemestre = data[index].name;
                        $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                    });
                    $(semestre).val({{ matier.semestre.id }});
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $(semestre).html('<option value > -- Selectioner une semestre -- </option>');
            $(livence).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value > -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });


        {#function calculeConfirmFrais() {#}
        {#var url2 = "{{ path('ims_semestreByNiveaujax') }}";#}
        {#var livence = '#univbundle_matiers_licence';#}
        {#var semestre = '#univbundle_matiers_semestre';#}
        {#$(livence).on('change', function () {#}
        {#var licence_id = $(this).val();#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: url2,#}
        {#data: {'licence_id': licence_id},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(semestre).html('<option value > -- Selectioner une semestre -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var nomSemestre = data[index].name;#}
        {#$(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#});#}
        {#}#}

        {#$(document).on("change", "#univbundle_matiers_licence", calculeConfirmFrais);#}
    </script>
{% endblock %}



