{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            MATIERES
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('matiers_new') }}">
                <button class="btn btn-success btn-ms btn-block"><span
                            class="glyphicon glyphicon-import"> Nouvelle Matiere</span></button>
            </a>
        </div>

    </div><br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> LISTE DES MATIERES
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                            <tr>

                                <th>Code</th>
                                <th>Matiere</th>
                                <th>Nombreheure</th>
                                <th>Departement</th>
                                <th>Semestre</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% for matier in matiers %}
                                    <tr>
                                        <td>{{ matier.code }}</td>
                                        <td>{{ matier.name }}</td>
                                        <td>{{ matier.nombreHeure }}</td>
                                        <td>{{ matier.departement.name }}</td>
                                        <td>{{ matier.semestre.name }}</td>
                                        <td class="col-lg-3">
                                            <a href="{{ path('matiers_show', {'id': matier.id}) }}">
                                                <button class="btn btn-warning btn-sm"><span
                                                            class="glyphicon glyphicon-eye-open"> Detail</span>
                                                </button>
                                            </a>
                                            <a href="{{ path('matiers_edit', {'id': matier.id}) }}">
                                                <button class="btn btn-success btn-sm"><span
                                                            class="glyphicon glyphicon-edit"> Modifier</span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% elseif  is_granted('ROLE_ADMIN') %}
                                {% for matier in matiers %}
                                    <tr>
                                        <td>{{ matier.code }}</td>
                                        <td>{{ matier.name }}</td>
                                        <td>{{ matier.nombreHeure }}</td>
                                        <td>{{ matier.departement.name }}</td>
                                        <td>{{ matier.semestre.name }}</td>
                                        <td class="col-lg-3">
                                            <a href="{{ path('matiers_show', {'id': matier.id}) }}">
                                                <button class="btn btn-warning btn-sm"><span
                                                            class="glyphicon glyphicon-eye-open"> Detail</span>
                                                </button>
                                            </a>
                                            <a href="{{ path('matiers_edit', {'id': matier.id}) }}">
                                                <button class="btn btn-success btn-sm"><span
                                                            class="glyphicon glyphicon-edit"> Modifier</span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% elseif  is_granted('ROLE_SUPERVISEUR') %}
                                {% for matier in matiers %}
                                    <tr>
                                        <td>{{ matier.code }}</td>
                                        <td>{{ matier.name }}</td>
                                        <td>{{ matier.nombreHeure }}</td>
                                        <td>{{ matier.departement.name }}</td>
                                        <td>{{ matier.semestre.name }}</td>
                                        <td class="col-lg-3">
                                            <a href="{{ path('matiers_show', {'id': matier.id}) }}">
                                                <button class="btn btn-warning btn-sm"><span
                                                            class="glyphicon glyphicon-eye-open"> Detail</span>
                                                </button>
                                            </a>
                                            <a href="{{ path('matiers_edit', {'id': matier.id}) }}">
                                                <button class="btn btn-success btn-sm"><span
                                                            class="glyphicon glyphicon-edit"> Modifier</span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                                {% for matier in matiers %}
                                    {% if app.user.personnel.departement.id==matier.departement.id %}
                                        <tr>
                                            <td>{{ matier.code }}</td>
                                            <td>{{ matier.name }}</td>
                                            <td>{{ matier.nombreHeure }}</td>
                                            <td>{{ matier.departement.name }}</td>
                                            <td>{{ matier.semestre.name }}</td>
                                            <td class="col-lg-3">
                                                <a href="{{ path('matiers_show', {'id': matier.id}) }}">
                                                    <button class="btn btn-warning btn-sm"><span
                                                                class="glyphicon glyphicon-eye-open"> Detail</span>
                                                    </button>
                                                </a>
                                                <a href="{{ path('matiers_edit', {'id': matier.id}) }}">
                                                    <button class="btn btn-success btn-sm"><span
                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            {% elseif  is_granted('ROLE_ETUDIANT') %}
                                {#////  rien///#}
                            {% elseif  is_granted('ROLE_ENSEGNANT') %}
                                {#////  rien///#}

                            {% elseif  is_granted('ROLE_SCOLARITE') %}
                                {#////  rien///#}

                            {% elseif  is_granted('ROLE_COMPTABLE') %}
                                {#////  rien///#}

                            {% elseif  is_granted('ROLE_COMPTABILITE') %}
                                {#////  rien///#}

                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}