{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'une matiere
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(form.departement,'Departement') }}
                            {{ form_widget(form.departement,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.departement) }}

                            {{ form_label(form.licence,'Niveau') }}
                            {{ form_widget(form.licence,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(form.licence) }}

                            {{ form_label(form.semestre,'Semestre') }}
                            {{ form_widget(form.semestre,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(form.semestre) }}

                            {{ form_label(form.typeMatiere,'Type Matiere') }}
                            {{ form_widget(form.typeMatiere,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(form.typeMatiere) }}

                        </div>

                        <div class="col-lg-6 col-md-6">

                            {{ form_label(form.nombreCredit,'Nombre Credit') }}
                            {{ form_widget(form.nombreCredit,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(form.nombreCredit) }}

                            {{ form_label(form.name,'Matiere') }}
                            {{ form_widget(form.name,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(form.name) }}

                            {{ form_label(form.nombreHeure,'nombreHeure') }}
                            {{ form_widget(form.nombreHeure,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(form.nombreHeure) }}
                            <br>
                             <div class="input-group">
                                 <div class="input-group-addon">
                                     {{ form_label(form.baremInf,'baremInf') }}
                                     {{ form_widget(form.baremInf,{'attr':{'class':'form-control input-sm'}}) }}
                                     {{ form_errors(form.baremInf) }}
                                 </div>
                                 <div class="input-group-addon">
                                     {{ form_label(form.baremSup,'baremSup') }}
                                     {{ form_widget(form.baremSup,{'attr':{'class':'form-control input-sm'}}) }}
                                     {{ form_errors(form.baremSup) }}
                                 </div>
                             </div>

                        </div>

                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-lg-6  col-lg-pull-2">
                            <a href="{{ path('matiers_index') }}">
                                Retour
                            </a>
                        </div>
                        {{ form_rest(form) }}
                        <div class="col-lg-6 col-lg-pull-2">
                            <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
//        ********************
            var semestre = '#univbundle_matiers_semestre';
            var url2 = "{{ path('ims_semestreByNiveaujax') }}";
            var livence = '#univbundle_matiers_licence';
//            var semestre = '#univbundle_matiers_semestre';

            $(semestre).html('<option value > -- Selectioner une semestre -- </option>');
            $(livence).on('change', function () {
                var licence_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: url2,
                    data: {'licence_id': licence_id},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(semestre).html('<option value > -- Selectioner une semestre -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nomSemestre = data[index].name;
                            $(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });



        {#function calculeConfirmFrais() {#}
        {#var url2 = "{{ path('ims_semestreByNiveaujax') }}";#}
        {#var livence = '#univbundle_matiers_licence';#}
        {#var semestre = '#univbundle_matiers_semestre';#}
        {#$(livence).on('change', function () {#}
        {#var licence_id = $(this).val();#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: url2,#}
        {#data: {'licence_id': licence_id},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(semestre).html('<option value > -- Selectioner une semestre -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var nomSemestre = data[index].name;#}
        {#$(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#});#}
        {#}#}

        {#$(document).on("change", "#univbundle_matiers_licence", calculeConfirmFrais);#}
    </script>
{% endblock %}

