<!DOCTYPE html>
<html>
<head>
    <title>Badge</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
</head>
<body style="margin: 50px">
<div class="panel panel-primary">
    <style type="text/css">
        .entete{
            background-image:url("{{ absolute_url(asset('img/p2.png')) }}");
            background-color: red;
            height:64px;width:200px;
            border: 1px solid;
        }
    </style>
    <style type="text/css">
        .infos{
            color: white;
        }
    </style>

    <style>
        div.example {
            /*background-color: lightgrey;*/
            padding: 20px;
        }

        @media screen and (min-width: 601px) {
            div.example {
                font-size: 80px;
            }
        }

        @media screen and (max-width: 600px) {
            div.example {
                font-size: 30px;
            }
        }
    </style>
    <div class="panel-body">
        <div style='height: 515px;background-image: url("{{ absolute_url(asset('img/modele de badge.png')) }}") ;width:338px;border: 1px solid;display: inline-block;background-repeat: no-repeat'>
            <div class="example" style="color: black; font-family:'Segoe UI' ;font-weight: bold; padding-top:85px;text-align: left;font-size:11px;margin-left: 5px;width: 400px;text-overflow:ellipsis">
                {{ etudiant.departement.faculte.name }}
            </div>
            <div class="example" style="height: 200px; color: black; font-family:'Segoe UI Light' ; margin-top: -10px; text-align: left;padding-top:0px;margin-left: 5px ;font-size:14px;text-transform: uppercase">
                Departement: {{ etudiant.departement.name }}
            </div>

            <div class="example"  style="color: black; font-size:16px; font-family: 'Century Gothic';font-weight:bold ;text-align: justify;padding-top:28px;margin-left: 5px">
                {{ etudiant.matricule }}
            </div>
            <div class="example"  style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:15px;margin-left: 1px">
                {{ nom }}
            </div>
            <div class="example"  style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:15px;margin-left: 1px">
               {{ prenom}}
            </div>
            <div class="example"  style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:15px;margin-left: 1px">
                620 00 00 00
            </div>

            <div class="example"  style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:15px;margin-left:1px">
               {{ etudiant.contact }}
            </div>

            <div class="example"  style="color: #0b1b6d;font-size:18px; font-family: 'arial';font-weight:bold  ;text-align: justify;padding-top:32px;margin-left: 1px">
               {{ anneeUniv }}
            </div>

            <div style="border: 1px solid ; barder-radius:2px 2px 2px 2px; background: transparent;width: 120px ;height:139px;position: relative; top: -500px;left:200px">
                <img class=" img img-responsive" style="width: 119px;height: 139px" src="{{ absolute_url(asset('uploads/'~etudiant.image.path)) }}">
            </div>

            <div style=" background: transparent;width: 120px ;height:114px;position: relative; top: -500px;left:200px">
                {{ barcode({code: "Universite Kindia/"~etudiant.matricule, type: 'datamatrix', format: 'svg', width:4, height:4, color: 'black'}) }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
