{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            BULLETIN DE NOTES
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NOTATION ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="row ">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <strong>Etudiant: {{ etudiant.nomPrenom }}</strong></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <strong>Matricule: {{ etudiant.matricule }}</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row ">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <strong>Faculte: {{ etudiant.departement.faculte.name }}</strong></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <strong>Departement: {{ etudiant.departement.name }}</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <div class=" form-group ">
                                            <form method="get">
                                                <div class="input-group-addon">
                                                    <label for="input-text" class="control-label"><strong>Niveau:</strong></label>
                                                    <div class="">
                                                        <select id="licenceBulletin" name="licence" required="required"
                                                                class="form-control input-sm">
                                                            {#{% if  temoinIdCodeLicence ==1 %}#}
                                                                {% for licence in licences %}
                                                                    {#{% if licence.id!=2 and licence.id!= 3  and licence.id!=4 %}#}
                                                                        <option {% if licence.id==selectedLicenceId %}  selected="{{ selectedLicenceId }}" {% endif %}
                                                                                value="{{ licence.id }}">{{ licence.name }}</option>
                                                                    {#{% endif %}#}
                                                                {% endfor %}
                                                            {#{% elseif  temoinIdCodeLicence ==2 %}#}
                                                                {#{% for licence in licences %}#}
                                                                    {#{% if licence.id!= 3  and licence.id!=4 %}#}
                                                                        {#<option {% if licence.id==selectedLicenceId %}  selected="{{ selectedLicenceId }}" {% endif %}#}
                                                                                {#value="{{ licence.id }}">{{ licence.name }}</option>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                            {#{% elseif  temoinIdCodeLicence ==3 %}#}
                                                                {#{% for licence in licences %}#}
                                                                    {#{% if licence.id!=4 %}#}
                                                                        {#<option {% if licence.id==selectedLicenceId %}  selected="{{ selectedLicenceId }}" {% endif %}#}
                                                                                {#value="{{ licence.id }}">{{ licence.name }}</option>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                            {#{% elseif  temoinIdCodeLicence ==4 %}#}
                                                                {#{% for licence in licences %}#}
                                                                    {#{% if licence.id!=5 %}#}
                                                                        {#<option {% if licence.id==selectedLicenceId %}  selected="{{ selectedLicenceId }}" {% endif %}#}
                                                                                {#value="{{ licence.id }}">{{ licence.name }}</option>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                            {#{% endif %}#}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="input-group-addon">
                                                    <label for="input-text" class="control-label"><strong>Sessions:</strong></label>
                                                    <div class="">
                                                        <select id="reqSessionBulletin" name="reqSession" required="required"
                                                                class="form-control input-sm">
                                                                {% for sessions in sessions %}
                                                                        <option {% if sessions.id==selectedSessionId %}  selected="{{ selectedSessionId }}" {% endif %}
                                                                                value="{{ sessions.id }}">{{ sessions.Sessions }}</option>
                                                                {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="input-group-addon">
                                                    <button type="submit"
                                                            class=" btn btn-sm btn-primary btn-block"><i
                                                                class="glyphicon glyphicon-refresh"> Valider</i>
                                                    </button>
                                                </div>
                                            </form>
                                            </form>

                                        </div>
                                    </div>

                                    {#<div class="col-lg-6">#}
                                        {#<br>#}

                                        {#<div class="input-group">#}
                                            {#<div class="input-group-addon">#}
                                                {#<strong>Session: {{ ins_session.sessions }}</strong></div>#}
                                        {#</div>#}
                                    {#</div>#}
                                </div>
                                <hr>
                                <table class="table table-striped table-bordered table-hover" id="table2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="{{ path('univ_bulletin_de_notes_xcelFile',{'requestLicence':selectedLicenceId,'matricule':etudiant.matricule,'sessionsId':selectedSessionId}) }}">
                                                <button type="button" class="btn btn-success btn-block"><i
                                                            class=" fa fa-list-alt"> Exporter en Excel</i></button>
                                            </a>
                                        </div>
                                        <div class="col-lg-6">
                                            <a target="_blank"
                                               href="{{ path('univ_notation_bulletin_de_notes_pdf',{'requestLicence':selectedLicenceId,'matricule':etudiant.matricule,'sessionsId':selectedSessionId}) }}">
                                                <button type="button" class="btn btn-info btn-block"><i
                                                            class="fa fa-print"> Exporter en Pdf</i></button>
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                    <thead>
                                    <tr>
                                        <th>Matiere</th>
                                        <th>Note cours</th>
                                        <th>Note Exament</th>
                                        <th>Moy Gle</th>
                                        <th>1.Session</th>
                                        <th>2.Session</th>
                                        <th>Observation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for note in notesEtudiants %}
                                        <tr>
                                            <td>{{ note.matiers.name }}</td>
                                            <td>{{ note.moyenneCours }} </td>
                                            <td>{{ note.moyenneExament }}</td>
                                            <td {% if note.session1 >=8 %} class="noteExellente" {% elseif note.session1 >=7.5 %} class="noteBien" {% endif %}>
                                                {% if note.session1>=5 %}
                                                    {{ note.session1 }}
                                                {% elseif note.session1 <5%}
                                                    {% if note.session2!=0 and  note.session2<5   %}
                                                        {{ note.session2  }}
                                                    {% elseif  note.session2==5 %}
                                                        {{ note.session2  }}
                                                    {% elseif note.session2==0 %}
                                                        {{ note.session1 }}
                                                    {% endif %}

                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if note.session1>=5 %}
                                                {% elseif note.session1 <5%}
                                                    {% if note.session2!=0 and  note.session2<5   %}
                                                        {{ note.session1 }}
                                                    {% elseif  note.session2==5 %}
                                                        {{ note.session1  }}
                                                    {% elseif note.session2==0 %}
                                                        {{ note.session1 }}
                                                    {% endif %}

                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if note.session1>=5 %}
                                                {% elseif note.session1 <5%}
                                                    {% if note.session2!=0 and  note.session2<5   %}
                                                        {{ note.session2 }}
                                                    {% elseif  note.session2==5 %}
                                                        {{ note.session2  }}
                                                    {% elseif note.session2==0 %}
                                                        {#{{ etudiant.session1 }}#}
                                                    {% endif %}

                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if note.session1>=5 %}
                                                {% elseif note.session1 <5%}
                                                    {% if note.session2!=0 and  note.session2<5   %}
                                                        <span style="color: red"> <em>(en dette)</em></span>
                                                    {% elseif  note.session2==5 %}
                                                        <span style="color: green"> <em>(dette regle)</em></span>
                                                    {% elseif note.session2==0 and note.session1<5  %}
                                                        <span style="color: red"> <em>(en session)</em></span>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
        //        ********************
        //     var licenceBulletin = "#licenceBulletin";
        //             licenceBulletin.val(1);
        //        });
    </script>
{% endblock %}