{% xlsdocument %}
{% xlssheet 'FicheNotes' %}

                 {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}ETUDIANT:{% endxlscell %}
            {% xlscell %}{{ etudiant.nomPrenom }}{% endxlscell %}
             {% endxlsrow %}

           {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}MATRICULE:{% endxlscell %}
            {% xlscell %}{{ etudiant.matricule }}{% endxlscell %}
             {% endxlsrow %}



            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}FACULTE :{% endxlscell %}
            {% xlscell %}{{ etudiant.departement.faculte.name }}{% endxlscell %}
             {% endxlsrow %}


             {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}DEPARTEMENT :{% endxlscell %}
            {% xlscell %}{{ etudiant.departement.name }}{% endxlscell %}
             {% endxlsrow %}

            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %} PERIODE :{% endxlscell %}
            {% xlscell %}{{ ins_session.sessions }}{% endxlscell %}
             {% endxlsrow %}



             {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}NIVEAU :{% endxlscell %}
            {% xlscell %} {{ licence.name }}{% endxlscell %}
             {% endxlsrow %}









       {% xlsrow %}
            {% xlscell { style: { font: { size: '18' } } } %}{% endxlscell %}
        {% endxlsrow %}

               {% xlsrow %}
{% xlscell { style: { font: { size: '11' } } } %}NUMERO{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MATIERES{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MOYENNE COURS{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MOYENNE COMPOSITION{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MOYENNE GENERALE{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}SESSION 1{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}SESSION 2{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}OBSERVATION{% endxlscell %}
        {% endxlsrow %}

       {% for note in notesEtudiants %}
           {% xlsrow %}

           {% xlscell %}{{ loop.index }}{% endxlscell %}
           {% xlscell %}{{ note.matiers.name }}{% endxlscell %}
           {% xlscell %}{{ note.moyenneCours }}{% endxlscell %}
           {% xlscell %}{{ note.moyenneExament }}{% endxlscell %}
           {% xlscell %}{{ (note.moyenneCours+note.moyenneExament)/2 }}{% endxlscell %}
           {% xlscell %}{{ note.session1 }}{% endxlscell %}
           {% xlscell %}{{ note.session2 }}{% endxlscell %}
           {% xlscell %}{{ ' ' }}{% endxlscell %}

           {% endxlsrow %}

       {% else %}

           {% xlsrow %}
           {% xlscell { style: { font: { size: '11' } } } %} {% endxlscell %}
           {% xlscell %}{{ 'Aucun enregistrements trouvés' }}{% endxlscell %}
           {% endxlsrow %}

       {% endfor %}

    {% endxlssheet %}
{% endxlsdocument %}


