<!DOCTYPE html>
<html>
<head>
    <title>DOC</title>
    <style>

        .centre {
            text-align: center;
        }

        .personne td {
            border: 1px solid #000000;
            padding: 5px;
        }

        .personne th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cecece;
            color: #000000;
        }
    </style>
    <style>
        .customers {
            border-collapse: collapse;
            width: 100%;
        }

        .customers td, .customers th {
            border: 1px solid #000000;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .customers tr:hover {
            background-color: #000000;
        }

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ddd8dd;
            color: #000000;
        }

        .customers td {
            text-align: left;
        }

        .noteExellente {
            background: green;
            color: white;
        }

        .noteBien {
            background: #cfff69;
            color: white;
        }

        .noteABien {
            background: #e2ff73;
            color: #000000;
        }

        .notePassable {
            background: #ffad7e;
            color: white;
        }

        .noteModiocre {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
<div>
    <div style="width: auto; height:auto">
        {#<table class="personne">#}
            {#<tr>#}
                {#<td style="width:720px; height:20px">#}

                    {#<div>#}
                        {#<img style="background: red;width: 750px"  src="{{ absolute_url(asset('img/logo2.png')) }}">#}
                        {#<h3 style=" width: 200px;background: transparent;margin-top:-70px" class="centre"><strong>UNIVERSITE KINDIA</strong></h3>#}


                    {#</div>#}
                {#</td>#}


            {#</tr>#}
        {#</table>#}
        {#<br>#}
        {#<span style="position: relative; left:580px"> Conakry le {{ dateJour|date('d-m-Y') }}</span>#}
        {#<h2 style="text-align: center;">Releve de Notes</h2>#}
        <table class="personne">
            <tr>

                <td style="width:720px; height:20px; border: none">

                    <div>
                        <span style="text-transform: uppercase;position: absolute; margin: 85px 190px; font-family:Elephant;font-size:25px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">{{ Universite.nomUniversite }}</span>
                        <span style="position: absolute; margin-top:118px; margin-left:10px;font-family: 'Times New Roman' ;font-weight: bold">{{Universite.siteWeb  }}</span>
                        <span style="position: absolute; margin: 100px 480px ; font-family: 'Times New Roman';font-weight: normal;text-align: right ;width: 250px">
                                    BP: {{ Universite.boitePostal }} <br>
                                    Email: {{ Universite.email }} <br>
                                   Service Scolarit&eacute;: {{ Universite.phone1 }} <br>
                               </span>
                        {% if Universite.logo!=null %}<img style="background: red;width:120px; position: absolute;margin-top:10px;margin-left: 5px"  src="{{ absolute_url(asset('uploads/'~Universite.logo.path)) }}">{% endif %}
                        <img style="background: red;width: 750px"  src="{{ absolute_url(asset('img/sansnrien.png')) }}">
                    </div>
                </td>


            </tr>
        </table>
        <table class="personne">
            <tr>
                <td style="border: none "> <strong> Num Ref {{ dateJour|date('y') }}/........../UK /SCOLARITE</strong></td>
                <td style="width:490px; height:20px;text-align: right;border: none">
                    <span style="text-align: right" > Conakry le {{ dateJour|date('d-M-Y') }}</span>
                </td>


            </tr>
        </table>


        <br/>
        <table style="border: none" class="personne">
            <tr style="border: none">
                <td style="width:750px; height:20px;border: none ">
                    <div>
                        <h2 style="text-align: center; font-family: Elephant;">Releve de Notes</h2>
                    </div>
                </td>
            </tr>
        </table>

        {#/////////#}
        <table class="personne">
            <tr>
                <td style="width:700px">
                    <span> L'etudiant(e) : {{ etudiant.nomPrenom }}</span>
                    <span style="position: relative; left:210px"> Matricule : {{ etudiant.matricule }}</span>
                </td>
            </tr>
        </table>

        <table class="personne">
            <tr>
                <td style="width:700px">
                    <span >{{ etudiant.departement.faculte.name }}</span><br>
                    <span style="margin-left:5px" > Departement : {{ etudiant.departement.name }}</span>
                </td>
            </tr>
        </table>

        <table class="personne">
            <tr>
                <td style="width:700px">
                    <span> Niveau : {{ licence.name }}</span>
                    <span style="position: relative; left:300px"> Session : {{ ins_session.sessions }} </span>
                </td>
            </tr>
        </table>
        <br>
        <div style="padding-left: 0px">
            <table border="1" class="customers">
                <thead style="background: grey;color: black;margin: 20px;padding: 15px">
                <tr style="background: grey;color: black;margin: 20px;padding: 15px">
                    <th>N°</th>
                    <th>Matieres</th>
                    <th>Moy Cours</th>
                    <th>Moy Examen</th>
                    <th>Moy Gle</th>
                    {#<th>1&egrave;re Ses</th>#}
                    {#<th>2&egrave;me Ses</th>#}
                    <th>Observation</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notesEtudiants  %}
                    {% if note.session1>=5 %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ note.matiers.name }}</td>
                            <td>{{ note.moyenneCours }}</td>
                            <td>{{ note.moyenneExament }}</td>
                            <td>
                                {% if note.session1>=5 %}
                                    {{ note.session1 }}
                                {% elseif note.session1 <5%}
                                    {% if note.session2!=0 and  note.session2<5   %}
                                        {{ note.session2  }}
                                    {% elseif  note.session2==5 %}
                                        {{ note.session2  }}
                                    {% elseif note.session2==0 %}
                                        {{ note.session1 }}
                                    {% endif %}

                                {% endif %}
                            </td>
                            {#<td {% if note.session1 >=8 %} class="noteExellente" {% elseif note.session1 >=7.5 %} class="noteBien" {% endif %}>{{ note.session1 }}</td>#}
                            {#<td {% if note.session2 >=8 %} class="noteExellente" {% elseif note.session2 >=7.5 %} class="noteBien" {% endif %}>{{ '' }}</td>#}
                            <td>{{ 'Observation' }}</td>
                        </tr>
                    {% elseif note.session1 <5%}
                        {% if note.session2!=0 and  note.session2<5   %}
                        {% elseif  note.session2==5 %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ note.matiers.name }}</td>
                                <td>{{ note.moyenneCours }}</td>
                                <td>{{ note.moyenneExament }}</td>
                                <td>
                                    {% if note.session1>=5 %}
                                        {{ note.session1 }}
                                    {% elseif note.session1 <5%}
                                        {% if note.session2!=0 and  note.session2<5   %}
                                            {{ note.session2  }}
                                        {% elseif  note.session2==5 %}
                                            {{ note.session2  }}
                                        {% elseif note.session2==0 %}
                                            {{ note.session1 }}
                                        {% endif %}

                                    {% endif %}
                                </td>
                                {#<td {% if note.session1 >=8 %} class="noteExellente" {% elseif note.session1 >=7.5 %} class="noteBien" {% endif %}>{{ note.session1 }}</td>#}
                                {#<td {% if note.session2 >=8 %} class="noteExellente" {% elseif note.session2 >=7.5 %} class="noteBien" {% endif %}>{{ '' }}</td>#}
                                <td>{{ 'Observation' }}</td>
                            </tr>
                        {% elseif note.session2==0 and  note.session1>5 %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ note.matiers.name }}</td>
                                <td>{{ note.moyenneCours }}</td>
                                <td>{{ note.moyenneExament }}</td>
                                <td>
                                    {% if note.session1>=5 %}
                                        {{ note.session1 }}
                                    {% elseif note.session1 <5%}
                                        {% if note.session2!=0 and  note.session2<5   %}
                                            {{ note.session2  }}
                                        {% elseif  note.session2==5 %}
                                            {{ note.session2  }}
                                        {% elseif note.session2==0 %}
                                            {{ note.session1 }}
                                        {% endif %}

                                    {% endif %}
                                </td>
                                {#<td {% if note.session1 >=8 %} class="noteExellente" {% elseif note.session1 >=7.5 %} class="noteBien" {% endif %}>{{ note.session1 }}</td>#}
                                {#<td {% if note.session2 >=8 %} class="noteExellente" {% elseif note.session2 >=7.5 %} class="noteBien" {% endif %}>{{ '' }}</td>#}
                                <td>{{ 'Observation' }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <table>
                        <tr>
                            <td style="width:auto;text-align: center;border: none"><em
                                        class="information alert-message center">Aucun enregistrements trouvés</em></td>
                        </tr>
                    </table>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
    </div>
    <br/>
    <br/>
    <div>
        <table>
            <tr>
                <td width="450"><span class="left">Le Chargé du Cours</span></td>
                <td> <span class="right">Le Directeur du Programme</span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left">Date</span></td>
                <td> <span class="right">Date</span></td>

            </tr>
        </table>
    </div>
    <qrcode value="Code bar de Universite Kindia" ec="H" style="width:25mm;height: 25mm; background-color: white; color: black;"></qrcode>
</div>
</body>
</html>
