{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm125 col-xs-12">
                <div class="header-element">
                    <h3>GEST-UNIV /
                        <small>
                            GESTION TABLEAU DE BORD
                        </small>
                    </h3>
                </div>
            </div>

        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <section class="content">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4" data-toggle="tooltip" data-placement="top"
                 title="ETUDIANTS INSCRITS">
                <div class="flip">
                    <a href="#">

                        <div class="widget-bg-color-icon card-box front">
                            <div class="bg-icon pull-left">
                                <i class="fa fa-fw fa-pencil-square-o text-warning"></i>
                                {#<i class="fa fa-fw fa-pencil-square-o"></i>#}
                            </div>
                            <div class="text-right">
                                <p><b>ETUDIANTS INSCRITS</b></p>

                                <h3><b id="widget_count3">{{ etudiantIscrit|length }}</b></h3>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4" data-toggle="tooltip" data-placement="top" title="PERSONNELS">
                <div class="flip">
                    <a href="#">

                        <div class="widget-bg-color-icon card-box front">
                            <div class="bg-icon pull-left">
                                <i class="fa fa-fw fa-users text-info"></i>
                                {#<i class="fa fa-fw ti-user"></i>#}
                            </div>
                            <div class="text-right">
                                <p><b>PERSONNELS</b></p>

                                <h3><b id="widget_count3">{{ nbrPersonnel|length }}</b></h3>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4" data-toggle="tooltip" data-placement="top" title="ETUDIANTS ORIENTES">
                <div class="flip">
                    <a href="#">

                        <div class="widget-bg-color-icon card-box front">
                            <div class="bg-icon pull-left">
                                {#<i class="fa fa-fw fa-medkit"></i>#}
                                <i class=" fa fa-fw fa-user text-success"></i>
                            </div>
                            <div class="text-right">
                                <p><b>ETUDIANTS ORIENTES</b></p>

                                <h3><b id="widget_count3">{{ etudiantOrientes|length }}</b></h3>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

