 <!DOCTYPE html>
<html>
<head>
    <title>ficheNotePdfAction</title>
    <style>

        .centre{
            text-align: center;
        }
        .personne td {
            border: 1px solid #000000;
            padding: 5px;
        }

        .personne th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cecece;
            color: #000000;
        }
    </style>
    <style>
        .customers {
            border-collapse: collapse;
            width: 100%;
        }

        .customers td, .customers th {
            border: 1px solid #000000;
            padding: 8px;
        }

        .customers tr:nth-child(even){background-color: #f2f2f2;}

        .customers tr:hover {background-color: #000000;}

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ddd8dd;
            color: #000000;
        }
    </style>
</head>
<body style="margin:50px 50px 0px 50px" >
<div>
    <div style="width: auto; height:auto">
        <table class="personne">
            <tr>

                <td style="width:720px; height:20px; border: none">

                    <div>
                        <span style="text-transform: uppercase;position: absolute; margin: 85px 190px; font-family:Elephant;font-size:25px;color:#0c9cff;text-shadow:1px 1px 1px #949494 ">{{ Universite.nomUniversite }}</span>
                        <span style="position: absolute; margin-top:118px; margin-left:10px;font-family: 'Times New Roman' ;font-weight: bold">{{Universite.siteWeb  }}</span>
                        <span style="position: absolute; margin: 100px 480px ; font-family: 'Times New Roman';font-weight: normal;text-align: right ;width: 250px">
                                    BP: {{ Universite.boitePostal }} <br>
                                    Email: {{ Universite.email }} <br>
                                   Service Scolarit&eacute;: {{ Universite.phone1 }} <br>
                               </span>
                        {% if Universite.logo!=null %}  <img style="background: red;width:120px; position: absolute;margin-top:10px;margin-left: 5px"  src="{{ absolute_url(asset('uploads/'~Universite.logo.path)) }}">{% endif %}
                        <img style="background: red;width: 750px"  src="{{ imgSansrien }}">
                    </div>
                </td>


            </tr>
        </table>
        <table class="personne"  style="width:720px;border: none">
            <tr>
                <td>
                    <table style="border: none">
                        <tr>
                            <td>UNIVERSITE</td>
                            <td>KINDIA</td>
                        </tr>
                        <tr>
                            <td>FACULTE</td>
                            <td style="width:300px">{{ matiere.departement.faculte.name }}</td>
                        </tr>
                        <tr>
                            <td>SESSION/PERIODE</td>
                            <td>{{ matiere.semestre.name }} / {{ session.sessions }}</td>
                        </tr>
                        {% if enseignant!=null %}
                        <tr>
                            <td>ENSEIGNANT</td>
                            <td style="width:300px">{{ enseignant.name}} {{ enseignant.prenom }} </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>MATIERE</td>
                            <td>{{ matiere.name }}</td>
                        </tr>
                    </table>
                </td>

                <td style="width:250px">
                    <table>
                        <tr>
                            <td style="width:280px;text-align: center;border: none"><h3><strong>FICHE DE NOTES
                                        <qrcode value="Code bar de Universite Kindia" ec="H" style="width:25mm;height: 25mm; background-color: white; color: black;"></qrcode>
                                    </strong>
                                </h3>
                                <span>{{ dateJour|date('d-m-Y :H:m:s') }}</span>
                            </td>

                        </tr>
                    </table>


                    <table>
                        <tr>
                            <td>Departement <br>NIVEAU</td>
                            <td style="text-align: center;width:260px">
                                <span style="width:5px">
                                    {{ licence.name }}/ {{ matiere.departement.name }}
                                </span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <br>

        <div style="padding-left:2px ;padding-right: 25px">
            <table border="1" class="customers">
                <thead style="background: grey;height:890px;color: black;margin: 20px;padding: 15px">
                <tr style="background: grey;color: black;margin: 20px;padding: 15px">
                    <th>N°</th>
                    <th>Matricule</th>
                    <th>Prenoms et Noms</th>
                    <th>Note Cours</th>
                    <th>Note Exament</th>
                </tr>
                </thead>
                <tbody>
                 {% set i=1 %}
                {% for etudiant in notes %}
                {#{% if etudiant.session_id==sessionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}#}
                    <tr>
                        <td>
                            {{i}}
                        </td>
                        <td>{{ etudiant.etudiant.matricule }}</td>
                        <td>{{ etudiant.etudiant.nomPrenom }}</td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    {% set i=i+1 %}
                {#{% endif %}#}
                {% else %}
                    <span class="information alert-message center">Aucun enregistrements trouvés</span>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>


    </div>
    <br/>
    <br/>
    <div>
        <table>
            <tr>
                <td width="450"><span class="left">Le Chargé du Cours</span></td>
                <td> <span class="right">Le Directeur du Programme</span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left">Date</span></td>
                <td> <span class="right">Date</span></td>
            </tr>
        </table>



    </div>

</div>
</body>
</html>

