{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            INSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Information sur L'ETUDIANT
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    {#<div class="row">#}
                    {#<div class="col-lg-6">#}
                    {#<form method="POST" class="cart " action="">#}
                    {#<div class="col-lg-8 m-b-10">#}
                    {#<div class="input-group">#}
                    {#<input value="{{ pvElection }}" placeholder="PV DE SELECTION ICI" required name="pvSelection" class="form-control" type="text">#}
                    {#<span class="input-group-btn">#}
                    {#<button class="single_add_to_cart_button btn btn-primary pull-right"#}
                    {#type="submit">Verifier</button>#}
                    {#</span>#}
                    {#</div>#}
                    {#<!-- /input-group -->#}
                    {#</div>#}
                    {#</form>#}
                    {#</div>#}
                    {#</div>#}
                    <hr>
                    {% if infos !=null and infos.flagIncrition!=1 %}
                        <div class="col-lg-12">
                            <div class="modal-product">
                                <div class="product-info">
                                    <form action="{{ path('univ_validation_inscription_etudiant',{'pvSelection':infos.idnational,'sessionBac':infos.sessions}) }}"
                                          method="post">
                                        <div class="quick-add-to-cart">
                                            <div class="">
                                                <fieldset>
                                                    <legend>INFORMATIONS SUR L'ETUDIANT</legend>
                                                    <div class="col-lg-5">
                                                        <div class="form-group">
                                                            <label class="form-label"><strong>PV
                                                                    :</strong>{{ infos.pv }}</label>
                                                            <br>
                                                            <label for=""><strong>Prenoms et Noms
                                                                    :</strong> {{ infos.nomPrenom }}</label>

                                                            <br>
                                                            <label for=""><strong>Date de Naissance
                                                                    :</strong> {{ infos.dateNaissance }}</label>

                                                            <br>
                                                            <label for=""><strong>Sexe :</strong> {{ infos.sexe }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Filiation
                                                                    :</strong> {{ infos.filiation }}</label>

                                                            <br>
                                                            <label for=""><strong>Centre :</strong> {{ infos.centre }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Origine :</strong> {{ infos.origine }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Statut :</strong> {{ infos.statut }}
                                                            </label><br>


                                                            <label for=""><strong>Option :</strong> {{ infos.options }}
                                                            </label>
                                                            {#<br>#}
                                                            {#<br>#}
                                                            <div class="input-group">
                                                                <label for="dateInscription"><strong>Date :</strong>
                                                                </label>
                                                                <input id="dateInscription" value="{{ dateJour }}"
                                                                       name="dateInscription" required
                                                                       class="form-control input-sm" type="date">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">

                                                            <label for=""><strong>Session
                                                                    :</strong> {{ infos.sessions }}</label>

                                                            <br>
                                                            <label for=""><strong>Etat :</strong> {{ infos.etat }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Contact :</strong> {{ infos.contact }}
                                                            </label>

                                                            <br>
                                                            <label for=""><strong>Nationnalite
                                                                    :</strong> {{ infos.nationnalite }}</label>

                                                            <br>

                                                            <label for=""><strong>Université
                                                                    :</strong> {{ infos.universite }}</label>
                                                            <br>
                                                            <label for=""><strong>Departement
                                                                    :</strong> {{ infos.departement }}</label><br>
                                                            <label for=""><strong>Niveau :</strong> {{ infos.niveau }}
                                                            </label>

                                                            <br>
                                                            <label for="sessionInscription"><strong>Session :</strong>
                                                            </label>
                                                            <select name="sessionInscription" id="sessionInscription"
                                                                    required="required"
                                                                    class="form-control input-sm col-md-4 col-lg-3">
                                                                {#<option value="" selected="selected">Selectioner une Session</option>#}
                                                                {% for session in sessions %}
                                                                    {% if  session.encour==1 %}
                                                                        <option value="{{ session.id }}">{{ session.sessions }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>

                                                            {#<br>#}
                                                            {#<label for="semestresInscription"><strong>Semestre :</strong> </label>#}
                                                            {#<select name="semestresInscription" id="semestresInscription" required="required" class="form-control input-sm col-md-4 col-lg-3">#}
                                                            {#<option value="1" selected="selected">Selectioner une Session</option>#}
                                                            {#{% for s in semestresByLicence %}#}
                                                            {#<option  value="{{ s.id }}">{{ s.name }}</option>#}
                                                            {#{% endfor %}#}
                                                            {#</select>#}

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4">
                                                        <div class="form-group">
                                                            <div class="input-group-addon">
                                                                <div class="" id="webcam"></div>


                                                            </div>
                                                            <div class="input-group-addon">
                                                                <div id="results"></div>
                                                            </div>
                                                            <input hidden="hidden" id="lastImage"
                                                                   value="{{ lastImage }}"/>
                                                            <br>
                                                            <form>
                                                                <input class="btn-sm btn-success btn-block" type=button
                                                                       value="Prendre photo" onClick="captureimage()">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12 m-b-10">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">

                                                                        <input hidden="hidden" name="idImage" id="idimg"
                                                                               type="text" value="ok">
                                                                        <input hidden="hidden" name="codeNiveau"
                                                                               id="codeNiveau" type="text"
                                                                               value="{{ infos.codeNiveau }}">
                                                                        <input hidden="hidden" name="codeDep"
                                                                               id="codeDep" type="text"
                                                                               value="{{ infos.codeDep }}">

                                                                {#<input  hidden="hidden"  name="dateIns" id="dateIns" type="text" value="">#}
                                                                {#<input hidden="hidden"   name="sessionIns" id="sessionIns" type="text" value="">#}

                                                                <button class="single_add_to_cart_button btn btn-primary btn-block"
                                                                        type="submit">Inscrire</button>


                                                        </span>
                                                        </div>
                                                        <!-- /input-group -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div>
                        <style type="text/css">
                            #results {
                                width: 120px;
                                height: 120px;
                                border: 1px solid;
                                background: #ccc;
                            }
                        </style>
                        <div class="row">
                            <!-- First, include the Webcam.js JavaScript Library -->
                            <script type="text/javascript" src="{{ asset('js/webcam.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('webcamjs/webcam.js') }}"></script>
                            <script language="JavaScript">
                                Webcam.set({
                                    width: 150,
                                    height: 150,
                                    image_format: 'jpeg',
                                    jpeg_quality: 90,
//                                    force_flash:true
                                });
                                Webcam.attach('#webcam');
                                function captureimage() {
                                    // take snapshot and get image data
                                    Webcam.snap(function (data_uri) {
                                        // display results in page
//
                                        var url = "{{ path('univ_web_came_action') }}";
                                        var upl = "uploads/";
                                        Webcam.upload(data_uri, url, function (code, text) {
                                            var urlmaxImage = "{{ path('univ_max_image') }}";
                                            $.ajax({
                                                type: "POST",
                                                url: urlmaxImage,
                                                data: {},
                                                dataType: 'JSON',
                                                timeout: 30000,
                                                success: function (data) {
                                                    var lien = "{{ asset('uploads/') }}" + data.pathi;
                                                    $("#idimg").attr('value', data.id);
                                                    document.getElementById('results').innerHTML = '<img class="img-responsive" src="' + lien + '"/>';
                                                },
                                                error: function () {
                                                    alert('Erreur, la connexion au serveur a ete interrompue');
                                                }
                                            });


                                        });
                                    });


                                }
                            </script>
                        </div>
                    {% endif %}
                    <!-- .modal-body -->
                </div>
            </div>
        </div>

    </div>


{% endblock %}