<!DOCTYPE html>
<html>
	<head>
		<title>lISTE-ETUDIANTS</title>
		<style>

		.centre {
			text-align: center;
		}

		.personne td {
			border: 1px solid #000000;
			padding: 5px;
		}

		.personne th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #cecece;
			color: #000000;
		}
		.customers {
			border-collapse: collapse;
			width: 100%;
		}

		.customers td, .customers th {
			border: 1px solid #000000;
			padding: 8px;
		}

		.customers tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.customers tr:hover {
			background-color: #000000;
		}

		.customers th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #ddd8dd;
			color: #000000;
		}

		.customers td {
			text-align: left;
		}

		.noteExellente {
			background: green;
			color: white;
		}

		.noteBien {
			background: #cfff69;
			color: white;
		}

		.noteABien {
			background: #e2ff73;
			color: #000000;
		}

		.notePassable {
			background: #ffad7e;
			color: white;
		}

		.noteModiocre {
			background: red;
			color: white;
		}
	</style>
	</head>
	<body>
		<div>
			<div style="width: auto; height:auto">
				<table class="personne">
					<tr>
						<td style="width:855px; height:20px">
							<div>
								  {#<img style="background: red;width: 855px"  src="{{ logo2 }}">#}
								<img style="background: red;width: 750px"  src="{{ absolute_url(asset('img/sansnrien.png')) }}">
							</div>
						</td>
					</tr>
				</table>
				<br/>
				<table class="personne">
					<tr>
						<td>
							<table>
								<tr>
									<td>FACULTE</td>
									<td style="width:750px">{{ departement.faculte.name }}</td>
								</tr>
								<tr>
									<td>DEPARTEMENT</td>
									<td style="width:750px">{{ departement.name }}</td>
								</tr>
								{% if session!=0 %}
									<tr>
									<td>SESSION</td>
									<td>{{ session }}</td>
									</tr>
								{% endif %}
							</table>
						</td>
					</tr>
				</table>
				 
				 <br/>

				<table>
					<tr>
						<td style="width:700px;text-align: center;border: none">
							<h3>
								<strong>LISTE DES ETUDIANTS</strong>
							</h3>
						</td>
					</tr>
				</table>
				<div style="text-align: center">
					<table border="1" class="customers">
						<thead style="background: grey;height:890px;color: black;margin:inherit;padding:inherit">
							<tr><th>N°</th>
							{# <th>Photos</th>#}
							<th>Matricules</th>
							<th>Noms et Prenoms</th>
							<th>Genres</th>
							<th>Niveaux</th>
							<th>Statuts</th>
							</tr>
						</thead>
						<tbody>
					    {% set i=1 %}
						{% for etudiant in etudiants %}
				            {% if etudiant.departement.id==departement.id %}
				                <tr>
								    <td>{{ i }}</td>
				                    {# <td>#}
									   {#{% if etudiant.image!=null %}#}
				                            {# <img style="width: 60px; height:50px"#}
												{#src="{{ absolute_url(asset('uploads/'~etudiant.image.path)) }}" alt="clear"/>#}
				                            {#{% else %}#}
											    {#
													<img style="width: 60px; height:50px"#} {#src="#" alt="clear"/>#}
				                            {#{% endif %}#}
				                    {# </td>#}
				                            
											<td>{{ etudiant.matricule }}</td>
											<td>{{ etudiant.nomPrenom }}</td>
											<td>{{ etudiant.sexe }}</td>
											<td>{{ etudiant.licence.name }} </td>
											<td>{{ etudiant.statut }} </td>
												</tr>
				                        {% set i=i+1 %}
				                    {% endif %}
				                {% else %}
				                    
												<table>
													<tr>
														<td style="width:auto;text-align: center;border: none">
															<em
				                                        class="information alert-message center">Aucun enregistrements trouvés</em>
														</td>
													</tr>
												</table>
				
				                {% endfor %}
			
						</tbody>
					</table>
				</div>
			</div>
		</body>
	</html>