{% xlsdocument %}
{% xlssheet 'Liste-Etudiants' %}

            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}FACULTE :{% endxlscell %}
            {% xlscell %}{{ departement.faculte.name }}{% endxlscell %}
             {% endxlsrow %}


             {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %}DEPARTEMENT :{% endxlscell %}
            {% xlscell %}{{ departement.name }}{% endxlscell %}
             {% endxlsrow %}

            {% xlsrow %}
            {% xlscell { style: { font: { size: '11' } } } %} Periode :{% endxlscell %}
            {% xlscell %}{{ session }}{% endxlscell %}
             {% endxlsrow %}



       {% xlsrow %}
            {% xlscell { style: { font: { size: '18' } } } %}{% endxlscell %}
        {% endxlsrow %}

               {% xlsrow %}
{% xlscell { style: { font: { size: '11' } } } %}N°{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}MATRICULES{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}NOMS ET PRENOMS{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}GENRES{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}NIVEAUX{% endxlscell %}
{% xlscell { style: { font: { size: '11' } } } %}STATUTS{% endxlscell %}
        {% endxlsrow %}

      {% for etudiant in etudiants|sort %}
          {% if etudiant.departement==departement %}
              {% xlsrow %}

              {% xlscell %}{{ loop.index }}{% endxlscell %}
              {% xlscell %}{{ etudiant.matricule }}{% endxlscell %}
              {% xlscell %}{{ etudiant.nomPrenom }}{% endxlscell %}
              {% xlscell %}{{ etudiant.sexe }}{% endxlscell %}
              {% xlscell %}{{ etudiant.licence.name }}{% endxlscell %}
              {% xlscell %}{{ etudiant.statut }}{% endxlscell %}


              {% endxlsrow %}
          {% endif %}

      {% else %}

          {% xlsrow %}
          {% xlscell { style: { font: { size: '11' } } } %} {% endxlscell %}
          {% xlscell %}{{ 'Aucun enregistrements trouvés' }}{% endxlscell %}
          {% endxlsrow %}

      {% endfor %}

    {% endxlssheet %}
{% endxlsdocument %}


