{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            REINSCRIPTION - ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> LISTE DES ETUDIANTS A REINSCRIRE
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Matricule</th>
                                <th>Prenoms et Noms</th>
                                <th>Sexe</th>
                                <th>Filiation</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for etudiant in etudiants %}
                                <tr>
                                    <td>
                                        <img class="img-responsive"
                                             style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                            src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                             alt="{{ etudiant.matricule }}"></td>
                                    <td>{{ etudiant.matricule }}</td>
                                    <td>{{ etudiant.nomPrenom }}</td>
                                    <td>{{ etudiant.sexe }}</td>
                                    <td>{{ etudiant.filiation }}</td>
                                    <td class="col-lg-3">
                                        <a href="{{ path('univ_re_inscription',{'matricule':etudiant.matricule}) }}">
                                            <button type="submit"
                                                    class="btn btn-info btn-sm"><span
                                                        class="glyphicon glyphicon-registration-mark"> Reinscrire</span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}