{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            BADGE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
    <div class="col-lg-12">
        <div class="panel ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="ti-layout-grid3"></i> BADGE ETUDIANTS
                </h3>
                <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <form method="GET" class="cart " action="">
                                <div class="form-group">
                                    <div class="input-group-addon">
                                        <div>
                                            <div class="input-group">
                                                <label for=""><strong>Departement :</strong> </label>
                                                {#<input readonly="readonly" id="inputDep"#}
                                                {#class="form-control input-sm" hidden="hidden" value=""#}
                                                {#type="text">#}
                                                {#<div id="wdivDepartement">#}
                                                <select id="univbundle_departement"
                                                        name="univbundle_departement"
                                                        required="required" class="form-control input-sm">
                                                    <option value selected="selected">Selectioner un Departement
                                                    </option>
                                                    {% for dep in departements %}
                                                        <option value="{{ dep.id }}">{{ dep.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                {#</div>#}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group-addon">
                                        <div class="">
                                            <div class="input-group">
                                                <label for=""><strong>Niveaux :</strong> </label>
                                                <select id="univbundle_niveaux" name="univbundle_niveaux"
                                                        required="required" class="form-control input-sm ">
                                                    <option value="0" selected="selected">Selectioner un niveau
                                                    </option>
                                                    {#{% for niv in niveaux %}#}
                                                    <option></option>
                                                    {#{% endfor %}#}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group-addon">
                                        <div class="">
                                            <div class="input-group">
                                                <label for=""><strong>Session :</strong> </label>
                                                <select id="univbundle_session" name="univbundle_session"
                                                        required="required" class="form-control input-sm ">
                                                    <option value="0" selected="selected">Selectioner une session
                                                    </option>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="input-group-addon">
                                        <div class="input-group">
                                            <br/>
                                            <input type="submit" class="btn btn-success btn-block btn-sm "
                                                   value="Valider">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        {% if etudiantsByDepartement!=null %}
                            <div class="col-lg-12">
                                <div class="panel ">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <i class="ti-layout-grid3"></i> LISTE DES ETUDIANTS
                                        </h3>
                                        <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <div class="row condensed container-fluid">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <strong>Departement: {{ departementOne.name }}</strong>
                                                        </div>
                                                        <div class="input-group-addon">
                                                            <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                                        <div class="input-group-addon">
                                                            <strong>Periode: {{ seeionOne.sessions }}</strong></div>
                                                        <input name="departementOne" value="{{ departementOne.id }}"
                                                               type="hidden">
                                                        <input name="licenceOne" value="{{ licenceOne.id }}"
                                                               type="hidden">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <table class="table table-striped table-bordered table-hover"
                                                   id="table2">
                                                <thead>
                                                <tr>
                                                    <th>Photo</th>
                                                    <th>Matricule</th>
                                                    <th>Prenoms et Noms</th>
                                                    <th>Departement</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for etudiant in etudiantsByDepartement %}
                                                    {% if etudiant.session_id==seeionOne.id and  etudiant.departement_id==departementOne.id and etudiant.licence_id ==licenceOne.id %}
                                                        <tr>

                                                            <td>
                                                                <img class="img-responsive"
                                                                     style="height: 80px;width:80px" {% if etudiant.path!=null %}src="{{ asset ('uploads/'~etudiant.path) }}" {% else %} src="{{ asset('img/etud.png') }}"   {% endif %}>
                                                            </td>
                                                            <td>{{ etudiant.matricule }}<input name="mattricule[]"
                                                                                               type="hidden"
                                                                                               value="{{ etudiant.matricule }}">
                                                            </td>
                                                            <td>{{ etudiant.nomPrenom }}</td>
                                                            <td>
                                                                {{ departementOne.name }}
                                                            </td>

                                                            <td>
                                                                <div class="input-group">
                                                                    <div class="product-button">
                                                                        <a target="_blank" href="{{ path('univ_etudiant_creationBadgePdf',{'matricule':etudiant.matricule}) }}">
                                                                            <button
                                                                                    class="modal-view click mybtn btn btn-primary">
                                                                                <i class="ti-download modal-view"></i>
                                                                                Imprimer le Badge
                                                                            </button>
                                                                        </a>


                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="shopping-checkout">#}
                                {#<input type="submit" class="btn btn-success btn-lg pull-right btn-block"#}
                                {#value="Valider les Notes">#}
                                {#<a href="#" class="">#}
                                {#</a>#}
                                {#</div>#}
                            </div>

                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <style type="text/css">
        .error {
            border: 1px solid red;
        }

        .success {
            border: 1px solid green;
        }
    </style>
    <script type="text/javascript">
              $(document).ready(function () {
            var url3 = "{{ path('ims_Niveaujax') }}";
            var urlsesion = "{{ path('ims_Sessionsjax') }}";
            var sessions = '#univbundle_session';
            var departement = '#univbundle_departement';
            var niveaux = '#univbundle_niveaux';
            $.ajax({
                type: "POST",
                url: url3,
                data: {},
                dataType: 'JSON',
                timeout: 30000,
                success: function (data) {
                    //reinitialise la liste
                    $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                    //met a jour la liste
                    $.each(data, function (index) {
                        var id = data[index].id;
                        var niveau = data[index].name;
                        $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                    });
                },
                error: function () {
                    alert('Erreur, la connexion au serveur a ete interrompue');
                }
            });
            $(departement).on('change', function () {
                $.ajax({
                    type: "POST",
                    url: url3,
                    data: {},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var niveau = data[index].name;
                            $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
            $(niveaux).on('change', function () {
                $.ajax({
                    type: "POST",
                    url: urlsesion,
                    data: {},
                    dataType: 'JSON',
                    timeout: 30000,
                    success: function (data) {
                        //reinitialise la liste
                        $(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');
                        //met a jour la liste
                        $.each(data, function (index) {
                            var id = data[index].id;
                            var nom = data[index].sessions;
                            $(sessions).append('<option value="' + id + '">' + nom + '</option>');
                        });
                    },
                    error: function () {
                        alert('Erreur, la connexion au serveur a ete interrompue');
                    }
                });
            });
        });
    </script>


{% endblock %}