{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            NOTATION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> NOTATION ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form action="#" method="post">
                            {% if listeEtudiants!=null and matieresOne!=null %}
                                <div class="col-lg-12">
                                    <div class="panel ">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <i class="ti-layout-grid3"></i> FICHE DE NOTES
                                            </h3>
                                            <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="row condensed container-fluid">
                                                    <div class="col-lg-12">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <strong>Departement: {{ departementOne.name }}</strong>
                                                            </div>
                                                            <div class="input-group-addon">
                                                                <strong>Niveau: {{ licenceOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Semestre: {{ semestreOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Matieres: {{ matieresOne.name }}</strong></div>
                                                            <div class="input-group-addon">
                                                                <strong>Periode: {{ seeionOne.sessions }}</strong></div>
                                                            <input name="departementOne" value="{{ departementOne.id }}"
                                                                   type="hidden">
                                                            <input name="seeionOneId" value="{{ seeionOne.id }}"
                                                                   type="hidden">
                                                            <input name="licenceOne" value="{{ licenceOne.id }}"
                                                                   type="hidden">
                                                            <input name="semestreOne" value="{{ semestreOne.id }}"
                                                                   type="hidden">
                                                            <input name="matieresOne" value="{{ matieresOne.id }}"
                                                                   type="hidden">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <table class="table table-striped table-bordered table-hover"
                                                       id="">
                                                    <thead>
                                                    <tr>
                                                        <th>Matricule</th>
                                                        <th>Prenoms et Noms</th>
                                                        <th>Note Cours</th>
                                                        <th>Note Exament</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for etudiant in listeEtudiants %}
                                                        {% if etudiant.departement.id==departementOne.id  %}
                                                            {% for ins in etudiant.Inscription %}
                                                                {% if ins.etudiant.id== etudiant.id and ins.licence.id==licenceOne.id  and ins.sessions.id==seeionOne.id %}
                                                                    <tr>
                                                                        <td>{{ etudiant.matricule }}
                                                                            <input name="mattricule[]" type="hidden"
                                                                                   value="{{ etudiant.matricule }}">
                                                                        </td>
                                                                        <td>{{ etudiant.nomPrenom }} </td>
                                                                        <td>
                                                                            {% if listeNotes|length>0 %}
                                                                                {% for note in listeNotes %}
                                                                                    {% if note.etudiant.id== etudiant.id%}
                                                                                        <div class="input-group">
                                                                                            <input name="idMatiere" type="hidden"
                                                                                                   value="{{ idMatiere }}">
                                                                                            <input required
                                                                                                   onChange="validationSaisieNote('.noteCour')"
                                                                                                   min="0" max="10"
                                                                                                   step="any"
                                                                                                   class="form-control input-sm noteCour click "
                                                                                                   type="number"
                                                                                                   name="noteCour[]"
                                                                                                    {% if note.moyenneCours!=null %} value="{{ note.moyenneCours }}" {% else %} value="0" {% endif %} />
                                                                                            <span class="spnoteCour" style="color: red;"></span>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <div class="input-group">
                                                                                    <input name="idMatiere" type="hidden"
                                                                                           value="{{ idMatiere }}">
                                                                                    <input required
                                                                                           onChange="validationSaisieNote('.noteCour')"
                                                                                           min="0" max="10"
                                                                                           step="any"
                                                                                           class="form-control input-sm noteCour click "
                                                                                           type="number"
                                                                                           name="noteCour[]"
                                                                                           value="0"/>
                                                                                    <span class="spnoteCour" style="color: red;"></span>
                                                                                </div>
                                                                            {% endif %}
                                                                        </td>
                                                                        {#////////Note Exaament#}
                                                                        <td>
                                                                            {#{{  listeNotes|length }}#}
                                                                            {% if listeNotes|length>0 %}
                                                                                {% for note in listeNotes %}
                                                                                    {#{{ note|length}}#}
                                                                                    {% if note.etudiant.id== etudiant.id%}
                                                                                        <div class="input-group">
                                                                                            <input name="idMatiere" type="hidden"
                                                                                                   value="{{ idMatiere }}">
                                                                                            <input required
                                                                                                   onChange="validationSaisieNote('.noteExament')"
                                                                                                   min="0" max="10"
                                                                                                   step="any"
                                                                                                   class="form-control input-sm noteExament click "
                                                                                                   type="number"
                                                                                                   name="noteExament[]"
                                                                                                   value="{{ note.moyenneExament  }}" />
                                                                                            <span class="spnoteCour"   style="color: red;"></span>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <div class="input-group">
                                                                                    <input name="idMatiere" type="hidden"
                                                                                           value="{{ idMatiere }}">
                                                                                    <input required
                                                                                           onChange="validationSaisieNote('.noteExament')"
                                                                                           min="0" max="10"
                                                                                           step="any"
                                                                                           class="form-control input-sm noteExament click "
                                                                                           type="number"
                                                                                           name="noteExament[]"
                                                                                           value="0" />
                                                                                    <span class="spnoteCour"   style="color: red;"></span>
                                                                                </div>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-checkout">
                                        <input type="submit" class="btn btn-success btn-lg pull-right btn-block"
                                               value="Valider les Notes">
                                        <a href="#" class="">
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <style type="text/css">
        .error {
            border: 1px solid red;
        }

        .success {
            border: 1px solid green;
        }
    </style>
    <script type="text/javascript">
        function validationSaisieNote(element) {
            var note = element;

            $(note).on('change', function () {
                var note = parseInt($(this).val());
                if (note >= 11 || note <= -1) {
                    $(this).removeClass('success');
                    $(this).addClass('error');
                } else {
                    $(this).removeClass('error');
                    $(this).addClass('success');
                }
            });
        }
        $(document).on("Change,keyup", ".noteCour", validationSaisieNote);
        {#$(document).ready(function () {#}
        {#//        ********************#}
        {#var url = "{{ path('ims_matierAjax') }}";#}
        {#var url2 = "{{ path('ims_semestreByNiveaujax') }}";#}
        {#var url3 = "{{ path('ims_Niveaujax') }}";#}
        {#var urlsesion = "{{ path('ims_Sessionsjax') }}";#}
        {#var sessions = '#univbundle_session';#}
        {#var departement = '#univbundle_departement';#}
        {#var semestre = '#univbundle_semestre';#}
        {#var matieres = '#univbundle_matieres';#}
        {#var niveaux = '#univbundle_niveaux';#}
        {#var UserRole = "{{ app.user.rolesUser }}";#}
        {#var divDepartement = $("#divDepartement");#}
        {#var inputDep = $("#inputDep");#}


        {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}
        {#//                    (divDepartement).attr('hidden', true);#}
        {#{% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}#}
        {#var UserDep = "{{ app.user.personnel.departement.id }}";#}
        {#$(departement).val(UserDep);#}
        {#//                 inputDep.attr('hidden', true);#}
        {#(inputDep).val("{{ app.user.personnel.departement.name }}");#}
        {#//                 (divDepartement).attr('hidden', true);#}

        {#{% endif %}#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: url3,#}
        {#data: {},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var niveau = data[index].name;#}
        {#$(niveaux).append('<option value="' + id + '">' + niveau + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: urlsesion,#}
        {#data: {},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var nom = data[index].sessions;#}
        {#$(sessions).append('<option value="' + id + '">' + nom + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#$(semestre).on('change', function () {#}
        {#var departement_id = $(departement).val();#}
        {#var semestre_id = $(this).val();#}

        {#$.ajax({#}
        {#type: "POST",#}
        {#url: url,#}
        {#data: {'departement_id': departement_id, 'semestre_id': semestre_id},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(matieres).html('<option value="0"> -- Selectioner une matieres -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var nommatiere = data[index].name;#}
        {#$(matieres).append('<option value="' + id + '">' + nommatiere + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: urlsesion,#}
        {#data: {},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(sessions).html('<option value ="0"> -- Selectioner une session -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var nom = data[index].sessions;#}
        {#$(sessions).append('<option value="' + id + '">' + nom + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#});#}
        {#$(departement).on('change', function () {#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: url3,#}
        {#data: {},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(niveaux).html('<option value="0"> -- Selectioner un niveau -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var niveau = data[index].name;#}
        {#$(niveaux).append('<option value="' + id + '">' + niveau + '</option>');#}
        {#});#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}

        {#$(semestre).val(0);#}
        {#$(niveaux).val(0);#}
        {#$(matieres).val(0);#}
        {#});#}
        {#$(niveaux).on('change', function () {#}
        {#var licence_id = $(this).val();#}
        {#$.ajax({#}
        {#type: "POST",#}
        {#url: url2,#}
        {#data: {'licence_id': licence_id},#}
        {#dataType: 'JSON',#}
        {#timeout: 30000,#}
        {#success: function (data) {#}
        {#//reinitialise la liste#}
        {#$(semestre).html('<option value ="0"> -- Selectioner une semestre -- </option>');#}
        {#//met a jour la liste#}
        {#$.each(data, function (index) {#}
        {#var id = data[index].id;#}
        {#var nomSemestre = data[index].name;#}
        {#$(semestre).append('<option value="' + id + '">' + nomSemestre + '</option>');#}
        {#});#}
        {#$(matieres).val(0);#}
        {#},#}
        {#error: function () {#}
        {#alert('Erreur, la connexion au serveur a ete interrompue');#}
        {#}#}
        {#});#}
        {#});#}
        {#});#}
    </script>
{% endblock %}