{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/<small>
                            R&Eacute;INSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h4 class="panel-title">

                                                                {% if nombreMatiereFondenmentalNonValider >=4 %}
                                                                    <button class="single_add_to_cart_button btn btn-danger btn-block"
                                                                            type="button"> NB: Désolé vous ne pourrez pas reinscrire cet etudiant au niveau licence {{ lastInscriptionlicence.licence.id+1 }} ( {{ nombreMatiereFondenmentalNonValider }} matières fondamentales non validées) </button>
                                                                    {#<strong style="color: red"></strong>#}
                                                                {% else %}
                                                                {% endif %}
                                                        </span>
                    </h4>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    {% if infos !=null and lastInscriptionlicence !=null %}
                        <div class="col-lg-12">
                            <div class="modal-product">
                                <div class="product-info">
                                    {{ form_start(formNews) }}
                                    {#<form action="{{ path('univ_validation_Re_inscription_etudiant',{'matricule':infos.matricule}) }}" method="post">#}
                                    <div class="quick-add-to-cart">
                                        <div class="">
                                            <fieldset>
                                                <legend>INFORMATIONS SUR L'ETUDIANT</legend>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label class="form-label"><strong>Matricule
                                                                :</strong>{{ infos.matricule }}</label>
                                                        <input value="{{ infos.matricule }}" name="matricule"
                                                               type="hidden">
                                                        <br>
                                                        <label for=""><strong>Prenoms et Noms
                                                                :</strong> {{ infos.nomPrenom }}</label>
                                                        <br>
                                                        <label for=""><strong>Date de Naissance
                                                                :</strong> {{ infos.dateNaissance }}</label>


                                                        <br>
                                                        <label for=""><strong>Sexe :</strong> {{ infos.sexe }}
                                                        </label>


                                                        <br>
                                                        <label for=""><strong>Nationnalite
                                                                :</strong> {{ infos.nationnalite }}</label>


                                                        <br>
                                                        <label for=""><strong>Contact :</strong> {{ infos.contact }}
                                                        </label>

                                                        <br>
                                                        <label for=""><strong>Statut :</strong> {{ infos.statut }}
                                                        </label>

                                                        <br>
                                                        <label for=""><strong>Departement
                                                                :</strong> {{ infos.departement.name }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <span><strong>Date Reinscription : </strong><sup>*</sup></span>
                                                        {{ form_widget(formNews.dateInscription,{'attr':{'placeholder': 'Date Reinscription','class':'form-control input-sm'  } }) }}
                                                        {{ form_errors(formNews.dateInscription,{'attr':{'class':'text-danger'} }) }}
                                                        <br>
                                                        {#<label for=""><strong>Niveau :</strong> </label>#}
                                                        <span><strong>Niveau :</strong><sup>*</sup></span>
                                                        {{ form_widget(formNews.licence,{'attr':{'placeholder': 'Niveau','class':'form-control input-sm','onChange':"chargeConcentration()"} }) }}
                                                        {{ form_errors(formNews.licence,{'attr':{'class':'text-danger'} }) }}
                                                        <br>
                                                        <div id="concentrationId" hidden="hidden">
                                                            <span><strong>Concentation :</strong><sup>*</sup></span>
                                                            {{ form_widget(formNews.concentration,{'attr':{'placeholder': 'concentration','class':'form-control input-sm concentration'  } }) }}
                                                            {{ form_errors(formNews.concentration,{'attr':{'class':'text-danger'} }) }}
                                                            <br>
                                                        </div>
                                                        <span><strong>Sessions :</strong><sup>*</sup></span>
                                                        {{ form_widget(formNews.sessions,{'attr':{'placeholder': 'Sessions','class':'form-control input-sm'  } }) }}
                                                        {{ form_errors(formNews.sessions,{'attr':{'class':'text-danger'} }) }}
                                                    </div>
                                                    {{ form_widget(formNews) }}
                                                </div>
                                                <div class="col-lg-3 col-md-3">
                                                    <img class="img-responsive" style="width: 150px;height: 150px"
                                                            {% if infos.image!=null %}
                                                        src="{{ asset('uploads/'~infos.image.path) }}" {% endif %}>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-12 m-b-10">
                                                    {#<table>#}
                                                        {#{% for all in Allmatieres %}#}
                                                            {#{% for valid in MatiereValider %}#}
                                                                {#{% if all.id!= valid.matieres_id%}#}
                                                                 {#{% else %}#}
                                                                     {#<tr>#}
                                                                         {#<td>{{ all.id }}</td>#}
                                                                         {#<td>{{ all.name }}</td>#}
                                                                     {#</tr>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                        {#{% endfor %}#}
                                                    {#</table>#}
                                                    <div class="input-group">
                                                            <span class="input-group-btn">
                                                                {#{% if nombreMatiereFondenmentalNonValider >=3 %}#}
                                                                    {#<button class="single_add_to_cart_button btn btn-danger btn-block"#}
                                                                            {#type="button">Desole Reinscription Impossible Car cet etudiant est en dette dans {{ nombreMatiereFondenmentalNonValider }} Matieres Fondenmentales</button>#}
                                                                    {#<strong style="color: red"></strong>#}
                                                                {#{% else %}#}
                                                                        <button class="single_add_to_cart_button btn btn-primary btn-block"
                                                                                type="submit">REINSCRIRE</button>
                                                                {#{% endif %}#}
                                                        </span>
                                                    </div>
                                                    <!-- /input-group -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(formNews) }}
                                    {#</form>#}
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div>
                        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
                        <script language="JavaScript">
                            $(document).ready(function () {
                                var nbrMatierNonValider="{{ nombreMatiereFondenmentalNonValider }}";
                                var lastLicence ={{ lastInscriptionlicence.licence.id }};
                                var sessionEncour ={{ sessionEncour.id }};
                                var divCcncentrationId = $("#concentrationId");
                                $("#univbundle_inscription_licence").val(lastLicence);
                                $("#univbundle_inscription_sessions").val(sessionEncour);
                                var url = "{{ path('ims_concentrationjax') }}";
                                var departementId = "{{ infos.departement.id }}";
                                var niveaux=("#univbundle_inscription_licence");
                                var concentration = $('#univbundle_inscription_concentration');
                                var url3 = "{{ path('ims_Niveaujax') }}";
                                $.ajax({
                                type: "POST",
                                url: url3,
                                data: {},
                                dataType: 'JSON',
                                timeout: 30000,
                                success: function (data) {
                                //reinitialise la liste
                                $(niveaux).html('<option value=""> -- Selectioner un niveau -- </option>');
                                //si l'etudiant na pas valider les matiere fondanmentale
                                    if (nbrMatierNonValider >=4) {
                                        if(lastLicence==1){
                                    $.each(data, function (index) {
                                    var id = data[index].id;
                                    var niveau = data[index].name;
                                    if (id <=1 ){
                                        $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                        }


                                    });
                                    $(niveaux).val(lastLicence);
                                        }else if(lastLicence<=2){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <=2 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }else if (lastLicence<=3){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <=3 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }else if(lastLicence<=4){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <=4 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }
                                    }
                                    //si l'etudiant a   valider les matiere fondanmentale
                                    else if (nbrMatierNonValider<4){
                                        if(lastLicence==1){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <=2 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }else if(lastLicence<=2){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <=3 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }else if (lastLicence<=3){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <=4 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }else if(lastLicence<=4){
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var niveau = data[index].name;
                                                if (id <5 ){
                                                    $(niveaux).append('<option value="' + id + '">' + niveau + '</option>');
                                                }


                                            });
                                            $(niveaux).val(lastLicence);
                                        }
                                    }
                                },
                                error: function () {
                                alert('Erreur, la connexion au serveur a ete interrompue');
                                }
                                });


//                                $.ajax({
//                                    type: "POST",
//                                    url: url,
//                                    data: {'departement_id': departementId},
//                                    dataType: 'JSON',
//                                    timeout: 30000,
//                                    success: function (data) {
//                                        //reinitialise la liste
////                                        $(concentration).html('<option > -- Selectioner une concentration -- </option>');
//                                        //met a jour la liste
//                                        $.each(data, function (index) {
//                                            var id = data[index].id;
//                                            var nomConcentration = data[index].name;
//                                            $(concentration).append('<option value="' + id + '">' + nomConcentration + '</option>');
//                                        });
//                                    },
//                                    error: function () {
//                                        alert('Erreur, la connexion au serveur a ete interrompue');
//                                    }
//                                });
                                if (lastLicence >= 2) {
                                    divCcncentrationId.attr('hidden', false);
                                } else if (lastLicence <= 2) {
                                    (divCcncentrationId).attr('hidden', true);
                                }
                            });
                            function chargeConcentration() {
                                var urlconcentration = "{{ path('ims_concentrationjax') }}";
                                var departementId = "{{ infos.departement.id }}"
                                var concentration = $('#univbundle_inscription_concentration');

                                var niveau = $("#univbundle_inscription_licence");
                                var divCcncentrationId = $("#concentrationId");
                                var concentration = $('#univbundle_inscription_concentration');
                                if (niveau.val() >= 2) {
                                    divCcncentrationId.attr('hidden', false);
//                                    concentration.attr('required', 'required');
                                    concentration.attr('required', false);

                                    $.ajax({
                                        type: "POST",
                                        url: urlconcentration,
                                        data: {'departement_id': departementId},
                                        dataType: 'JSON',
                                        timeout: 30000,
                                        success: function (data) {
                                            //reinitialise la liste
                                        (concentration).html('<option value="" > -- Selectioner une concentration -- </option>');
                                            //met a jour la liste
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var nomConcentration = data[index].name;
                                                (concentration).append('<option value="' + id + '">' + nomConcentration + '</option>');
                                            });
                                        },
                                        error: function () {
                                            alert('Erreur, la connexion au serveur a ete interrompue');
                                        }
                                    });
                                }
                                else if (niveau.val() <= 2) {
                                    (divCcncentrationId).attr('hidden', true);
                                     concentration.attr('required', false);
                                }
                            }
                            $(document).on("change,keyup", "#univbundle_inscription_licence", chargeConcentration);

                        </script>
                    {% endif %}
                    <!-- .modal-body -->
                </div>
            </div>
        </div>

    </div>

    <!-- First, include the Webcam.js JavaScript Library -->

{% endblock %}