{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                            R&Eacute;INSCRIPTION
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> INFROMATIONS DE L'ETUDIANT
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    {#<div class="row">#}
                    {#<div class="col-lg-6">#}
                    {#<form method="POST" class="cart " action="#">#}
                    {#<div class="col-lg-8 m-b-10">#}
                    {#<div class="input-group">#}
                    {#<input value="{{ matricule }}" placeholder="MATRICULE ICI" required#}
                    {#name="matricule" class="form-control" type="text">#}
                    {#<span class="input-group-btn">#}
                    {#<button class="single_add_to_cart_button btn btn-primary pull-right"#}
                    {#type="submit">Verifier</button>#}
                    {#</span>#}
                    {#</div>#}
                    {#<!-- /input-group -->#}
                    {#</div>#}
                    {#</form>#}
                    {#</div>#}
                    {#</div>#}
                    {#<hr>#}
                    {% if infos !=null and lastInscriptionlicence !=null %}
                        <div class="col-lg-12">
                            <div class="modal-product">
                                <div class="product-info">
                                    {{ form_start(formNews) }}
                                    {#<form action="{{ path('univ_validation_Re_inscription_etudiant',{'matricule':infos.matricule}) }}" method="post">#}
                                    <div class="quick-add-to-cart">
                                        <div class="">
                                            <fieldset>
                                                <legend>INFORMATIONS SUR L'ETUDIANT</legend>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label class="form-label"><strong>Matricule
                                                                :</strong>{{ infos.matricule }}</label>
                                                        <input value="{{ infos.matricule }}" name="matricule"
                                                               type="hidden">
                                                        <br>
                                                        <label for=""><strong>Prenoms et Noms
                                                                :</strong> {{ infos.nomPrenom }}</label>
                                                        <br>
                                                        <label for=""><strong>Date de Naissance
                                                                :</strong> {{ infos.dateNaissance }}</label>


                                                        <br>
                                                        <label for=""><strong>Sexe :</strong> {{ infos.sexe }}
                                                        </label>


                                                        <br>
                                                        <label for=""><strong>Nationnalite
                                                                :</strong> {{ infos.nationnalite }}</label>


                                                        <br>
                                                        <label for=""><strong>Contact :</strong> {{ infos.contact }}
                                                        </label>

                                                        <br>
                                                        <label for=""><strong>Statut :</strong> {{ infos.statut }}
                                                        </label>

                                                        <br>
                                                        <label for=""><strong>Departement
                                                                :</strong> {{ infos.departement.name }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <span><strong>Date Reinscription : </strong><sup>*</sup></span>
                                                        {{ form_widget(formNews.dateInscription,{'attr':{'placeholder': 'Date Reinscription','class':'form-control input-sm'  } }) }}
                                                        {{ form_errors(formNews.dateInscription,{'attr':{'class':'text-danger'} }) }}
                                                        <br>

                                                        {#<label for=""><strong>Niveau :</strong> </label>#}
                                                        <span><strong>Niveau :</strong><sup>*</sup></span>
                                                        {{ form_widget(formNews.licence,{'attr':{'placeholder': 'Niveau','class':'form-control input-sm','onChange':"chargeConcentration()"} }) }}
                                                        {{ form_errors(formNews.licence,{'attr':{'class':'text-danger'} }) }}
                                                        <br>
                                                        <div id="concentrationId" hidden="hidden">
                                                            <span><strong>Concentation :</strong><sup>*</sup></span>
                                                            {{ form_widget(formNews.concentration,{'attr':{'placeholder': 'concentration','class':'form-control input-sm concentration'  } }) }}
                                                            {{ form_errors(formNews.concentration,{'attr':{'class':'text-danger'} }) }}
                                                            <br>
                                                        </div>


                                                        <span><strong>Sessions :</strong><sup>*</sup></span>
                                                        {{ form_widget(formNews.sessions,{'attr':{'placeholder': 'Sessions','class':'form-control input-sm'  } }) }}
                                                        {{ form_errors(formNews.sessions,{'attr':{'class':'text-danger'} }) }}
                                                    </div>
                                                    {{ form_widget(formNews) }}
                                                </div>
                                                <div class="col-lg-3 col-md-3">
                                                    <img class="img-responsive" style="width: 150px;height: 150px"
                                                            {% if infos.image!=null %}
                                                        src="{{ asset('uploads/'~infos.image.path) }}" {% endif %}>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-12 m-b-10">
                                                    <div class="input-group">
                                                            <span class="input-group-btn">
                                                                        <button class="single_add_to_cart_button btn btn-primary btn-block"
                                                                                type="submit">REINSCRIRE</button>
                                                        </span>
                                                    </div>
                                                    <!-- /input-group -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(formNews) }}
                                    {#</form>#}
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div>
                        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
                        <script language="JavaScript">
                            $(document).ready(function () {
                                var lastLicence ={{ lastInscriptionlicence.licence.id }};
                                var lastsession ={{ lastInscriptionlicence.sessions.id }};
                                var divCcncentrationId = $("#concentrationId");
                                $("#univbundle_inscription_licence").val(lastLicence);
                                $("#univbundle_inscription_sessions").val(lastsession);
                                var url = "{{ path('ims_concentrationjax') }}";
                                var departementId = "{{ infos.departement.id }}"
                                var concentration = $('#univbundle_inscription_concentration');
                                if (lastLicence >= 3) {
                                    divCcncentrationId.attr('hidden', false);
                                } else if (lastLicence <= 2) {
                                    (divCcncentrationId).attr('hidden', true);
                                }
                            });
                            function chargeConcentration() {
                                var urlconcentration = "{{ path('ims_concentrationjax') }}";
                                var departementId = "{{ infos.departement.id }}"
                                var concentration = $('#univbundle_inscription_concentration');

                                var niveau = $("#univbundle_inscription_licence");
                                var divCcncentrationId = $("#concentrationId");
                                var concentration = $('#univbundle_inscription_concentration');
                                if (niveau.val() >= 3) {
                                    divCcncentrationId.attr('hidden', false);
                                    concentration.attr('required', 'required');

                                    $.ajax({
                                        type: "POST",
                                        url: urlconcentration,
                                        data: {'departement_id': departementId},
                                        dataType: 'JSON',
                                        timeout: 30000,
                                        success: function (data) {
                                            //reinitialise la liste
                                        (concentration).html('<option > -- Selectioner une concentration -- </option>');
                                            //met a jour la liste
                                            $.each(data, function (index) {
                                                var id = data[index].id;
                                                var nomConcentration = data[index].name;
                                                (concentration).append('<option value="' + id + '">' + nomConcentration + '</option>');
                                            });
                                        },
                                        error: function () {
                                            alert('Erreur, la connexion au serveur a ete interrompue');
                                        }
                                    });
                                }
                                else if (niveau.val() <= 2) {
                                    (divCcncentrationId).attr('hidden', true);
                                    concentration.attr('required', false);
                                }
                            }
                            $(document).on("change,keyup", "#univbundle_inscription_licence", chargeConcentration);

                        </script>
                    {% endif %}
                    <!-- .modal-body -->
                </div>
            </div>
        </div>

    </div>

    <!-- First, include the Webcam.js JavaScript Library -->

{% endblock %}