{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
    {#<title>BADGE</title>#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">#}
{#</head>#}
{#<body>#}
{#<div class="panel panel-primary">#}
    {#<style type="text/css">#}
        {#.entete{#}
            {#background-image:url("{{ absolute_url(asset('img/p2.png')) }}");#}
           {#background-color: red;#}
            {#height:64px;width:200px;#}
            {#border: 1px solid;#}
        {#}#}
    {#</style>#}
    {#<style type="text/css">#}
        {#.infos{#}
            {#color: white;#}
        {#}#}
    {#</style>#}
 {#<div class="panel-body">#}
     {#<div>#}
{#{% if etudiant!=null  %}#}
         {#<div style=' margin: auto;padding:auto; height: 350px;background-image: url("{{ absolute_url(asset('img/5.jpg')) }}") ;width: 250px;border: 1px solid;display: inline-block;background-repeat: no-repeat'>#}
             {#<div class="">#}
                 {#<img width="50" height="50" src="{{ absolute_url(asset('img/logo.png')) }}" alt="">#}
                 {#<h3 style="font-family: Elephant;color:#0a0a0a;font-size:14px;display: inline;box-shadow: 2px 2px #ff837d;top:-20px;position: relative;">Universite de Kindia</h3>#}
             {#</div>#}
             {#<div style="height: 90px;width: 90px; margin:10px 15px 25px 80px ;background: transparent" class="content">#}
                 {#{% if etudiant.image!=null  %}#}
                 {#<img class="img-responsive" width="90" height="90" src="{{ absolute_url(asset('uploads/'~etudiant.image.path)) }}" alt="">#}
                 {#{% endif %}#}
             {#</div>#}
             {#<strong style="color: #0a0a0a;margin-left: 5px">Matricule : </strong><span style="color: #0a0a0a; font-size: small">{{ etudiant.matricule }}</span><br>#}
             {#<strong style="color: #0a0a0a;margin-left: 5px">Nom : </strong><span style="color: #0a0a0a; font-size: small">Kante</span><br>#}
             {#<strong style="color: #0a0a0a ;margin-left: 5px">Prenom : </strong><span style="color: #0a0a0a; font-size: small">Mohamed</span><br>#}
             {#<strong style="color: #0a0a0a ;margin-left: 5px">Faculte : </strong><span style="color: #0a0a0a; font-size: small ;">{{ etudiant.departement.faculte.name }}</span><br>#}
             {#<strong style="color: #0a0a0a ;margin-left: 5px">Departement : </strong><span style="color: #0a0a0a; font-size: small ;">{{ etudiant.departement.name }}</span><br>#}
             {#<strong style="color: #0a0a0a ;margin-left: 5px">Niveau : </strong><span style="color: #0a0a0a; font-size: small ;">{{ etudiant.licence.name }}</span><br>#}
             {#<div class="footer"></div>#}
         {#</div>#}
{#{% endif %}#}

     {#</div>#}

{#</div>#}
{#</div>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html>
<head>
    <title>DOC</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
</head>
<body>
<div class="panel panel-primary">
    <style type="text/css">
        .entete{
            background-image:url("{{ absolute_url(asset('img/p2.png')) }}");
            background-color: red;
            height:64px;width:200px;
            border: 1px solid;
        }
    </style>
    <style type="text/css">
        .infos{
            color: white;
        }
    </style>
    <div class="panel-body">
        <div style='height: 515px;background-image: url("{{ absolute_url(asset('img/modele de badge.png')) }}") ;width:338px;border: 1px solid;display: inline-block;background-repeat: no-repeat'>
            <div style="color: black; font-family: 'Arial Black' ;padding-top:85px;text-align: center">
                FACULTE DE MEDECINE
            </div>
            <div style="color: black; font-family: 'Arial Black' ;text-align: justify;padding-top: 5px;margin-left: 5px">
                Departement:  {{ etudiant.departement.name }}
            </div>

            <div style="color: black; font-size:16px; font-family: 'Century Gothic';font-weight:bold ;text-align: justify;padding-top: 48px;margin-left: 5px">
                {{ etudiant.matricule }}
            </div>
            <div style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:26px;margin-left: 5px">
                Diallo
            </div>
            <div style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:40px;margin-left: 5px">
                Alpha Oumar
            </div>
            <div style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:35px;margin-left: 5px">
                621 13 46 96
            </div>

            <div style="color: black;font-size:16px; font-family: 'Century Gothic';font-weight:bold  ;text-align: justify;padding-top:28px;margin-left: 5px">
                Hafia Mosquee
            </div>

            <div style="color: #0b1b6d;font-size:18px; font-family: 'arial';font-weight:bold  ;text-align: justify;padding-top:24px;margin-left: 5px">
                2019 - 2021
            </div>

            <div style="border: 1px solid ; barder-radius:2px 2px 2px 2px; background: transparent;width: 120px ;height:139px;position: relative; top: -319px;left:200px">
                <img class=" img img-responsive" style="width: 119px;height: 139px" src="{{ absolute_url(asset('uploads/'~etudiant.image.path)) }}">
            </div>

            <div style=" background: transparent;width: 120px ;height:114px;position: relative; top: -309px;left:200px">
                {{ barcode({code: "Universite Kindia/"~etudiant.matricule, type: 'datamatrix', format: 'svg', width:4, height:4, color: 'black'}) }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
