{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'une concentration
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            {{ form_label(form.faculte,'Facultes') }}
                            {{ form_widget(form.faculte,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.faculte) }}


                            {{ form_label(form.departement,'Departement') }}
                            {{ form_widget(form.departement,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.departement) }}

                            {{ form_label(form.name,'Concentration') }}
                            {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.name) }}

                        </div>

                    </div>
                    <br>
                    <div class="form-group">
                        <div class="input-group-addon">
                            <a href="{{ path('concentration_index') }}">
                                <button type="button" class="btn "><span
                                            class="glyphicon glyphicon-backward">   Retour</span>
                                </button>
                            </a>

                        </div>
                        {{ form_rest(form) }}
                        <div class="input-group-addon">
                            <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                        </div>

                    </div>

                    {{ form_end(form) }}
                    {#<div class="row pull-right">#}
                        {#<div class="col-lg-6  col-lg-pull-2">#}
                            {#<a href="{{ path('concentration_index') }}">#}
                                {#Retour#}
                            {#</a>#}
                        {#</div>#}
                       {##}
                        {#<div class="col-lg-6 col-lg-pull-2">#}
                            {#<input class="btn btn-success btn-large" type="submit" value="Ajouter"/>#}
                        {#</div>#}
                      {##}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

