{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concentration</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ concentration.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ concentration.name }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concentration_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concentration_edit', { 'id': concentration.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
