{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification Etudiant
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-4 col-md-4">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.nomPrenom,'Nom et Prenom') }}
                                    {{ form_widget(edit_form.nomPrenom,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.nomPrenom) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.sexe,'Genre') }}
                                    {{ form_widget(edit_form.sexe,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.sexe) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.nationnalite,'Nationnalite') }}
                                    {{ form_widget(edit_form.nationnalite,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.nationnalite) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.dateNaissance,'Date de naissance') }}
                                    {{ form_widget(edit_form.dateNaissance,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.dateNaissance) }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.filiation,'Filiation') }}
                                    {{ form_widget(edit_form.filiation,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.filiation) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.contact,'Adresse') }}
                                    {{ form_widget(edit_form.contact,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(edit_form.contact) }}
                                </div>
                                <div id="divDepartement" class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.departement,'departement') }}
                                    {{ form_widget(edit_form.departement,{'attr':{'class':'form-control input-sm','readonly':'false'}}) }}
                                    {{ form_errors(edit_form.departement) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(edit_form.licence,'Niveau') }}
                                    {{ form_widget(edit_form.licence,{'attr':{'class':'form-control input-sm','onchange':'chargeConcentration()','required':'required'}}) }}
                                    {{ form_errors(edit_form.licence) }}
                                </div>

                                <div class="col-lg-12 col-md-12" id="concentrationId" hidden="hidden">
                                    {#<span><strong>Concentation :</strong><sup>*</sup></span>#}
                                    {{ form_label(edit_form.licence,'Concentation *') }}
                                    {{ form_widget(edit_form.concentration,{'attr':{'placeholder': 'concentration','class':'form-control input-sm concentration'  } }) }}
                                    {{ form_errors(edit_form.concentration,{'attr':{'class':'text-danger'} }) }}
                                    <br>
                                </div>


                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="row">

                                    <div class="col-lg-12 col-md-12">
                                        {{ form_label(edit_form.statut,'Statut') }}
                                        {{ form_widget(edit_form.statut,{'attr':{'class':'form-control input-sm'}}) }}
                                        {{ form_errors(edit_form.statut) }}
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        {{ form_label(edit_form.Sessions,'Sessions') }}
                                        {{ form_widget(edit_form.Sessions,{'attr':{'class':'form-control input-sm'}}) }}
                                        {{ form_errors(edit_form.Sessions) }}
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div id="Divunivbundle_etudiants_PV" class="Divunivbundle_etudiants_PV">
                                            {{ form_label(edit_form.PV,'PV') }}
                                            {{ form_widget(edit_form.PV,{'attr':{'class':'form-control input-sm','value':'0'}}) }}
                                            {{ form_errors(edit_form.PV) }}
                                        </div>

                                    </div>

                                    <div class="col-sm-12">

                                        {{ form_label(edit_form.image.file,'Image') }}
                                        {{ form_widget(edit_form.image.file,{'attr':{'class':'input-sm','type':'file','accept':'image/*'}}) }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="input-group-addon">
                        <a href="{{ path('etudiants_index') }}">
                            <button type="button" class="btn "><span
                                        class="glyphicon glyphicon-backward">   Retour</span>
                            </button>
                        </a>

                    </div>
                    <div class="input-group-addon">
                        <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            var Combostatut= $("#univbundle_etudiants_statut");
            var statuetudiant ="{{ etudiant.statut }}";

            var lastsession ={{ lastInscriptionlicence.sessions.id }};
            $("#univbundle_etudiants_Sessions").val(lastsession);
            $("#Divunivbundle_etudiants_PV").attr('hidden', true);

            if(statuetudiant=='Boursier'){
                Combostatut.val('Boursier');
            }else if(statuetudiant=='Non Boursier') {
                Combostatut.val('Non Boursier');
            }


        });

        $(document).ready(function () {
            var departement = $("#univbundle_etudiants_departement");
            var divDepartement = $("#divDepartement");

            {% if is_granted('ROLE_SUPER_ADMIN') %}

            {% elseif is_granted('ROLE_CHEF_DEPARTEMENT')  %}
            var UserRole = "{{ app.user.rolesUser }}";
            if (UserRole == "ROLE_CHEF_DEPARTEMENT") {
                var UserDep = "{{ app.user.personnel.departement.id }}";
                departement.val(UserDep);
                divDepartement.attr('hidden', true);
            }
            {% endif %}

        });
        function chargeConcentration() {
            var niveau = $("#univbundle_etudiants_licence");
            var divCcncentrationId = $("#concentrationId");
            var concentration = $('#univbundle_etudiants_concentration');
            if (niveau.val() >= 2) {
                divCcncentrationId.attr('hidden', false);
                concentration.attr('required', 'false');
            }
            else if (niveau.val() <= 1) {
                (divCcncentrationId).attr('hidden', true);
                concentration.attr('required', false);
            }
        }
        $(document).on("change,keyup", "#univbundle_etudiants_licence", chargeConcentration);
    </script>
{% endblock %}




