{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="post">
                <div class="input-group">
                    <div class="input-group-addon">
                        <strong>Licences:</strong>
                        <select name="licence" id="univbundle_niveau" class="form-control input-sm">
                            <option selected value="0">--- Tout les niveaux ---</option>
                            {% for niveau in licences %}
                                <option value="{{ niveau.id }}">{{ niveau.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group-addon">
                        <strong>Periodes: </strong>
                        <select name="sessions" id="univbundle_periode" class="form-control input-sm">
                            <option selected value="0">--- Toutes les periodes ---</option>
                            {% for periode in sessions %}
                                <option value="{{ periode.id }}">{{ periode.sessions }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group-addon">
                        <button type="submit" class="btn btn-sm btn-primary btn-block"><i
                                    class="glyphicon glyphicon-refresh"> Valider</i></button>
                        {##}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if is_granted('ROLE_SUPERVISEUR') %}
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-menu-v"></i> ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <!--tab starts-->
                    <!-- Nav tabs category -->
                    <ul class="nav nav-tabs">

                        {% for faculte in facultes |sort %}
                            <li {% if loop.index==1 %} class="active" {% else %} class="" {% endif %} >
                                <a aria-expanded="true" href="#faq{{ faculte.id }}"
                                   data-toggle="tab">  {{ faculte.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        {% for faculte in facultes |sort %}
                            <div {% if loop.index==1 %} class="tab-pane fade active in" {% else %} class="tab-pane fade" {% endif %}
                                    id="faq{{ faculte.id }}">
                                <div class="panel-group" id="accordion-cat-1">
                                    {% for departement in departements %}
                                        {% if faculte.id==departement.faculte.id %}
                                            <div class="panel panel panel-faq">
                                                <div class="panel-heading">
                                                    <a class="collapsed" aria-expanded="false"
                                                       href="#faq-cat-1-sub{{ departement.id }}"
                                                       data-toggle="collapse" data-parent="#accordion-cat-1">
                                                        <h4 class="panel-title">
                                                            Departement {{ departement.name }}
                                                            {#( {{ departement.etudiant|length }}) etudiant(e)s#}
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div class="panel-collapse collapse"
                                                     id="faq-cat-1-sub{{ departement.id }}"
                                                     aria-expanded="false"
                                                     style="height: 0px;">

                                                    <div class="panel-body">
                                                        <div class="panel panel-default filterable">
                                                            <div class="panel-heading">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <a href="{{ path('univ_liste_des_etudiants_by_departement_xcelFile',{'departementId':departement.id,'licenceForUrl':licenceForUrl,'sessionForUrl':sessionForUrl}) }}">
                                                                            <button type="button"
                                                                                    class="btn btn-success btn-block"><i
                                                                                        class=" fa fa-list-alt">
                                                                                    Exporter en Excel</i></button>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <a target="_blank"
                                                                           href="{{ path('univ_liste_des_etudiants_by_departement_pdf',{'departementId':departement.id,'licenceForUrl':licenceForUrl,'sessionForUrl':sessionForUrl}) }}">
                                                                            <button type="button"
                                                                                    class="btn btn-info btn-block"><i
                                                                                        class="fa fa-print"> Exporter en
                                                                                    Pdf</i></button>
                                                                        </a>
                                                                    </div>

                                                                    <div class="col-lg-4">
                                                                        {#<span class="glyphicon glyphicon-filter"></span>#}
                                                                        <button type="button"
                                                                                class="btn btn-warning btn-block btn-filter">
                                                                            <i class="glyphicon glyphicon-filter">
                                                                                Filtrer</i></button>
                                                                    </div>
                                                                </div>
                                                                <br>

                                                                {#<button type="button" class=" btn-success btn-block btn-xs btn-filter jaune">#}
                                                                {#Filtrer#}
                                                                {#</button>#}
                                                                <h3 class="panel-title text-center"> LISTE DES ETUDIANTS
                                                                    Departement {{ departement.name }} </h3>

                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="table-responsive">
                                                                    <div class="bg tablescroll table-responsive">
                                                                        <table class="table table-bordered table-striped table-responsive" id="table2">
                                                                            <thead>
                                                                            <tr class="filters">
                                                                                <th>Photo</th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Matricule"
                                                                                           disabled>
                                                                                </th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Prenoms et Noms"
                                                                                           disabled>
                                                                                </th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Sexe" disabled>
                                                                                </th>

                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Niveaux"
                                                                                           disabled>
                                                                                </th>
                                                                                <th>
                                                                                    Actions
                                                                                </th>


                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                            {% for etudiant in etudiants %}
                                                                                {% if etudiant.departement.id==departement.id %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            <img class="img-responsive"
                                                                                                 style="height: 80px;width:80px" {% if etudiant.image!=null %}src="{{ asset ('uploads/'~etudiant.image.path) }}" {% else %} src="{{ asset('img/etud.png') }}"   {% endif %}>
                                                                                        </td>
                                                                                        <td>{{ etudiant.matricule }}</td>
                                                                                        <td>{{ etudiant.nomPrenom }}</td>
                                                                                        <td>

                                                                                            {{ etudiant.sexe }}

                                                                                        </td>
                                                                                        <td>{{ etudiant.licence.name }}</td>
                                                                                        <td class="col-lg-4">
                                                                                            <a href="{{ path('etudiants_show', {'id': etudiant.id}) }}">
                                                                                                <button class="btn btn-warning btn-sm"><span
                                                                                                            class="glyphicon glyphicon-eye-open"> Detail</span>
                                                                                                </button>
                                                                                            </a>
                                                                                            <a href="{{ path('etudiants_edit', {'id': etudiant.id}) }}">
                                                                                                <button class="btn btn-success btn-sm"><span
                                                                                                            class="glyphicon glyphicon-edit"> Modifier</span>
                                                                                                </button>
                                                                                            </a>


                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <span class="information alert-message center">Aucun enregistrements trouvés</span>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <!--tab ends-->
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_CHEF_DEPARTEMENT') %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel ">
                    <div class="panel-body">
                            <div class="panel panel-default filterable">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <a href="{{ path('univ_liste_des_etudiants_by_departement_xcelFile',{'departementId':app.user.personnel.departement.id,'licenceForUrl':licenceForUrl,'sessionForUrl':sessionForUrl}) }}">
                                                <button type="button" class="btn btn-success btn-block"><i
                                                            class=" fa fa-list-alt"> Exporter en Excel</i></button>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a target="_blank"
                                               href="{{ path('univ_liste_des_etudiants_by_departement_pdf',{'departementId':app.user.personnel.departement.id,'licenceForUrl':licenceForUrl,'sessionForUrl':sessionForUrl}) }}">
                                                <button type="button" class="btn btn-info btn-block"><i
                                                            class="fa fa-print"> Exporter en Pdf</i></button>
                                            </a>
                                        </div>

                                        <div class="col-lg-4">
                                            {#<span class="glyphicon glyphicon-filter"></span>#}
                                            <button type="button" class="btn btn-warning btn-block btn-filter"><i
                                                        class="glyphicon glyphicon-filter"> Filtrer</i></button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div class="bg tablescroll table-responsive">
                                            <table class="table table-bordered table-striped table-responsive">
                                                <thead>
                                                <tr class="filters">
                                                    <th>Photo</th>
                                                    <th>
                                                        <input type="text" class="form-control" placeholder="Matricule"
                                                               disabled>
                                                    </th>
                                                    <th>
                                                        <input type="text" class="form-control"
                                                               placeholder="Prenoms et Noms" disabled>
                                                    </th>
                                                    <th>
                                                        <input type="text" class="form-control" placeholder="Sexe"
                                                               disabled>
                                                    </th>

                                                    <th>
                                                        <input type="text" class="form-control" placeholder="Niveaux"
                                                               disabled>
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th>


                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for etudiant in etudiants %}
                                                    {% if app.user.personnel.departement==etudiant.departement %}
                                                        <tr>
                                                            <td>
                                                                <img class="img-responsive"
                                                                     style="height: 80px;width:80px" {% if etudiant.image!=null %}
                                                                    src="{{ asset ('uploads/'~etudiant.image.path) }}"  {% else %} src="{{ asset('img/etud.png') }}"   {% endif %}
                                                                    ></td>
                                                            <td>{{ etudiant.matricule }}</td>
                                                            <td>{{ etudiant.nomPrenom }}</td>
                                                            <td>

                                                                {{ etudiant.sexe }}

                                                            </td>
                                                            <td>{{ etudiant.licence.name }}</td>
                                                            <td class="col-lg-4">
                                                                <a href="{{ path('etudiants_show', {'id': etudiant.id}) }}">
                                                                    <button class="btn btn-warning btn-sm"><span
                                                                                class="glyphicon glyphicon-eye-open"> Detail</span>
                                                                    </button>
                                                                </a>
                                                                <a href="{{ path('etudiants_edit', {'id': etudiant.id}) }}">
                                                                    <button class="btn btn-success btn-sm"><span
                                                                                class="glyphicon glyphicon-edit"> Modifier</span>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="information alert-message center">Aucun enregistrements trouvés</span>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {#{% endif %}#}
                    </div>
                </div>
            </div>
        </div>

    {% elseif is_granted('ROLE_SCOLARITE') %}
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-menu-v"></i> ETUDIANTS
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <!--tab starts-->
                    <!-- Nav tabs category -->
                    <ul class="nav nav-tabs">

                        {% for faculte in facultes |sort %}
                            <li {% if loop.index==1 %} class="active" {% else %} class="" {% endif %} >
                                <a aria-expanded="true" href="#faq{{ faculte.id }}"
                                   data-toggle="tab">  {{ faculte.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        {% for faculte in facultes |sort %}
                            <div {% if loop.index==1 %} class="tab-pane fade active in" {% else %} class="tab-pane fade" {% endif %}
                                    id="faq{{ faculte.id }}">
                                <div class="panel-group" id="accordion-cat-1">
                                    {% for departement in departements %}
                                        {% if faculte.id==departement.faculte.id %}
                                            <div class="panel panel panel-faq">
                                                <div class="panel-heading">
                                                    <a class="collapsed" aria-expanded="false"
                                                       href="#faq-cat-1-sub{{ departement.id }}"
                                                       data-toggle="collapse" data-parent="#accordion-cat-1">
                                                        <h4 class="panel-title">
                                                            Departement {{ departement.name }}
                                                            {#( {{ departement.etudiant|length }}) etudiant(e)s#}
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div class="panel-collapse collapse"
                                                     id="faq-cat-1-sub{{ departement.id }}"
                                                     aria-expanded="false"
                                                     style="height: 0px;">

                                                    <div class="panel-body">
                                                        <div class="panel panel-default filterable">
                                                            <div class="panel-heading">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <a href="{{ path('univ_liste_des_etudiants_by_departement_xcelFile',{'departementId':departement.id,'licenceForUrl':licenceForUrl,'sessionForUrl':sessionForUrl}) }}">
                                                                            <button type="button"
                                                                                    class="btn btn-success btn-block"><i
                                                                                        class=" fa fa-list-alt">
                                                                                    Exporter en Excel</i></button>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <a target="_blank"
                                                                           href="{{ path('univ_liste_des_etudiants_by_departement_pdf',{'departementId':departement.id,'licenceForUrl':licenceForUrl,'sessionForUrl':sessionForUrl}) }}">
                                                                            <button type="button"
                                                                                    class="btn btn-info btn-block"><i
                                                                                        class="fa fa-print"> Exporter en
                                                                                    Pdf</i></button>
                                                                        </a>
                                                                    </div>

                                                                    <div class="col-lg-4">
                                                                        {#<span class="glyphicon glyphicon-filter"></span>#}
                                                                        <button type="button"
                                                                                class="btn btn-warning btn-block btn-filter">
                                                                            <i class="glyphicon glyphicon-filter">
                                                                                Filtrer</i></button>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <h3 class="panel-title text-center" style="text-transform: uppercase"> LISTE DES ETUDIANTS
                                                                    Departement {{ departement.name }} </h3>

                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="table-responsive">
                                                                    <div class="bg tablescroll table-responsive">
                                                                        <table class="table table-bordered table-striped table-responsive" id="table2">
                                                                            <thead>
                                                                            <tr class="filters">
                                                                                <th>Photo</th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Matricule"
                                                                                           disabled>
                                                                                </th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Prenoms et Noms"
                                                                                           disabled>
                                                                                </th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Sexe" disabled>
                                                                                </th>

                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Niveaux"
                                                                                           disabled>
                                                                                </th>
                                                                                <th>
                                                                                    Actions
                                                                                </th>


                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                            {% for etudiant in etudiants %}
                                                                                {% if etudiant.departement.id==departement.id %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            <img class="img-responsive"
                                                                                                 style="height: 80px;width:80px" {% if etudiant.image!=null %}src="{{ asset ('uploads/'~etudiant.image.path) }}" {% else %} src="{{ asset('img/etud.png') }}"   {% endif %}>
                                                                                        </td>
                                                                                        <td>{{ etudiant.matricule }}</td>
                                                                                        <td>{{ etudiant.nomPrenom }}</td>
                                                                                        <td>

                                                                                            {{ etudiant.sexe }}

                                                                                        </td>
                                                                                        <td>{{ etudiant.licence.name }}</td>
                                                                                        <td class="col-lg-4">
                                                                                            <a href="{{ path('etudiants_show', {'id': etudiant.id}) }}">
                                                                                                <button class="btn btn-warning btn-sm"><span
                                                                                                            class="glyphicon glyphicon-eye-open"> Detail</span>
                                                                                                </button>
                                                                                            </a>
                                                                                            <a href="{{ path('etudiants_edit', {'id': etudiant.id}) }}">
                                                                                                <button class="btn btn-success btn-sm"><span
                                                                                                            class="glyphicon glyphicon-edit"> Modifier</span>
                                                                                                </button>
                                                                                            </a>

                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <span class="information alert-message center">Aucun enregistrements trouvés</span>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <!--tab ends-->
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}