{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'un etudiants
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <div class="col-lg-4 col-md-4">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.nomPrenom,'Nom et Prenom') }}
                                    {{ form_widget(form.nomPrenom,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.nomPrenom) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.sexe,'Genre') }}
                                    {{ form_widget(form.sexe,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.sexe) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.nationnalite,'Nationnalite') }}
                                    {{ form_widget(form.nationnalite,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.nationnalite) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.dateNaissance,'Date de naissance') }}
                                    {{ form_widget(form.dateNaissance,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.dateNaissance) }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.filiation,'Filiation') }}
                                    {{ form_widget(form.filiation,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.filiation) }}
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.contact,'Contact') }}
                                    {{ form_widget(form.contact,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.contact) }}
                                </div>
                                <div id="divDepartement" class="col-lg-12 col-md-12">
                                    {{ form_label(form.departement,'departement') }}
                                    {{ form_widget(form.departement,{'attr':{'class':'form-control input-sm','readonly':'false'}}) }}
                                    {{ form_errors(form.departement) }}
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    {{ form_label(form.licence,'Niveau') }}
                                    {{ form_widget(form.licence,{'attr':{'class':'form-control input-sm','onchange':'chargeConcentration()','required':'required'}}) }}
                                    {{ form_errors(form.licence) }}
                                </div>

                                <div class="col-lg-12 col-md-12" id="concentrationId" hidden="hidden">
                                    {#<span><strong>Concentation :</strong><sup>*</sup></span>#}
                                    {{ form_label(form.licence,'Concentation *') }}
                                    {{ form_widget(form.concentration,{'attr':{'placeholder': 'concentration','class':'form-control input-sm concentration'  } }) }}
                                    {{ form_errors(form.concentration,{'attr':{'class':'text-danger'} }) }}
                                    <br>
                                </div>


                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="row">

                                    <div class="col-lg-12 col-md-12">
                                        {{ form_label(form.statut,'Statut') }}
                                        {{ form_widget(form.statut,{'attr':{'class':'form-control input-sm'}}) }}
                                        {{ form_errors(form.statut) }}
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        {{ form_label(form.Sessions,'Sessions') }}
                                        {{ form_widget(form.Sessions,{'attr':{'class':'form-control input-sm'}}) }}
                                        {{ form_errors(form.Sessions) }}
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        {{ form_label(form.PV,'PV') }}
                                        {{ form_widget(form.PV,{'attr':{'class':'form-control input-sm'}}) }}
                                        {{ form_errors(form.PV) }}
                                    </div>

                                    <div class="col-sm-12">
                                        {#<label class="control-label">#}
                                        {##}
                                        {#Choisir la Photo#}
                                        {#</label>#}
                                        {{ form_label(form.image.file,'Image') }}
                                        {{ form_widget(form.image.file,{'attr':{'class':'input-sm','type':'file','accept':'image/*'}}) }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row pull-right">
                                <div class="col-lg-6  col-lg-pull-2">
                                    <a href="{{ path('etudiants_index') }}">
                                        Retour
                                    </a>
                                </div>
                                {{ form_rest(form) }}
                                <div class="col-lg-6 col-lg-pull-2">
                                    <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
            <script type="text/javascript" src='{{ asset('js/excelexportjs.js') }}'></script>
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
            <script language="JavaScript">
                $(document).ready(function () {
                    var departement = $("#univbundle_etudiants_departement");
                    var url = "{{ path('ims_concentrationjax') }}";
                    var concentration = $('#univbundle_etudiants_concentration');
                    var divDepartement = $("#divDepartement");
                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                    {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                    var UserRole = "{{ app.user.rolesUser }}";
                    if (UserRole == "ROLE_CHEF_DEPARTEMENT") {
                        var UserDep = "{{ app.user.personnel.departement.id }}";
                        departement.val(UserDep);
                        divDepartement.attr('hidden', true);
                    }
                    {% endif %}

                    $(departement).on('change', function () {
                       var departement_id=$(this).val();
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {'departement_id':departement_id},
                            dataType: 'JSON',
                            timeout: 30000,
                            success: function (data) {
                                //reinitialise la liste
                                $(concentration).html('<option value=""> -- Selectioner une concentration -- </option>');
                                //met a jour la liste
                                $.each(data, function (index) {
                                    var id = data[index].id;
                                    var nom = data[index].name;
                                    $(concentration).append('<option value="' + id + '">' + nom + '</option>');
                                });  concentration.attr('required', 'required');
                            },
                            error: function () {
                                alert('Erreur, la connexion au serveur a ete interrompue');
                            }
                        });
                    });

                });
                function chargeConcentration() {
                    var niveau = $("#univbundle_etudiants_licence");
                    var divCcncentrationId = $("#concentrationId");
                    var concentration = $('#univbundle_etudiants_concentration');
                    if (niveau.val() >= 2) {
                        divCcncentrationId.attr('hidden', false);
                        concentration.attr('required', 'required');
                    }
                    else if (niveau.val() <= 1) {
                        (divCcncentrationId).attr('hidden', true);
                        concentration.attr('required', false);
                    }
                }
                $(document).on("change,keyup", "#univbundle_etudiants_licence", chargeConcentration);
            </script>
        </div>
    </div>
{% endblock %}

