{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Detail Etudiant
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <tbody>
                            <tr>
                                <th>Matricule</th>
                                <td>{{ etudiant.matricule }}</td>
                            </tr>
                            <tr>
                                <th>Nom et prenom</th>
                                <td>{{ etudiant.nomPrenom }}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ etudiant.sexe }}</td>
                            </tr>
                            <tr>
                                <th>Filiation</th>
                                <td>{{ etudiant.filiation }}</td>
                            </tr>
                            <tr>
                                <th>Contact</th>
                                <td>{{ etudiant.contact }}</td>
                            </tr>
                            <tr>
                                <th>Nationnalite</th>
                                <td>{{ etudiant.nationnalite }}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ etudiant.dateNaissance }}</td>
                            </tr>
                            <tr>
                                <th>Departement</th>
                                <td> {% if etudiant.departement !=null %}
                                        {{ etudiant.departement.name }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <th>Niveau Actuel</th>
                                <td>{{ niveauActuel.licence.name }}</td>
                            </tr>

                            <tr>
                                <th>Session en cours</th>
                                <td>{{ sessionsEncour.sessions }}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td><img style="width:300px;max-height:200px"
                                         class="img-responsive" {% if etudiant.image!=null %} src="{{ asset ('uploads/'~etudiant.image.path) }}"{% endif %}
                                         alt="{{ etudiant.matricule }}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="col-lg-offset-6">
                            <tr>
                                <td><a href="{{ path('etudiants_index') }}">
                                        <button class="btn "><span class="glyphicon glyphicon-backward">   Retour</span>
                                        </button>
                                    </a></td>
                                <td><a href="{{ path('etudiants_edit', { 'id': etudiant.id }) }}"
                                       class="col-lg-offset-2">
                                        <button class="btn btn-success"><span
                                                    class="glyphicon glyphicon-edit"> Modifier</span></button>
                                    </a></td>
                                <td>
                                    <div class="col-lg-offset-3">

                                        {{ form_start(delete_form) }}
                                        <input value="Supprimer" type="submit"
                                               class="btn btn-danger glyphicon glyphicon-trash ">
                                        {{ form_end(delete_form) }}
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

