{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conges list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td><a href="{{ path('conge_show', { 'id': conge.id }) }}">{{ conge.id }}</a></td>
                <td>{{ conge.titre }}</td>
                <td>{{ conge.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conge_show', { 'id': conge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conge_edit', { 'id': conge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conge_new') }}">Create a new conge</a>
        </li>
    </ul>
{% endblock %}
