
{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Modification Info Universite
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            {{ form_label(edit_form.nomUniversite,'Universite') }}
                            {{ form_widget(edit_form.nomUniversite,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.nomUniversite) }}

                            {{ form_label(edit_form.adresse,'adresse') }}
                            {{ form_widget(edit_form.adresse,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.adresse) }}

                            {{ form_label(edit_form.phone1,'Telephone 1') }}
                            {{ form_widget(edit_form.phone1,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.phone1) }}

                            {{ form_label(edit_form.phone2,'Telephone 2') }}
                            {{ form_widget(edit_form.phone2,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.phone2) }}

                            {{ form_label(edit_form.email,'Email') }}
                            {{ form_widget(edit_form.email,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.email) }}

                            {{ form_label(edit_form.boitePostal,'Boite Postal') }}
                            {{ form_widget(edit_form.boitePostal,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.boitePostal) }}

                            {{ form_label(edit_form.siteWeb,'Site Web') }}
                            {{ form_widget(edit_form.siteWeb,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.siteWeb) }}




                        </div>
                        <div class="col-lg-6 col-md-6">
                            {{ form_label(edit_form.nomPrenomRecteur,'Recteur') }}
                            {{ form_widget(edit_form.nomPrenomRecteur,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.nomPrenomRecteur) }}


                            {{ form_label(edit_form.nomPrenomViceRecteurChargerEtude,'charger des Etudes') }}
                            {{ form_widget(edit_form.nomPrenomViceRecteurChargerEtude,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.nomPrenomViceRecteurChargerEtude) }}

                            {{ form_label(edit_form.nomPrenomViceRecteurChargerRecherche,'Charger des Recherche') }}
                            {{ form_widget(edit_form.nomPrenomViceRecteurChargerRecherche,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.nomPrenomViceRecteurChargerRecherche) }}

                            {{ form_label(edit_form.nomPrenomDirecteurProgramme,'Directeur Scolarite') }}
                            {{ form_widget(edit_form.nomPrenomDirecteurProgramme,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.nomPrenomDirecteurProgramme) }}



                            {{ form_label(edit_form.logo.file,'Logo') }}
                            {{ form_widget(edit_form.logo.file,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.logo.file) }}


                            {{ form_label(edit_form.couverture.file,'Couverture') }}
                            {{ form_widget(edit_form.couverture.file,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_errors(edit_form.couverture.file) }}


                        </div>
                    </div>
                    <div class="row">

                        <hr>
                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="input-group-addon">
                                    <a href="{{ path('universite_index') }}">
                                        <button type="button" class="btn "><span class="glyphicon glyphicon-backward">   Retour</span>
                                        </button>
                                    </a>
                                </div>

                                {{ form_rest(edit_form) }}
                                <div class="input-group-addon">
                                    <input class="btn btn-success btn-large btn-block" type="submit" value="Modifier" />
                                </div>

                            </div>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



