{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            UNIVERSITE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="ti-layout-grid3"></i> UNIVERSITE
                </h3>
                <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="sample">
        <thead>
            <tr>
                <th>UNIVERSITE</th>
                <th>RECTEUR</th>
                <th>DIRECTEUR SCOLARITE</th>
                <th>1ier. VICE RECTEUR</th>
                <th>2ieme VICE RECTEUR</th>
                <th>ADRESSE</th>
                <th>TEL1</th>
                <th>TEL2</th>
                <th>Email</th>
                <th>SITE-WEB</th>
                <th>BOITE POSTAL</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
        {% for universite in universites %}
            <tr>
                <td>{{ universite.nomUniversite }}</td>
                <td>{{ universite.nomPrenomRecteur }}</td>
                <td>{{ universite.nomPrenomDirecteurProgramme }}</td>
                <td>{{ universite.nomPrenomViceRecteurChargerEtude }}</td>
                <td>{{ universite.nomPrenomViceRecteurChargerRecherche }}</td>
                <td>{{ universite.adresse }}</td>
                <td>{{ universite.phone1 }}</td>
                <td>{{ universite.phone2 }}</td>
                <td>{{ universite.email }}</td>
                <td>{{ universite.siteWeb }}</td>
                <td>{{ universite.boitePostal }}</td>
                <td class="col-lg-3">
                    <a href="{{ path('universite_edit', { 'id': universite.id }) }}">
                        <button class="btn btn-success btn-sm btn-block"><span
                                    class="glyphicon glyphicon-edit"> Modifier</span>
                        </button>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
