{% extends 'base.html.twig' %}

{% block body %}
    <h1>Universite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ universite.id }}</td>
            </tr>
            <tr>
                <th>Nomuniversite</th>
                <td>{{ universite.nomUniversite }}</td>
            </tr>
            <tr>
                <th>Nomprenomrecteur</th>
                <td>{{ universite.nomPrenomRecteur }}</td>
            </tr>
            <tr>
                <th>Nomprenomdirecteurprogramme</th>
                <td>{{ universite.nomPrenomDirecteurProgramme }}</td>
            </tr>
            <tr>
                <th>Nomprenomvicerecteurchargeretude</th>
                <td>{{ universite.nomPrenomViceRecteurChargerEtude }}</td>
            </tr>
            <tr>
                <th>Nomprenomvicerecteurchargerrecherche</th>
                <td>{{ universite.nomPrenomViceRecteurChargerRecherche }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ universite.adresse }}</td>
            </tr>
            <tr>
                <th>Phone1</th>
                <td>{{ universite.phone1 }}</td>
            </tr>
            <tr>
                <th>Phone2</th>
                <td>{{ universite.phone2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ universite.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('universite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('universite_edit', { 'id': universite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
