/*404 and 500 pages css*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';

body {
    font-family: 'Open Sans', sans-serif;
    padding: 110px 0;
}

/*404*/
.error_img img {
    width: 100%;
}

@media screen and (max-width: 470px) {
    .error_img img {
        margin-top: 10%;
    }
}

/*500*/
.bg-500 {
    background-color: #C79D6F;
}

.error_msg img {
    width: 100%;
}

@media screen and (max-width: 470px) {
    .error_msg img {
        margin-top: 7%;
    }
}

.seperator {
    border: 0;
    height: 1px;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}

.link-home {
    border-radius: 30px;
}

/* ===== Preloader =====*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    backface-visibility: hidden;
    background: #ffffff;
}

.loader_img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin: -25px 0 0 -25px;
}