#complex-form {
    border: 1px solid #aaa;
    background-color: #f5f5f5;
    border-radius: 3px;
}

legend {
    margin-bottom: 0;
}

.grid-form [data-row-span] [data-field-span] label:first-child {
    font-size: small;
    letter-spacing: 0.5px;
}

.grid-form [data-row-span] [data-field-span]:hover,
.grid-form [data-row-span] [data-field-span].focus {
    background-color: #fff;
}

.select2-container {
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
}

.select2-container--bootstrap .select2-selection {
    background-color: #EBF1F6;
}

.select2-container--bootstrap:hover .select2-selection {
    background-color: #fff;
}