.daterangepicker.opensleft:after {
    display: none;
}

.date-picker-wrapper {
    z-index: 2;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}