/* Fonts Imported from Google */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';

/*   Core: General style
----------------------------*/
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: radial-gradient(ellipse at center, #63B9B4 0%, #008C83 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding-top: 70px;
    color: #fff;
}

.box {
    padding: 19px 15px;
    margin-bottom: 70px;
}

.box input[type='submit'] {
    margin: 25px 0 20px 0;
}

.form-group {
    margin-bottom: 25px;
}

.submit-btn {
    background-color: rgba(255, 255, 255, .2);
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
}

@media screen and (min-width: 450px) {
    .box {
        padding: 36px 35px;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    transition: transform ease-in 200ms;
}

.checkbox label {
    padding-left: 0;
}

.forgot_Form .email {
    border-radius: 20px;
}

.enter_email, .check_email {
    margin-top: 18px;
}

.help-block {
    color: #fecfb0;
}

.btn-top {
    margin-top: 20px !important;

}

a:hover, a:focus {
    text-decoration: none;
}

.has-error .help-block {
    color: #C45555;
    float: left;
}

.err-text {
    color: #c15050;
}

.btn:focus, .btn:active:focus {
    outline: 0;
}

.has-error .form-control, .has-error .form-control:focus {
    border-color: #C45555;
}

.text-danger {
    color: #ff6666;
}

.reset-link {
    color: #ddd;
}

.reset-link:hover {
    color: #eee;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    backface-visibility: hidden;
    background: #ffffff;
}

.loader_img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin: -25px 0 0 -25px;
}