.editor-cls {
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}

.pd-15 {
    padding: 0 15px;
}

/*summer note */

.note-editor.fullscreen {
    margin: 0;
    z-index: 10009 !important;
    margin-top: 51px;
}

.note-editor .dropdown-menu {
    z-index: 40;
}

.tooltip {
    z-index: 40;
}

.note-editable {
    height: 300px;
    width: 100%;
}

[data-original-title="Font Family"] {
    width: 150px;
}

.well {
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    border-color: #a9b6bc;
    background-color: #EBEBEB;
}

.flip_editing {
    margin: 0;
}

.trumbowyg-box.trumbowyg-fullscreen {
    margin-top: 51px;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover {
    background: #e6e6e6;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
    background: #01bc8c;
}

.trumbowyg-modal-submit:hover {
    background-color: #01BC8C !important;
}

.trumbowyg-box {
    background-color: #fff;
}

.note-editor ul, .trumbowyg-box ul {
    list-style-type: disc;
}

.modal .text-muted {
    color: #333;
}

/*whysihtml*/

/*summer note color picker dropdown rensponsive*/

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin: 4px 5px;
}

@media screen and (max-width: 700px) {
    .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 180px;
        left: -123px;
    }
}

@media screen and (max-width: 567px) {
    .note-editor.fullscreen, .trumbowyg-box.trumbowyg-fullscreen {
        margin-top: 99px;
    }
}

@media screen and (max-width: 451px) {
    .panel-heading.note-toolbar .note-color .dropdown-menu {
        left: -40px;
    }
}

@media screen and (max-width: 387px) {
    .panel-heading.note-toolbar .note-color .dropdown-menu {
        left: -65px;
    }
}

.panel-heading.note-toolbar .note-para .dropdown-menu {
    min-width: 152px;
}

@media screen and (max-width: 320px) {
    .trumbowyg-dropdown {
        left: 50px !important;
    }

}