.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    padding: 10px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
    background-color: rgba(86, 61, 124, .1);
}

@media (max-width: 768px) {
    .bs-glyphicons li {
        width: 50%;
    }
}

.border {
    border: 1px solid white !important;
}

.l1 {
    border: 1px solid white;
    background-color: #418BCA;
}

.l2 {
    border: 1px solid white;
    background-color: #6CC66C;
}

.l3 {
    border: 1px solid white;
    background-color: #67C5DF;
}

.l4 {
    border: 1px solid white;
    background-color: #F89A14;
}

.l5 {
    border: 1px solid white;
    background-color: #EF6F6C;
}

.l6 {
    border: 1px solid white;
    background-color: #A9B6BC;
}

/* ionicons and lineicons */

.simplelineicons-demo .item-box {
    display: inline-block;
    font-size: 110%;
    margin: 0 -0.22em 1em 0;
    padding-left: 1em;
    width: 33.333%;
    min-width: 280px;
}

.simplelineicons-demo .item-box .item {
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
}

/*headings*/

.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

.fontawesome-icon-list .fa-icon {
    padding-top: 10px;
}
