/* left menu icons */

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
    width: 340px;
    padding: 0;
    margin: 1px 0 0 0;
    top: 100%;
    border: 1px;
}

#menu .navigation .menu-icon {
    text-align: center;
    font-size: 20px;
}

#menu .navigation > li > a {
    padding: 14px 24px;
}

#menu .navigation a {
    padding: 11px 24px;
}

#menu .navigation a.index {
    padding: 17px 24px 17px 40px;
}

.left-side,
.sidebar,
.menu-dropdown > a,
#menu .navigation {
    width: 80px;
}

.right-side {
    margin-left: 80px;
}

@media screen and (max-width: 992px) {
    .right-side {
        margin-left: 0;
    }

    .relative .right-side {
        margin-left: -160px;
    }
}

@media screen and (min-width: 992px) {
    .right-side.strech {
        margin-left: 0;
    }
}

@media screen and (width: 992px) {
    .left-side {
        top: 0;
    }
}

/* drop list open on hover */

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown,
#menu .navigation > li:not(.menu-dropdown) > a {
    position: relative;
    width: 80px;
}

#menu .menu-dropdown > ul,
#menu .menu-dropdown-open-ul {
    position: absolute;
    width: 250px !important;
    top: 0;
    right: -250px;
    z-index: 2;
    display: none;
    overflow-y: auto;
}

#menu .navigation > li:hover > a {
    background-color: #eee;
    color: #33CC99;
}

#menu .menu-dropdown:hover > ul,
#menu .menu-dropdown:hover > ul.collapse {
    display: block;
    height: auto;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 15px #CCC;
}

#menu .menu-dropdown:hover > a:after {
    position: absolute;
    top: 17px;
    right: 0;
    width: 0;
    height: 0;
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid #2E576B;
    border-bottom: 10px solid transparent;
    border-left: 0;
}

#menu .navigation {
    padding: 4px 0 15px;
    border-bottom: 0;
}

.nav_profile .profile-left {
    padding: 7px 13px 7px;
    border: 0;
}

#menu .menu-dropdown .sidebarbottom {
    top: auto;
    bottom: 0;
}

@media screen and (max-width: 350px) {
    #menu .menu-dropdown > ul,
    #menu .menu-dropdown-open-ul {
        right: -240px;
    }

    #menu .menu-dropdown:hover > a:after {
        right: 10px;
    }

    #menu .menu-dropdown.active:hover > a:after {
        right: 7px;
    }
}