{% extends 'layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                                LITE DES ETUDIANTS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<a href="{{ path('dossier_new') }}">#}
                {#<button class="btn btn-success btn-ms btn-block"><span#}
                            {#class="glyphicon glyphicon-import"> Importer un fichier</span></button>#}
            {#</a>#}
        {#</div>#}

    {#</div><br/>#}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> LITE DES ETUDIANTS A INSCRIRE
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>PV</th>
                                    <th>Nom et Prenom</th>
                                    <th>Date de Naissance</th>
                                    <th>Centre</th>
                                    <th>Origine</th>
                                    <th>Options</th>
                                    <th>Id national</th>
                                    <th>Statut</th>
                                    <th>Departement</th>
                                    <th>Niveau</th>
                                    <th>Session d'orientation</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin_bac in adminBacs %}
                                    {% if admin_bac.flagIncrition !=1 %}
                                        {% if admin_bac.pv!=null %}
                                            <tr>
                                                <td>{{ admin_bac.pv }}</td>
                                                <td>{{ admin_bac.nomPrenom }}</td>
                                                <td>{{ admin_bac.dateNaissance }}</td>
                                                <td>{{ admin_bac.centre }}</td>
                                                <td>{{ admin_bac.origine }}</td>
                                                <td>{{ admin_bac.options }}</td>
                                                <td>{{ admin_bac.idnational }}</td>
                                                <td>{{ admin_bac.statut }}</td>
                                                <td>{{ admin_bac.departement }}</td>
                                                <td>{{ admin_bac.niveau }}</td>
                                                <td>{{ admin_bac.sessions }}</td>
                                                <td class="col-lg-3">

                                                    <a href="{{ path('univ_inscription',{'pv':admin_bac.idnational,'sessionBac':admin_bac.sessions}) }}">
                                                        <button type="submit" class="btn btn-warning btn-sm"><span
                                                                    class="glyphicon glyphicon-edit"> Inscrire</span>
                                                        </button>
                                                    </a>

                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    {% elseif  is_granted('ROLE_SUPERVISEUR') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>PV</th>
                                    <th>Nom et Prenom</th>
                                    <th>Date de Naissance</th>
                                    <th>Centre</th>
                                    <th>Origine</th>
                                    <th>Options</th>
                                    <th>Id national</th>
                                    <th>Statut</th>
                                    <th>Departement</th>
                                    <th>Niveau</th>
                                    <th>Session d'orientation</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin_bac in adminBacs %}
                                    {% if admin_bac.flagIncrition !=1 %}
                                        {% if admin_bac.pv!=null %}
                                            <tr>
                                                <td>{{ admin_bac.pv }}</td>
                                                <td>{{ admin_bac.nomPrenom }}</td>
                                                <td>{{ admin_bac.dateNaissance }}</td>
                                                <td>{{ admin_bac.centre }}</td>
                                                <td>{{ admin_bac.origine }}</td>
                                                <td>{{ admin_bac.options }}</td>
                                                <td>{{ admin_bac.idnational }}</td>
                                                <td>{{ admin_bac.statut }}</td>
                                                <td>{{ admin_bac.departement }}</td>
                                                <td>{{ admin_bac.niveau }}</td>
                                                <td>{{ admin_bac.sessions }}</td>
                                                <td class="col-lg-3">

                                                    <a href="{{ path('univ_inscription',{'pv':admin_bac.idnational,'sessionBac':admin_bac.sessions}) }}">
                                                        <button type="submit" class="btn btn-warning btn-sm"><span
                                                                    class="glyphicon glyphicon-edit"> Inscrire</span>
                                                        </button>
                                                    </a>


                                                    {#<a href="{{ path('adminbac_edit', {'id': admin_bac.id}) }}">#}
                                                    {#<button class="btn btn-success btn-sm"><span#}
                                                    {#class="glyphicon glyphicon-edit"> Modifier</span>#}
                                                    {#</button>#}
                                                    {#</a>#}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>PV</th>
                                    <th>Nom et Prenom</th>
                                    <th>Date de Naissance</th>
                                    <th>Centre</th>
                                    <th>Origine</th>
                                    <th>Options</th>
                                    <th>Id national</th>
                                    <th>Statut</th>
                                    <th>Departement</th>
                                    <th>Niveau</th>
                                    <th>Session d'orientation</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin_bac in adminBacs %}
                                    {% if admin_bac.flagIncrition !=1 %}
                                        {% if admin_bac.pv!=null %}
                                            {% if admin_bac.codeDep==app.user.personnel.departement.code %}
                                                <tr>
                                                    <td>{{ admin_bac.pv }}</td>
                                                    <td>{{ admin_bac.nomPrenom }}</td>
                                                    <td>{{ admin_bac.dateNaissance }}</td>
                                                    <td>{{ admin_bac.centre }}</td>
                                                    <td>{{ admin_bac.origine }}</td>
                                                    <td>{{ admin_bac.options }}</td>
                                                    <td>{{ admin_bac.idnational }}</td>
                                                    <td>{{ admin_bac.statut }}</td>
                                                    <td>{{ admin_bac.departement }}</td>
                                                    <td>{{ admin_bac.niveau }}</td>
                                                    <td>{{ admin_bac.sessions }}</td>
                                                    <td class="col-lg-3">

                                                        <a href="{{ path('univ_inscription',{'pv':admin_bac.idnational,'sessionBac':admin_bac.sessions}) }}">
                                                            <button type="submit" class="btn btn-warning btn-sm"><span
                                                                        class="glyphicon glyphicon-edit"> Inscrire</span>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elseif  is_granted('ROLE_SCOLARITE') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                    <th>PV</th>
                                    <th>Nom et Prenom</th>
                                    <th>Date de Naissance</th>
                                    <th>Centre</th>
                                    <th>Origine</th>
                                    <th>Options</th>
                                    <th>Id national</th>
                                    <th>Statut</th>
                                    <th>Departement</th>
                                    <th>Niveau</th>
                                    <th>Session d'orientation</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin_bac in adminBacs %}
                                    {% if admin_bac.flagIncrition !=1 %}
                                        {% if admin_bac.pv!=null %}
                                            <tr>
                                                <td>{{ admin_bac.pv }}</td>
                                                <td>{{ admin_bac.nomPrenom }}</td>
                                                <td>{{ admin_bac.dateNaissance }}</td>
                                                <td>{{ admin_bac.centre }}</td>
                                                <td>{{ admin_bac.origine }}</td>
                                                <td>{{ admin_bac.options }}</td>
                                                <td>{{ admin_bac.idnational }}</td>
                                                <td>{{ admin_bac.statut }}</td>
                                                <td>{{ admin_bac.departement }}</td>
                                                <td>{{ admin_bac.niveau }}</td>
                                                <td>{{ admin_bac.sessions }}</td>
                                                <td class="col-lg-3">

                                                    <a href="{{ path('univ_inscription',{'pv':admin_bac.idnational,'sessionBac':admin_bac.sessions}) }}">
                                                        <button type="submit" class="btn btn-warning btn-sm"><span
                                                                    class="glyphicon glyphicon-edit"> Inscrire</span>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}