<ul class="navigation">
    <li class="menu-dropdown">
        <a href="#">
            <i class="menu-icon ti-desktop"></i>
            <span>
                EMPLOI DU TEMPS     
            </span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('calendrier_new') }}">
                    <i class="fa fa-fw ti-layout-placeholder" ></i> Ajouter un programme
                </a>
            </li>
            <li>
                <a href="{{ path('calendrier_index') }}">
                    <i class="fa fa-fw ti-layout-placeholder"></i> Vu Publique
                </a>
            </li>
        </ul>
    </li>
</ul>