<div id="menu" role="navigation">
    <div class="nav_profile">
        <div class="media profile-left">
            <div class="content-profile">
                <br>
                <h4 class="media-heading">
                    <a href="{{ path('univ_homepage') }}">
                        <div class="widget-bg-color-icon black card-box front">
                            <div class="bg-icon pull-left">
                                <i class="ti-home text-warning"></i>
                            </div>
                            <div class="text-right">
                                <p><b>Accueil </b></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </h4>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% include 'menu/menuRole/ROLE_SUPER_ADMIN.html.twig' %}
    {% elseif  is_granted('ROLE_ADMIN') %}
        {% include 'menu/menuRole/ROLE_ADMIN.html.twig' %}

    {% elseif  is_granted('ROLE_SUPERVISEUR') %}
        {% include 'menu/menuRole/ROLE_SUPERVISEUR.html.twig' %}

    {% elseif  is_granted('ROLE_CHEF_DEPARTEMENT') %}
        {% include 'menu/menuRole/ROLE_CHEF_DEPARTEMENT.html.twig' %}

    {% elseif  is_granted('ROLE_DIRECTEUR_PROGRAMME') %}
        {% include 'menu/menuRole/ROLE_DIRECTEUR_PROGRAMMET.html.twig' %}

    {% elseif  is_granted('ROLE_ETUDIANT') %}
        {% include 'menu/menuRole/ROLE_ETUDIANT.html.twig' %}

    {% elseif  is_granted('ROLE_ENSEGNANT') %}
        {% include 'menu/menuRole/ROLE_ENSEGNANT.html.twig' %}

    {% elseif  is_granted('ROLE_SCOLARITE') %}
        {% include 'menu/menuRole/ROLE_SCOLARITE.html.twig' %}
    {% elseif  is_granted('ROLE_COMPTABLE') %}
        {% include 'menu/menuRole/ROLE_COMPTABLE.html.twig' %}
    {% elseif  is_granted('ROLE_COMPTABILITE') %}
        {% include 'menu/menuRole/ROLE_COMPTABILITE.html.twig' %}
    {% endif %}

</div>