{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recupecules list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datepaie</th>
                <th>Montantrecu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recuPecule in recuPecules %}
            <tr>
                <td><a href="{{ path('recupecule_show', { 'id': recuPecule.id }) }}">{{ recuPecule.id }}</a></td>
                <td>{% if recuPecule.datepaie %}{{ recuPecule.datepaie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ recuPecule.montantRecu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recupecule_show', { 'id': recuPecule.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recupecule_edit', { 'id': recuPecule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recupecule_new') }}">Create a new recuPecule</a>
        </li>
    </ul>
{% endblock %}
