{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>GESTION-UNIV/
                        <small>
                          PAIEMENT PECULE
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong style="text-transform: none">{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> INFROMATIONS DE L'ETUDIANT
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                </div>
                <div class="panel-body">
                    {% if infos !=null %}
                        <div class="col-lg-12">
                            <div class="modal-product">
                                <div class="product-info">
                                    {{ form_start(form) }}
                                    {#<form action="{{ path('univ_validation_Re_inscription_etudiant',{'matricule':infos.matricule}) }}" method="post">#}
                                    <div class="quick-add-to-cart">
                                        <div class="">
                                            <fieldset>
                                                <legend>INFORMATIONS SUR L'ETUDIANT</legend>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <span><strong>Matricule: </strong><sup>*</sup></span>
                                                        {{ form_widget(form.etudiant,{'attr':{'class':'form-control input-sm col-lg-4'  } }) }}
                                                        {{ form_errors(form.etudiant,{'attr':{'class':'text-danger'} }) }}

                                                        <label for=""><strong>Prenoms et Noms
                                                                :</strong> {{ infos.nomPrenom }}</label>
                                                        <br>
                                                        <label for=""><strong>Date de Naissance
                                                                :</strong> {{ infos.dateNaissance }}</label>


                                                        <br>
                                                        <label for=""><strong>Sexe :</strong> {{ infos.sexe }}
                                                        </label>


                                                        <br>
                                                        <label for=""><strong>Nationnalite
                                                                :</strong> {{ infos.nationnalite }}</label>


                                                        <br>
                                                        <label for=""><strong>Contact :</strong> {{ infos.contact }}
                                                        </label>

                                                        <br>
                                                        <label for=""><strong>Statut :</strong> {{ infos.statut }}
                                                        </label>

                                                        <br>
                                                        <label for=""><strong>Departement
                                                                :</strong> {{ infos.departement.name }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <span><strong>Sessions :</strong><sup>*</sup></span>
                                                        {{ form_widget(form.sessions,{'attr':{'placeholder': 'Sessions','class':'form-control input-sm'  } }) }}
                                                        {{ form_errors(form.sessions,{'attr':{'class':'text-danger'} }) }}
                                                        <br>

                                                        <span><strong>Valeur du Pecule :</strong></span>
                                                          <input disabled class="form-control" type="text" value=" {{ montant |number_format(0,'.',' ') }} GNF">
                                                        <br>

                                                        <span><strong>Date : </strong><sup>*</sup></span>
                                                        {{ form_widget(form.datepaie,{'attr':{'placeholder': 'Date Reinscription','class':'form-control input-sm'  } }) }}
                                                        {{ form_errors(form.datepaie,{'attr':{'class':'text-danger'} }) }}

                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3">
                                                    <img class="img-responsive image-box img-circle " style="width: 150px;height: 150px"
                                                            {% if infos.image!=null %}
                                                        src="{{ asset('uploads/'~infos.image.path) }}" {% endif %}>
                                                </div>
                                                {% if NombreMoisPaie<9 %}
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">

                                                        <div class="well" id="categories"> Veillez selectionner au moins un Mois <sup>*</sup> :
                                                            {#<style type="text/css">#}
                                                                {#li.popular-category{list-style: none; display:inline-block;flex:15px}#}
                                                            {#</style>#}<br>
                                                            <ul class="categorychecklist form-no-clear">
                                                                {% for f in mois %}
                                                                    <li id="category-3" style="list-style: none; display:inline-block;flex:15px">
                                                                        <label style="font-weight: bold" class="select">
                                                                            <input value="{{ f.id }}" type="checkbox" class="js-wpv-filter-trigger" name="choix[]" id="in-category-{{f.id  }}"> {{ f.name }}</label>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </fieldset>
                                        </div>
                                        <br>
                                        {% if NombreMoisPaie<9 %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-12 m-b-10">
                                                    <div class="input-group">
                                                            <span class="input-group-btn">
                                                                        <button class="single_add_to_cart_button btn btn-info btn-block"
                                                                                type="submit">valider le paiement</button>
                                                        </span>
                                                    </div>
                                                    <!-- /input-group -->
                                                </div>
                                            </div>
                                        </div>
                                            {% else %}
                                            <div class="row">
                                                <label style="font-family: Elephant;color: red">Désolé cet  étudiant a recu tous ses pécules  pour cette sessions </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {{ form_end(form) }}
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div>
                        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
                        <script language="JavaScript">
                            $(document).ready(function () {
                               var matriculeEtu=$("#univbundle_recupecule_etudiant");
                                var url="{{ path('ims_etudiantByMatriculeAjax') }}";
                                var matricule="{{ infos.matricule }}"
                                $.ajax({
                                    type: "GET",
                                    url: url,
                                    data: {'matricule': matricule},
                                    dataType: 'JSON',
                                    timeout: 30000,
                                    success: function (data) {
                                        //reinitialise la liste
//                                        $(concentration).html('<option > -- Selectioner une concentration -- </option>');
                                        //met a jour la liste
                                        $.each(data, function (index) {
                                            var id = data[index].id;
                                            var matricule = data[index].matricule;
                                            $(matriculeEtu).append('<option value="' + id + '">' + matricule + '</option>');
                                        });
                                    },
                                    error: function () {
                                        alert('Erreur, la connexion au serveur a ete interrompue');
                                    }
                                });
                            });

                        </script>
                    {% endif %}
                    <!-- .modal-body -->
                </div>
            </div>
        </div>

    </div>

    <!-- First, include the Webcam.js JavaScript Library -->

{% endblock %}