{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recupecule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recuPecule.id }}</td>
            </tr>
            <tr>
                <th>Datepaie</th>
                <td>{% if recuPecule.datepaie %}{{ recuPecule.datepaie|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montantrecu</th>
                <td>{{ recuPecule.montantRecu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recupecule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recupecule_edit', { 'id': recuPecule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
