{% extends '::layout.html.twig' %}

{% block contenu %}
    {% block header_content %}<br>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                        <div style="color: white;background:green"
                             class="alert alert-message-warning text-center text-capitalize" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <strong>{{ flashMessage|raw }} </strong>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
        </div>

    {% endblock %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Importation
                    </h3>
                    <span class="pull-right">
                        <i class="fa fa-fw ti-angle-up clickable "></i>
                        <i class="fa fa-fw ti-close"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>Veillez charger le fichier comportant la liste des admis au bac Ici</legend>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">

                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.image.file,'Fichier en Format xlsx ou xls') }}
                                    {{ form_widget(form.image.file,{'attr':{'class':'form-control input-sm'}}) }}
                                    {{ form_errors(form.image.file) }}
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="row">
                                        <br>
                                        <div class="col-xs-12 col-md-12">
                                            {{ form_widget(form) }}
                                            <button type="submit" class="btn btn-success btn-lg btn-block"
                                                    role="button">
                                                <span class="glyphicon glyphicon-save"></span> Ajouter
                                            </button> {{ form_end(form) }}
                                        </div>
                                    </div>

                                    {#<br>#}
                                    {#<input class="btn btn-responsive btn-success btn-large glyphicon glyphicon-edit" type="submit" value="Ajouter"/>#}

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
