{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dossier</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ dossier.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dossier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dossier_edit', { 'id': dossier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
