{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Typepersonnel creation</h1>#}

    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#<input type="submit" value="Create"/>#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('typepersonnel_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}

{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'un type Personnel
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(form.name,'Type') }}
                            {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.name) }}
                        </div>

                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-lg-6  col-lg-pull-2">
                            <a href="{{ path('typepersonnel_index') }}">
                                Retour
                            </a>
                        </div>
                        {{ form_rest(form) }}
                        <div class="col-lg-6 col-lg-pull-2">
                            <input class="btn btn-success btn-large" type="submit" value="Ajouter"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


