{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Batiment edit</h1>#}

    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('batiment_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}
{% extends '::layout.html.twig' %}
{% block contenu %}
    <div class="row"> {{ form_start(edit_form) }}
        <div class="col-lg-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="ti-layout-grid3"></i> Enregistrement d'un Batiment
                    </h3>
                    <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable "></i>
                                    <i class="fa fa-fw ti-close"></i>
                                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            {{ form_label(edit_form.blocs,'Blocs') }}
                            {{ form_widget(edit_form.blocs,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.blocs) }}



                        </div>

                        <div class="col-lg-6 col-md-6">
                            {{ form_label(edit_form.name,'Nom du Batiment') }}
                            {{ form_widget(edit_form.name,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.name) }}
                        </div>

                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-lg-6  col-lg-pull-2">
                            <a href="{{ path('batiment_index') }}">
                                Retour
                            </a>
                        </div>
                        {{ form_rest(edit_form) }}
                        <div class="col-lg-6 col-lg-pull-2">
                            <input class="btn btn-success btn-large" type="submit" value="Modifier"/>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

