{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            Batiments
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
<div class="row">
    <div class="col-md-5 pull-left">

        <a href="{{ path('batiment_new') }}">
            <button class="btn btn-success btn-ms"><span
                        class="glyphicon glyphicon-new-window"> Nouveau Batiments</span></button>
        </a>

    </div>

</div><br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="ti-layout-grid3"></i> Liste des batiments
                </h3>
                <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="sample_1">

                    <thead>
            <tr>
                <th>Id</th>
                <th>Batiments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for batiment in batiments %}
            <tr>
                <td><a href="{{ path('batiment_show', { 'id': batiment.id }) }}">{{ batiment.id }}</a></td>
                <td>{{ batiment.name }}</td>
                <td class="col-lg-3">
                    <a href="{{ path('batiment_edit', { 'id': batiment.id }) }}">
                        <button class="btn btn-success btn-sm"><span
                                    class="glyphicon glyphicon-edit"> Modifier</span>
                        </button>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('batiment_show', { 'id': batiment.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('batiment_edit', { 'id': batiment.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('batiment_new') }}">Create a new batiment</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}
