{% extends '::layout.html.twig' %}
{% block header_content %}
    <section class="content-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                <div class="header-element">
                    <h3>{{ 'GEST-UNIV' }}/
                        <small>
                            FRAIS
                        </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                <div class="header-object">
                        <span class="option-search pull-right hidden-xs">
                        </span>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}
                    <div style="color: white;background:green"
                         class="alert alert-message-warning text-center text-capitalize" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{{ flashMessage|raw }} </strong>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}
{% block contenu %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="ti-layout-grid3"></i> frais
                </h3>
                <span class="pull-right">
                                    <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>FRAIS INSCRIPTION</th>
                <th>FRAIS REINSCRIPTION</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fraisInscription in fraisInscriptions %}
            <tr>
                <td>
                    {{ fraisInscription.montant|number_format(0,'.',' ') }} GNF
                </td>
                <td>
                    {{ fraisInscription.montantReinscription |number_format(0,'.',' ') }} GNF
                </td>
                <td class="col-lg-3">
                       <a href="{{ path('fraisinscription_edit', { 'id': fraisInscription.id }) }}">
                        <button class="btn btn-success btn-sm btn-block"><span
                                    class="glyphicon glyphicon-edit"> Modifier</span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


