{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fraisinscription</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fraisInscription.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ fraisInscription.montant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fraisinscription_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fraisinscription_edit', { 'id': fraisInscription.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
