{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Numeetage</th>
                <th>Nombresalle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etage in etages %}
            <tr>
                <td><a href="{{ path('etage_show', { 'id': etage.id }) }}">{{ etage.id }}</a></td>
                <td>{{ etage.name }}</td>
                <td>{{ etage.numeEtage }}</td>
                <td>{{ etage.nombreSalle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etage_show', { 'id': etage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etage_edit', { 'id': etage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etage_new') }}">Create a new etage</a>
        </li>
    </ul>
{% endblock %}
