{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ etage.name }}</td>
            </tr>
            <tr>
                <th>Numeetage</th>
                <td>{{ etage.numeEtage }}</td>
            </tr>
            <tr>
                <th>Nombresalle</th>
                <td>{{ etage.nombreSalle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etage_edit', { 'id': etage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
