<!DOCTYPE html>
<html>
<head>
    <title>DOC</title>
    <style>

        .centre {
            text-align: center;
        }

        .personne td {
            border: 1px solid #000000;
            padding: 5px;
        }

        .personne th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cecece;
            color: #000000;
        }
    </style>
    <style>
        .customers {
            border-collapse: collapse;
            width: 100%;
        }

        .customers td, .customers th {
            border: 1px solid #000000;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .customers tr:hover {
            background-color: #000000;
        }

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ddd8dd;
            color: #000000;
        }

        .customers td {
            text-align: left;
        }

        .noteExellente {
            background: green;
            color: white;
        }

        .noteBien {
            background: #cfff69;
            color: white;
        }

        .noteABien {
            background: #e2ff73;
            color: #000000;
        }

        .notePassable {
            background: #ffad7e;
            color: white;
        }

        .noteModiocre {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
<div>
    {#////////////////#}
    <div style="width: auto; height:auto">
        <table class="personne">
            <tr>
                <td style="width:720px; height:20px">

                    <div>
                     <img style="background: red;width: 750px"  src="{{ logo2 }}">
                    </div>
                </td>


            </tr>
        </table>
        <br>
    </div>
    <table class="personne">
        <tr>
            <td>
                <table style="border: none">
                    <tr>
                        <td>UNIVERSITE</td>
                        <td>KINDIA</td>
                    </tr>
                    <tr>
                        <td>FACULTE</td>
                        <td style="width:190px">{{ departement.faculte.name }}</td>
                    </tr>

                    <tr>
                        <td>DEPARTEMENT</td>
                        <td style="width:190px">{{ departement.name }}</td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
    <br>

        <br/>
        <div style="padding-left: 15px">
            <h3 class="panel-title">
                <i class="ti-layout-grid3"></i> EMPLOIE DU TEMPS
            </h3>
            <table  border="1" class="customers">
                <thead  style="background:grey;  color:black;">

                <tr style="background: grey;color: black;">
                        <th>Heure</th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                        <th>Samedi</th>
                        <th>Dimanche</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>8</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '8' %}
                                        {% if calendrier.fin|date('H') > '8' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '9' %}
                                        {% if calendrier.fin|date('H') > '9' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '10' %}
                                        {% if calendrier.fin|date('H') > '10' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '11' %}
                                        {% if calendrier.fin|date('H') > '11' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '12' %}
                                        {% if calendrier.fin|date('H') > '12' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>

                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '13' %}
                                        {% if calendrier.fin|date('H') > '13' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '14' %}
                                        {% if calendrier.fin|date('H') > '14' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '15' %}
                                        {% if calendrier.fin|date('H') > '15' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '16' %}
                                        {% if calendrier.fin|date('H') > '16' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '17' %}
                                        {% if calendrier.fin|date('H') > '17' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '18' %}
                                        {% if calendrier.fin|date('H') > '18' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '19' %}
                                        {% if calendrier.fin|date('H') > '19' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    <tr>
                        <td>20</td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'lun' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mar' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'mer' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'jeu' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'ven' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'sam' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for calendrier in calendriers %}
                                {% if calendrier.jour.code == 'dim' %}
                                    {% if calendrier.debut|date('H') <= '20' %}
                                        {% if calendrier.fin|date('H') > '20' %}
                                            {{ calendrier.enseignant.prenom }} {{ calendrier.enseignant.name }}
                                            <br/>
                                            {{ calendrier.matiere.name }} <br/>
                                            {{ calendrier.salle.name }} <br/>
                                            {{ calendrier.debut|date('H:i:s') }} -  {{ calendrier.fin|date('H:i:s') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
    <br/>
    <br/>
    <div>
        <table>
            <tr>
                <td width="450"><span class="left">Le Chargé du Cours</span></td>
                <td> <span class="right">Le Directeur du Programme</span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left"></span></td>
                <td> <span class="right"></span></td>
            </tr>
            <tr>
                <td width="450"><span class="left">Date</span></td>
                <td> <span class="right">Date</span></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
