{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendrier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendrier.id }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ calendrier.matiere.name }}</td>
            </tr>
             <tr>
                <th>Enseignant</th>
                <td>{{ calendrier.enseignant.name }}</td>
            </tr> 
            <tr>
                <th>Departement</th>
                <td>{{ calendrier.departement.name }}</td>
            </tr>
             <tr>
                <th>Jour</th>
                <td>{{ calendrier.jour.nom }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ calendrier.debut }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ calendrier.fin }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('calendrier_index') }}">Retour au calendrier</a>
        </li>
        <li>
            <a href="{{ path('calendrier_edit', { 'id': calendrier.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
